<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   <i class="fa icon-gb-component"></i>
   {{explorerComponentCtrl.explorerComponent.title}}
  </p>
 </div>
 <md-button class="gb-close" ng-click="explorerComponentCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body"
     ng-style="{'background-color':explorerComponentCtrl.explorerComponent.background_color.title}">
 <ul class="row nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
   <a href="#gb-component-overview" aria-controls="home" role="tab" data-toggle="tab">
    Overview
   </a>
  </li>
  <li role="presentation" class="pull-right">
   <a href="#gb-component-settings" aria-controls="home" role="tab" data-toggle="tab">
    <i class="fa fa-cog"></i>
   </a>
  </li>
 </ul>
 <div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="gb-component-overview">
   <div class="gb-heading-row-3">
    <div class="gb-title">
     <h2 class="gb-ellipsis">
      <i class="fa fa-list"></i>
      Description
     </h2>
    </div>
    <div class="gb-actions btn-group pull-right">
     <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
      <div class="gb-icon">
       <i class="fa fa-chevron-down"></i>
      </div>
     </md-button>
     <ul class="dropdown-menu dropdown-menu-right">
      <li class="row">
      <md-button ng-show="!explorerComponentCtrl.editDecriptionMode"
                 ng-click="explorerComponentCtrl.editDecriptionMode = true"
                 class="gb-menu-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="gb-icon">
        <i class="fa fa-folder-open-o"></i>
       </div>
       <div class="gb-title">
        <p class="gb-ellipsis">
         EDIT
        </p>
       </div>
      </md-button>
      </li>
     </ul>
    </div>
   </div>
   <div class="gb-body-row-1 row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div ng-hide="explorerComponentCtrl.editDecriptionMode" class="row">
      <strong>{{explorerComponentCtrl.explorerComponent.title}}</strong>
      {{explorerComponentCtrl.explorerComponent.description}}
     </div>
     <form ng-show="explorerComponentCtrl.editDecriptionMode"
           ng-submit="explorerComponentCtrl.editExplorerComponentSections.details()">
      <md-input-container class="md-block">
       <input ng-model="explorerComponentCtrl.explorerComponent.title" name="title" required
              placeholder="Title"
              class="">
      </md-input-container>
      <md-input-container class="md-block">
       <input ng-model="explorerComponentCtrl.explorerComponent.description" name="title"
              placeholder="Description"
              class="">
      </md-input-container>
      <div class="row"
           ng-show="explorerComponentCtrl.editDecriptionMode">
       <div class="btn-group pull-right">
        <md-button type="button" class="" ng-click="explorerComponentCtrl.editDecriptionMode = false">
         Cancel
        </md-button>
        <md-button type="submit" class="gb-color-primary">
         Done
        </md-button>
       </div>
      </div>
     </form>
    </div>
   </div>
   <section class="row"
            ng-repeat="(type, components) in explorerComponentCtrl.explorerComponent.components track by $index">
    <div class="gb-heading-row-3">
     <div class="gb-title">
      <h2 class="gb-ellipsis">
       <i class="fa fa-check-square-o"></i>
       {{type}}
      </h2>
     </div>
     <div class="gb-actions btn-group pull-right">
      <md-button class="gb-ellipsis gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 ng-click="explorerComponentCtrl.getComponents(type)">
       <div class="gb-icon">
        <i class="fa fa-c"></i>
       </div>
      </md-button>
     </div>
    </div>
    <section ng-repeat="component in components track by $index">
     <div class="gb-heading-row-3">
      <div class="gb-title">
       <h2 class="gb-ellipsis">
        <i class="fa fa-check-square-o"></i>
        {{component.title}}
       </h2>
      </div>
      <div class="gb-actions btn-group pull-right">
       <md-button class="gb-ellipsis gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12"
                  ng-click="explorerComponentCtrl.getComponents(component.id, 2)">
        <div class="gb-icon">
         <i class="fa fa-chevron-right"></i>
        </div>
       </md-button>
      </div>
     </div>
    </section>
    <div class="gb-body-row-1 row">
     <div ng-if="false" ng-repeat="component in components track by $index">
      <uib-accordion close-others="false">
       <div uib-accordion-group class="panel-default" >
        <uib-accordion-heading>
         {{component.title}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
        </uib-accordion-heading>
        <div class="row"
             ng-repeat="(type, components) in component.components track by $index">
         <uib-accordion close-others="false">
          <div uib-accordion-group class="panel-default" >
           <uib-accordion-heading>
            {{type}} <i class="pull-right fa" ng-class="{'fa-chevron-down': status.open, 'fa-chevron-right': !status.open}"></i>
           </uib-accordion-heading>
           <div ng-repeat="component in components track by $index">
            {{component.title}}
           </div>
          </div>
         </uib-accordion>

        </div>
       </div>
      </uib-accordion>
     </div>
    </div>
   </section>
  </div>
  <div role="tabpanel" class="tab-pane" id="gb-component-settings">
   <div ng-include="'public/modules/explorer/views/components/component/component-settings.html'"></div>
  </div>
 </div>
</div>
<div class="modal-footer">
 <md-button class="pull-right" aria-label="Close Todo Modal"
            ng-click="explorerComponentCtrl.close()">
  Close
 </md-button>
</div>