<div class="modal-header gb-modal-header row">
 <md-button class="gb-back"
            ng-class="{'gb-disabled-1':!explorerComponentCtrl.component.parent_component_id}"
            ng-click="explorerComponentCtrl.getComponent(explorerComponentCtrl.component.parent_component_id, 2)">
  <i class="fa fa-chevron-left"></i>
 </md-button>
 <div class="gb-title">
  <p class="gb-ellipsis">
   <i class="fa icon-gb-component"></i>
   <a href="#gb-component-overview" aria-controls="home" role="tab" data-toggle="tab">
    {{explorerComponentCtrl.component.title}}
   </a>
  </p>
 </div>
 <md-button class="gb-settings"
            href="#gb-component-settings" aria-controls="home" role="tab" data-toggle="tab">
  <i class="fa fa-cog"></i>
 </md-button>
 <md-button class="gb-close" ng-click="explorerComponentCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body"
     ng-style="{'background-color':explorerComponentCtrl.component.background_color.title}">
 <div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="gb-component-overview">
   <div class="gb-heading-row-3">
    <div class="gb-title">
     <h2 class="gb-ellipsis">
      <i class="fa fa-list"></i>
      Description
     </h2>
    </div>
    <div class="gb-actions btn-group pull-right">
     <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
      <div class="gb-icon">
       <i class="fa fa-chevron-down"></i>
      </div>
     </md-button>
     <ul class="dropdown-menu dropdown-menu-right">
      <li class="row">
      <md-button ng-show="!explorerComponentCtrl.editDecriptionMode"
                 ng-click="explorerComponentCtrl.editDecriptionMode = true"
                 class="gb-menu-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="gb-icon">
        <i class="fa fa-folder-open-o"></i>
       </div>
       <div class="gb-title">
        <p class="gb-ellipsis">
         EDIT
        </p>
       </div>
      </md-button>
      </li>
     </ul>
    </div>
   </div>
   <div class="gb-body-row-1 row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div ng-hide="explorerComponentCtrl.editDecriptionMode" class="row">
      <strong>{{explorerComponentCtrl.component.title}}</strong>
      {{explorerComponentCtrl.component.description}}
     </div>
     <form ng-show="explorerComponentCtrl.editDecriptionMode"
           ng-submit="explorerComponentCtrl.editExplorerComponentSections.details()">
      <md-input-container class="md-block">
       <input ng-model="explorerComponentCtrl.component.title" name="title" required
              placeholder="Title"
              class="">
      </md-input-container>
      <md-input-container class="md-block">
       <input ng-model="explorerComponentCtrl.component.description" name="title"
              placeholder="Description"
              class="">
      </md-input-container>
      <div class="row"
           ng-show="explorerComponentCtrl.editDecriptionMode">
       <div class="btn-group pull-right">
        <md-button type="button" class="" ng-click="explorerComponentCtrl.editDecriptionMode = false">
         Cancel
        </md-button>
        <md-button type="submit" class="gb-color-primary">
         Done
        </md-button>
       </div>
      </div>
     </form>
    </div>
   </div>
   <section class="row"
            ng-repeat="(type, component) in explorerComponentCtrl.component.components track by $index">
    <ng-include ng-if="component.components.length > 1" src="'public/modules/explorer/views/components/component/component-'+type+'.html'">
    </ng-include>
   </section>
  </div>
  <div role="tabpanel" class="tab-pane" id="gb-component-settings">
   <div ng-include="'public/modules/explorer/views/components/component/component-settings.html'"></div>
  </div>
 </div>
</div>
<div class="modal-footer">
 <md-button class="pull-right" aria-label="Close Todo Modal"
            ng-click="explorerComponentCtrl.close()">
  Close
 </md-button>
</div>