<div class="modal-header gb-modal-header row">
 <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="gb-ellipsis">
   {{skillTodoCtrl.skillTodo.todo.title}}
  </p>
 </div>
 <a class="pull-right gb-ghost-btn-2" ng-click="skillTodoCtrl.close()">
  X
 </a>
</div>
<div class="modal-body">
 <section class="gb-section-row-1 row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     DESCRIPTION
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="!skillTodoCtrl.editDecriptionMode">
    <a class="gb-ghost-btn-2 pull-right" ng-click="skillTodoCtrl.enterEditDescriptionMode()">
     <i class="fa fa-pencil"></i>
    </a>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="skillTodoCtrl.editDecriptionMode">
    <div class="btn-group pull-right">
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelEditDescriptionMode()">
      <i class="text-danger fa fa-times"></i>
     </a>
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelEditDescriptionMode()">
      <i class="text-success fa fa-check"></i>
     </a>
    </div>
   </div>
  </header>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ng-show="!skillTodoCtrl.editDecriptionMode" id="gb-skill-item-todo-panel" class="row">
    <strong>{{skillTodoCtrl.skillTodo.todo.title}}</strong>
    {{skillTodoCtrl.skillTodo.todo.description}}
   </div>
   <div ng-show="skillTodoCtrl.editDecriptionMode" class="row">
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea rows="2" ng-model="skillTodoCtrl.skillTodoBackUp.todo.title"
                placeholder="title"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </textarea>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea rows="3" ng-model="skillTodoCtrl.skillTodoBackUp.todo.description"
                placeholder="description"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </textarea>
     </div>
    </div>
   </div>
  </div>
 </section>

 <section class="gb-section-row-1 row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     CHECKLIST
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="!skillTodoCtrl.addChecklistMode">
    <a class="gb-ghost-btn-2 pull-right" ng-click="skillTodoCtrl.enterAddChecklistMode()">
     <i class="fa fa-plus"></i>
    </a>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="skillTodoCtrl.addChecklistMode">
    <div class="btn-group pull-right">
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelAddChecklistMode()">
      <i class="text-danger fa fa-times"></i>
     </a>
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.createTodoChecklist(skillTodoCtrl.newTodoChecklistData)">
      <i class="text-success fa fa-check"></i>
     </a>
    </div>
   </div>
  </header>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-checklist">
    <div class='row'>
     <form class="gb-form-1" ng-show="skillTodoCtrl.addChecklistMode" name="form" novalidate>
      <div class="form-group row">
       <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
       <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                  placeholder="Checklist Description" ng-model="skillTodoCtrl.newTodoChecklistData.description"
                  name="uName" required="" rows="4">
        </textarea>
       </div>
      </div>
      <div class="form-group row">
       <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Privacy:</label>
       <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <div class="radio gb-radio-row">
         <label class="">
          <input type="radio" ng-model="skillTodoCtrl.newTodoChecklistData.privacy" value="0" />
          <strong>public</strong> All people can see this todo
         </label>
        </div>
        <div class="radio gb-radio-row">
         <label>
          <input type="radio" ng-model="skillTodoCtrl.newTodoChecklistData.privacy" value="1" />
          <strong>private</strong> only you can see this todo
         </label>
        </div>
        <div class="radio gb-radio-row">
         <label>
          <input type="radio" ng-model="skillTodoCtrl.newTodoChecklistData.privacy" value="2" />
          <strong>custom</strong> choose who to see this todo
         </label>
        </div>
       </div>
      </div>
      <div class="form-group row" ng-class="{'gb-disabled-2': skillTodoCtrl.newTodoChecklistData.privacy != 2}">
       <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Choose Members:</label>
       <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
        <input type="text" class="form-control" placeholder="Select members"/>
       </div>
      </div>
      <div class="form-group row">
       <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">
        <a class="btn btn-link" ng-click="skillTodoCtrl.showAdvanced()">
         Show Advanved
        </a>
       </label>
      </div>
      <div class="gb-form-footer row">
       <div class="btn-group pull-right col-lg-5 col-md-5 col-sm-66 col-xs-12">
        <a class="btn gb-btn gb-btn-md col-lg-6 col-md-6 col-sm-6 col-xs-6"
           ng-click="skillTodoCtrl.cancelAddChecklistMode()">
         Cancel
        </a>
        <a class="btn gb-btn gb-btn-md col-lg-6 col-md-6 col-sm-6 col-xs-6"
           ng-click="skillTodoCtrl.createTodoChecklist(skillTodoCtrl.newTodoChecklistData)">
         Add Item
        </a>
       </div>
      </div>
     </form>
    </div>
    <div class="gb-todo-body row" ng-show="skillTodoCtrl.todoChecklist.length" ng-cloak>
     <ul class="gb-checklist-nav">
      <li ng-repeat="todoChecklistItem in skillTodoCtrl.todoChecklist| filter:statusFilter track by $index" ng-class="{completed: todoChecklist.completed, editing: todoChecklist == skillTodoCtrl.editedTodo}">
       <div class="gb-checklist-row row">
        <input class="toggle col-lg-1" type="checkbox" ng-model="todoChecklistItem.completed">
        <div class='gb-checklist-item-content col-lg-9'>
         <a class="btn-link text-left gb-ellipsis" ng-click="skillTodoCtrl.openTodoChecklist(todoChecklist)">
          {{todoChecklistItem.checklist.description}}
         </a>
        </div>
        <div class="gb-checklist-item-action btn-group col-lg-2">
         <a class="btn btn-xs pull-right gb-ghost-btn-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          more
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">View</a></li>
          <li><a ng-click="skillTodoCtrl.editTodo(todoChecklistItem)">Edit</a></li>
          <li><a ng-click="skillTodoCtrl.removeTodo(todoChecklistItem)">Delete</a></li>
         </ul>
        </div>
       </div>
      </li>
     </ul>
    </div>
    <div class="gb-footer" ng-show="skillTodoCtrl.todoChecklist.length" ng-cloak>
     <span id="todo-count"><strong>{{skillTodoCtrl.remainingCount}}</strong>
      <ng-pluralize count="skillTodoCtrl.remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
     </span>
    </div>
   </div>

  </div>
 </section>
 <section class="gb-section-row-1 row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     CONTRIBUTORS
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="!skillTodoCtrl.editDecriptionMode">
    <a class="gb-ghost-btn-2 pull-right" ng-click="skillTodoCtrl.enterEditDescriptionMode()">
     <i class="fa fa-pencil"></i>
    </a>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="skillTodoCtrl.editDecriptionMode">
    <div class="btn-group pull-right">
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelEditDescriptionMode()">
      <i class="text-danger fa fa-times"></i>
     </a>
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelEditDescriptionMode()">
      <i class="text-success fa fa-check"></i>
     </a>
    </div>
   </div>
  </header>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ng-show="!skillTodoCtrl.editDecriptionMode" id="gb-skill-item-todo-panel" class="row">
    <strong>{{skillTodoCtrl.skillTodo.todo.title}}</strong>
    {{skillTodoCtrl.skillTodo.todo.description}}
   </div>
   <div ng-show="skillTodoCtrl.editDecriptionMode" class="row">
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea rows="2" ng-model="skillTodoCtrl.skillTodoBackUp.todo.title"
                placeholder="title"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </textarea>
     </div>
    </div>
    <div class="form-group row">
     <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
     <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
      <textarea rows="3" ng-model="skillTodoCtrl.skillTodoBackUp.todo.description"
                placeholder="description"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
      </textarea>
     </div>
    </div>
   </div>
  </div>
 </section>
</div>
<div class="modal-footer">
 <div class="btn-group pull-right col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <a class="btn gb-btn gb-btn-sm col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="skillTodoCtrl.close()">
   Done
  </a>
 </div>
</div>
