<div class="modal-header gb-modal-header row">
 <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="gb-ellipsis">
   {{skillTodoCtrl.skillTodo.todo.description}}
  </p>
 </div>
 <a class="pull-right gb-ghost-btn-2" ng-click="skillTodoCtrl.close()">
  X
 </a>
</div>
<div class="modal-body">
 <section class="gb-section-row-1 row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     DESCRIPTION
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="!skillTodoCtrl.editDecriptionMode">
    <a class="gb-ghost-btn-2 pull-right" ng-click="skillTodoCtrl.enterEditDescriptionMode()">
     <i class="fa fa-pencil"></i>
    </a>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3"
        ng-show="skillTodoCtrl.editDecriptionMode">
    <div class="btn-group pull-right">
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelEditDescriptionMode()">
      <i class="text-danger fa fa-times"></i>
     </a>
     <a class="btn gb-btn gb-btn-xs"
        ng-click="skillTodoCtrl.cancelEditDescriptionMode()">
      <i class="text-success fa fa-check"></i>
     </a>
    </div>
   </div>
  </header>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ng-show="!skillTodoCtrl.editDecriptionMode" id="gb-skill-item-todo-panel" class="row">
    {{skillTodoCtrl.skillTodo.todo.description}}
   </div>
   <div ng-show="skillTodoCtrl.editDecriptionMode" class="row">
    <textarea rows="3" ng-model="skillTodoCtrl.skillTodoBackUp.todo.description"
              class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
    </textarea>
   </div>
  </div>
 </section>
</div>
<div class="modal-footer">
 <div class="btn-group pull-right col-lg-2 col-md-2 col-sm-4 col-xs-4">
  <a class="btn gb-btn gb-btn-sm col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="skillTodoCtrl.close()">
   Done
  </a>
 </div>
</div>
