<div ng-include="'public/modules/app/views/top-menu.html'"></div>
<div class="gb-container gb-app-list col-lg-6 col-md-8 col-sm-11 col-xs-12">
 <section class="gb-shadow-1 gb-background-white gb-section-row-2 gb-padding-none row">
  <header class="gb-heading row">
   <div class="col-lg-6 col-md-6 col-sm-7 col-xs-8">
    <p class="gb-title gb-ellipsis">
     {{$root.appName}}
    </p>
   </div>
   <div class="col-lg-6 col-md-6 col-sm-5 col-xs-4">
    <div class="btn-group pull-right">
     <a ui-sref="apps.questionnaires.questionnaire" ui-sref-active="active" class="btn btn-link">
      <i class="gb-icon fa icon-gb-swipe"></i>
     </a>
     <a ui-sref="apps.questionnaires.history" ui-sref-active="active" class="btn btn-link">
      <i class="gb-icon fa fa-history"></i>
     </a>
    </div>
   </div>
  </header>
 </section>
 <div ui-view="app-tab" class=""></div>
</div>
<!-- ------------------------------- MODALS --------------------------->

<script type="text/ng-template" id="add-questionnaire-modal.html">
 <div ng-include="'public/modules/questionnaire/views/modals/add-questionnaire.html'"></div>
</script>