/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Oct 25, 2014, 9:05:48 PM
    Author     : Tremmillicious
*/
.gb-link:hover {
 background-color: #D5D5D5;
}
.gb-link.active {
 background-color: #F2F2F2;
 opacity: 0.95;
}
.gb-link:hover .gb-title,
.gb-link:hover .gb-heading,
.gb-link.active .gb-title,
.gb-link.active .gb-heading{
 color: #111;
}
.gb-link:hover .gb-description,
.gb-link.active .gb-description {
 color: #444;
}

.gb-side-nav-1 li:hover,
.gb-side-nav-1 li.active {
 border-bottom: #217346 solid 4px;
}
.gb-icon-top-nav-1 li:hover img,
.gb-icon-top-nav-1 li.active img{
 background-color: #C3CCCB;
 border: #217346 solid 2px;
}
.gb-icon-top-nav-1 li:hover a .gb-line-1,
.gb-icon-top-nav-1 li.active a .gb-line-1{
 background-color: #217346;
}
.gb-nav-1 li:hover,
.gb-nav-1 li.active {
 border-bottom: #154E2D solid 4px;
}

.gb-background-dark {
 background-color: #217346;
}
.gb-background-dark a{
 color: #EEE;
}
.gb-background-dark a:hover{
 color: #FFF;
}
.gb-background-dark .home-menu-box-3{
 background-color: #1C683C;
 margin-bottom: 4px;
}
.gb-background-dark .badge-info{
 background-color: #154E2D;
 margin-bottom: 4px;
}
.gb-background-dark .home-menu-box-3:hover{
 background-color: #154E2D;
}
.gb-background-dark .gb-home-nav .thumbnail {
 padding: 3px 10px 3px 10px;
}
.gb-background-dark .gb-home-nav .gb-img-container {
 border: #154E2D solid 5px;
}
.gb-background-dark .gb-home-nav .thumbnail:hover {
 background-color: #154E2D;
}
.gb-heading-bar {
 background-color: #217346;
 background-image: url(../../img/background_2.png);
}
.gb-form-header {
 background-color: #154E2D;
 color:#EEE;
}
.gb-modal-header {
 background-color: #154E2D;
 color:#EEE;
}
.gb-todo-list .gb-parent-box {
 border-left: #16A86B solid 3px;
}

.gb-block-row-lg .gb-heading{
 border-bottom: #217346 solid 3px;
}
.gb-block-row-lg .gb-heading-img{
 border: #217346 solid 2px;
}
.gb-user-badge .gb-heading{
 border-bottom: #217346 solid 1px;
}
.gb-user-badge .gb-heading-img{
 border: #217346 solid 1px;
}

.gb-block-row-sm .gb-heading{
 border-bottom: #217346 solid 2px;
}

.gb-block-row-sm .gb-heading-img{
 border: #217346 solid 1px;
}

.gb-block-row-todolist .gb-heading {
 border-bottom: #217346 solid 1px;
}
.btn-primary {
 background-color: #154E2D;
}
.btn-primary:hover {
 background-color: #11453C;
}
.gb-dropdown-link {
 color: #444;
}
.progress-bar-info {
 background-color: #154E2D;
}
.gb-stat-box .gb-heading {
 color: #154E2D;
}
.gb-left-nav-2 {
 border-right: #217346 solid 1px;
}
.gb-side-nav-2 li:not(.gb-dropdown-list) {
 border-bottom: #154E2D solid 3px;
}
.gb-side-nav-2 li:not(.gb-dropdown-list) .gb-icon-2 {
 margin: 5px 5px auto 5px;
}
.gb-side-nav-2 li:not(.gb-dropdown-list):hover,
.gb-side-nav-2 li:not(.gb-dropdown-list).active {
}
.gb-side-nav-2 li:not(.gb-dropdown-list):hover a:not(.gb-dropdown-link),
.gb-side-nav-2 li:not(.gb-dropdown-list).active a:not(.gb-dropdown-link){
}
.gb-side-nav-2 li:not(.gb-dropdown-list):hover a:not(.gb-dropdown-link):hover,
.gb-side-nav-2 li:not(.gb-dropdown-list).active a:not(.gb-dropdown-link):hover{

}