a,
a.btn-link {
 color: #0298AB;
}
a:hover,
a.btn-link:hover {
 color:#016875;
}

#gb-navbar {
 border-bottom: #0298AB solid 1px!important;
}

.navbar-header a strong {
 color:  #0298AB;
}

#gb-navbar-nav a {
 color: #0298AB;
}

#gb-left-nav-3 .gb-link.active{
 border-left: #0298AB solid 5px;
}


.gb-icon-top-nav-1 {
 border-bottom: #0298AB solid 1px;
}

.gb-icon-top-nav-1 li:hover {
}

.gb-icon-top-nav-1 li.active {
}



.btn-primary {
 background-color: #027887;
}

.btn-primary:hover {
 background-color: #016875;
}

.gb-box-2 {
 -webkit-box-shadow: #027887 -1px 1px 2px;
 -moz-box-shadow: #027887 -1px 1px 2px;
 box-shadow: #027887 -1px 1px 2px;
}
.gb-box-7 {
 border-bottom: #027887 solid 1px;
}

.gb-form-border {
 -webkit-box-shadow: 0 10px 6px -6px #777;
 -moz-box-shadow: 0 10px 6px -6px #777;
 box-shadow: 0 10px 6px -6px #777;
 border: #027887 outset 1px;
}

/*-----------TIMELINE--------------*/

.smart-timeline-icon {
 background: #0298AB;
}