<!--
ADD COMPONENT DIALOG
-->
<md-dialog class="add-components-dialog" aria-label="Add Components Dialog">
 <md-dialog-content layout="row" layout-fill>
  <md-tab>
   <md-tab-body>
    <div class="gb-app-tab-content">
     <div class="gb-dialog-header">
      <div layout="column" layout-align="start start" flex>
       <md-toolbar class="gb-heading">
        <div class="md-toolbar-tools">
         <md-button class="md-icon-button" md-prevent-menu-close
                    ng-click="vm.tabBack()" aria-label="Back"
                    ng-if="vm.selectedTabHistory.length > 1"
                    translate translate-attr-aria-label="explorer.back_text">
          <md-icon class="gb-title-icon" md-font-icon="fa fa-arrow-left"></md-icon>
         </md-button>
         <div class="gb-heading-title">
          <span class="ellipsis">
           Create {{vm.selectedApp.title}}
          </span>
         </div>
         <span flex></span>
        </div>
       </md-toolbar>
      </div>
     </div>
     <form class="gb-dialog-body" ms-scroll>
      <div class="gb-title">
       <md-input-container class="md-block">
        <label translate="explorer.title_text">Title</label>
        <textarea ng-model="vm.component.title" columns="1" md-maxlength="150" max-rows="2"></textarea>
       </md-input-container>
      </div>
      <div class="description">
       <md-input-container class="md-block">
        <label translate="explorer.description_text">Description</label>
        <textarea ng-model="vm.component.description" columns="1" md-maxlength="150" max-rows="4"></textarea>
       </md-input-container>
      </div>
     </form>
    </div>
   </md-tab-body>
  </md-tab>
 </md-dialog-content>
 <md-dialog-actions layout="row">
  <span flex></span>
  <md-button class="md-raised" ng-click="vm.closeDialog()">
   Cancel
  </md-button>
  <md-menu class="">
   <md-button class="md-raised" ng-click="$mdOpenMenu($event)" aria-label="Select Privacy">
    {{vm.privacy.selected.title}}
   </md-button>
   <md-menu-content class="subscribe-menu-content" width="4">
    <md-menu-item>
     <md-button ng-click="vm.selectPrivacy(vm.privacy.private, 'Public')" aria-label="Public"
                translate="explorer.public_text" translate-attr-aria-label="explorer.public_text">
      Public
     </md-button>
    </md-menu-item>
    <md-menu-item>
     <md-button ng-click="vm.selectPrivacy(vm.privacy.private, 'Private')" aria-label="Private"
                translate="explorer.private_text" translate-attr-aria-label="explorer.private_text">
      Private
     </md-button>
    </md-menu-item>
   </md-menu-content>
  </md-menu>
  <md-button class="md-raised md-accent" ng-click="vm.submit()">
   Create
  </md-button>
 </md-dialog-actions>
</md-dialog>