<div class="row gb-contributions" ng-controller="ContributionsCtrl as explorerContributionsCtrl">
 <div ng-if="false" class='row'>
  <div ng-repeat="contributionType in explorerContributionsCtrl.explorerContributionTypes"
       class=" col-lg-6 col-md-6 col-sm-6 col-xs-6 gb-padding-thin"
       ng-click="explorerContributionsCtrl.prepareSelectUsers(contributionType)">
   <md-button class="md-raised gb-apptype-btn">
    <div class="gb-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
     <i class=" fa {{contributionType.icon}}"></i>
    </div>
    <div class="gb-title col-lg-10 col-md-10 col-sm-10 col-xs-10">
     <div class="gb-ellipsis">
      Add {{contributionType.name}}s
     </div>
    </div>
   </md-button>
  </div>
 </div>
 <div class="row">
  <ul class="drag-list">
   <li class="drag-column"
       ng-repeat="explorerContribution in explorerContributionsCtrl.explorerContributions">
    <div class="drag-column-header">
     <div class="gb-title">
      <h2 class="gb-title gb-ellipsis">
       <i class="fa fa-user"></i>
       {{explorerContribution.contribution.contributor.firstname + ' ' + explorerContribution.contribution.contributor.lastname}}
      </h2>
     </div>
     <div class="gb-actions btn-group pull-right">
      <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
       <div class="gb-icon">
        <i class="fa fa-chevron-down"></i>
       </div>
      </md-button>
      <ul class="dropdown-menu dropdown-menu-right">
       <li class="row">
       <md-button class="gb-menu-item col-lg-12 col-md-12 col-sm-12 col-xs-12"
                  ng-click="">
        <div class="gb-icon">
         <i class="fa fa-folder-open-o"></i>
        </div>
        <div class="gb-title">
         <p class="gb-ellipsis">
          VIEW
         </p>
        </div>
       </md-button>
       </li>
      </ul>
     </div>
    </div>
    <ul class="drag-inner-list">
     <li class="drag-item">
      <ul class="drag-inner-list">
       <li class="drag-item">
        <div class="gb-card-profile">
         <div class="gb-box-content">
          <div class="gb-title row">
           <h3 class="gb-ellipsis">
            <a data-ui-sref="apps.explorerItem.explore({explorerId: explorer.first_explorer.id})">
             {{explorerContribution.contribution.contributor.firstname + ' ' + explorerContribution.contribution.contributor.lastname}}
            </a>
           </h3>
          </div>
          <div class="gb-subdescription row">
           <p class="gb-ellipsis">
            {{explorerContribution.contribution.level.title}} - {{explorerContribution.contribution.status.name}}
           </p>
          </div>
          <div class="gb-description row">
          </div>
         </div>
         <div class="gb-image">
          <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
               src="public/img/profile_pic/{{explorerContribution.contribution.contributor.avatar_url}}"
               class="gb-heading-pic" alt="">
         </div>
        </div>
       </li>
      </ul>
     </li>
    </ul>
   </li>
  </ul>
 </div>
</div>
<script type="text/ng-template" id="contribution-modal.html">
 <div class="gb-contribution-page" ng-include="'public/modules/explorer/views/components/contribution/contribution-modal.html'"></div>
</script>
<script type="text/ng-template" id="create-contribution-modal.html">
       <div class="gb-contribution-page" ng-include="'public/modules/explorer/views/components/contribution/create-contribution-modal.html'"></div>
</script>