<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   {{explorerActivityCtrl.explorerActivity.activity.title}}
  </p>
 </div>
 <md-button class="gb-close" ng-click="explorerActivityCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-3 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-file-text-o"></i>
    </div>
    <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
     <p class="gb-ellipsis">
      DESCRIPTION
     </p>
    </div>
    <div class="btn-group pull-right">
     <md-button type="button" class="gb-action" ng-show="!explorerActivityCtrl.editDecriptionMode"
                ng-click="explorerActivityCtrl.editDecriptionMode = true">
      <i class="fa fa-pencil"></i>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <div class="gb-body-row-1 row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ng-hide="explorerActivityCtrl.editDecriptionMode" class="row">
    <strong>{{explorerActivityCtrl.explorerActivity.activity.title}}</strong>
    {{explorerActivityCtrl.explorerActivity.activity.description}}
   </div>
   <form ng-show="explorerActivityCtrl.editDecriptionMode"
         ng-submit="explorerActivityCtrl.editExplorerActivitySections.details()">
    <md-input-container class="md-block">
     <input ng-model="explorerActivityCtrl.explorerActivity.activity.title" name="title" required
            placeholder="Title"
            class="">
    </md-input-container>
    <md-input-container class="md-block">
     <input ng-model="explorerActivityCtrl.explorerActivity.activity.description" name="title"
            placeholder="Description"
            class="">
    </md-input-container>
    <div class="row"
         ng-show="explorerActivityCtrl.editDecriptionMode">
     <div class="btn-group pull-right">
      <md-button type="button" class="" ng-click="explorerActivityCtrl.editDecriptionMode = false">
       Cancel
      </md-button>
      <md-button type="submit" class="gb-color-primary">
       Done
      </md-button>
     </div>
    </div>
   </form>
  </div>
 </div>
 <div class="gb-body-row-1 row">
  <div ng-repeat="activity in explorerActivityCtrl.explorerSubActivities track by $index">
   <div class="gb-subactivity-box row">
    <div class="gb-box-body row">
     <div class="gb-number">
      {{$index + 1}}
     </div>
     <div class="gb-box-content">
      <div class="gb-description row">
       <p class="">
        {{activity.title}}
        <i>
         {{activity.description}}
        </i>
       </p>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-3 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-file-text-o"></i>
    </div>
    <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
     <p class="gb-ellipsis">
      QUESTIONS
     </p>
    </div>
    <div class="btn-group pull-right">
     <md-button type="button" class="gb-action" ng-show="!explorerActivityCtrl.editDecriptionMode"
                ng-click="explorerActivityCtrl.editDecriptionMode = true">
      <i class="fa fa-plus"></i>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <div class="gb-body-row-1 row">
  <div class="gb-steps" ng-repeat="activityQuestion in explorerActivityCtrl.activityQuestions track by $index">
   <div class="gb-step">
    <div class="row">
     <div class="gb-step-content">
      {{activityQuestion.question.description}}
     </div>
    </div>
    <md-input-container class="md-block">
     <textarea ng-model="a" name="title"
               placeholder="" rows="3"
               class="form-control">
     </textarea>
    </md-input-container>
   </div>
  </div>
 </div>
</div>
<div class="modal-footer">
 <md-button class="pull-right" aria-label="Close Todo Modal"
            ng-click="explorerActivityCtrl.close()">
  Close
 </md-button>
</div>