<!--
MATCHER TAB VIEW
-->
<div class="gb-welcome-section-4" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="column" layout-align="" flex>
  <div class="" layout="column" layout-align="center center" flex>
   <div class="text-center">
    <h2 class="gb-title">
     Random Questions Explorer
    </h2>
    <p class="gb-description">
     Answer random questions to match you with skill. Press "Not Now" to skip.
    </p>
   </div>
  </div>
 </div>
 <div class="gb-container widget-group gb-card-row" layout-align="center center"  layout="row" flex>
  <ms-widget flippable="true" class="gb-matcher-widget" layout="column" layout="column" flex-gt-sm="60" flex-gt-xs="80" flex="95">
   <ms-widget-front class="md-whiteframe-2dp" layout="row" flex>
    <div layout="column" layout-align="center center" flex>
     <div class="gb-type-title">
      {{vm.component.type.title}}
     </div>
     <div class="gb-title">
      {{vm.component.title}}
     </div>
     <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
      Details
     </md-button>
    </div>
    <div class="background-image-center" layout-align="center center" flex>
     <md-icon md-font-icon="fa icon-gb-{{vm.component.type.title.toLowerCase()}}" class="gb-background-icon"></md-icon>
    </div>
   </ms-widget-front>
   <ms-widget-back class="grey-50-bg">
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-pencil"></md-icon>
      </md-button>
      <div class="gb-heading-title">
       <span class="ellipsis">
        Description
       </span>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-times"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
    <div class="gb-type-title">
     {{vm.component.type.title}}
    </div>
    <div class="gb-title">
     {{vm.component.title}}
    </div>
    <div class="gb-description">
     {{vm.component.description}}
    </div>
   </ms-widget-back>
  </ms-widget>
 </div>
 <div class="gb-container mt-10" layout-align="center center" layout="row">
  <form name="matcherAnswerForm" novalidate flex-gt-sm="60" flex-gt-xs="80" flex="95">
   <md-input-container class="md-block">
    <textarea name="title" ng-model="vm.matcherAnswerForm.title"
              placeholder="Your Answer"
              md-maxlength="150" max-rows="5"></textarea>
   </md-input-container>
  </form>
 </div>
 <div class="gb-container gb-answer-btn-row mt-10" layout-align="center center" layout="row" flex>
  <md-button type="button" ng-click="vm.getMatcher()"
             class="md-raised">
   Not Now
  </md-button>
  <md-button type="button" ng-click="vm.createMatcher()"
             class="md-primary md-raised">
   Answer
  </md-button>
 </div>
</div>

