<div class="modal-header gb-modal-header row">
 <div class="gb-modal-title col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="gb-ellipsis">
   {{selectUsersCtrl.modalData.title}}
  </p>
 </div>
 <a class="pull-right gb-ghost-btn-2" ng-click="selectUsersCtrl.cancel()">
  x
 </a>
</div>
<div class="modal-body gb-modal-body">
 <div ng-repeat="user in selectUsersCtrl.users">
  <a>
   {{user.firstname}}
  </a>
 </div>
</div>
<div class="modal-footer">
 <div class="gb-flex-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="gb-container btn-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
   <a class="btn gb-btn gb-btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="selectUsersCtrl.cancel()">
    Cancel
   </a>
   <a class="btn gb-btn gb-btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="selectUsersCtrl.select()">
    Select
   </a>
  </div>
 </div>
</div>