<div class="modal-header gb-modal-header row">
 <div class="gb-modal-title col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="gb-ellipsis">
   {{selectUsersCtrl.modalData.title}}
  </p>
 </div>
 <a class="pull-right gb-ghost-btn-2" ng-click="selectUsersCtrl.cancel()">
  x
 </a>
</div>
<div class="modal-body gb-modal-body">
 <div ng-repeat="user in selectUsersCtrl.users" class="gb-box-1 col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <div class="gb-box-body ">
   <div class="gb-heading row">
    <p class="gb-title">
     NOT SELECTED
    </p>
   </div>
   <div class="gb-description row">
    <a ui-sref="profile.overview({profileId: user.id})" target="_blank" class="gb-ellipsis">
     {{user.firstname + " " + user.lastname}}
    </a>
   </div>
   <div class="gb-footer row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="btn-toolbar">
      <a class="btn btn-xs btn-default col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <p class="gb-ellipsis">
        <i class="fa icon-tools2"></i> [0]
       </p>
      </a>
      <a class="btn btn-xs btn-default col-lg-3 col-md-3 col-sm-3 col-xs-3">
       <p class="gb-ellipsis">
        <i class="fa fa-check-square-o"></i> [0/0]
       </p>
      </a>
      <a class="btn btn-xs btn-default col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <p class="gb-ellipsis">
        <i class="fa icon-chat"></i> [0]
       </p>
      </a>
      <a class="btn btn-xs btn-default col-lg-2 col-md-2 col-sm-2 col-xs-2">
       <p class="gb-ellipsis">
        <i class="fa icon-gb-community"></i> [0]
       </p>
      </a>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="modal-footer">
 <div class="gb-flex-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="gb-container btn-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
   <a class="btn gb-btn gb-btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="selectUsersCtrl.cancel()">
    Cancel
   </a>
   <a class="btn gb-btn gb-btn-sm col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-click="selectUsersCtrl.select()">
    Select
   </a>
  </div>
 </div>
</div>