<div class="gb-container gb-app-list col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <section class="gb-shadow-1 gb-background-white gb-section-row-2 gb-padding-none row">
  <header class="gb-heading row">
   <div class="col-lg-8 col-md-8 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     MY EXPLORER
    </p>
   </div>
  </header>
 </section>
 <div class="row">
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
   <ul class="nav gb-icon-side-nav-1">
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.explorer.all">
     <i class="gb-icon fa icon-gb-discover"></i>
     <div class="gb-title">
      ALL
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.profile.app({'app_name': 'skills'})">
     <i class="gb-icon fa icon-gb-skills"></i>
     <div class="gb-title">
      MY SKILLS
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.profile.app({'app_name': 'goals'})">
     <i class="gb-icon fa icon-gb-goals"></i>
     <div class="gb-title">
      MY GOALS
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.profile.app({'app_name': 'promises'})">
     <i class="gb-icon fa icon-gb-promises"></i>
     <div class="gb-title">
      MY PROMISES
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.profile.app({'app_name': 'hobbies'})">
     <i class="gb-icon fa icon-gb-hobbies"></i>
     <div class="gb-title">
      MY HOBBIES
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.profile.app({'app_name': 'mentorships'})">
     <i class="gb-icon fa icon-gb-mentorships"></i>
     <div class="gb-title">
      MY MENTORSHIPS
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.explorer.app({'app_name': 'advices'})">
     <i class="gb-icon fa icon-gb-advices"></i>
     <div class="gb-title">
      MY ADVICES
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.explorer.app({'app_name': 'teach'})">
     <i class="gb-icon fa icon-gb-teach"></i>
     <div class="gb-title">
      MY TEACHINGS
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <md-button class="gb-ellipsis" ui-sref="apps.explorer.app({'app_name': 'collaborations'})">
     <i class="gb-icon fa icon-gb-collaborations"></i>
     <div class="gb-title">
      MY COLLABORATIONS
     </div>
    </md-button>
    </li>
   </ul>
  </div>
  <div ng-include="'public/modules/explorer/views/tabs/explorers/explorer-list.html'"
       class="col-lg-9 col-md-9 col-sm-12 col-xs-12"></div>
 </div>
</div>
<!-- ------------------------------- MODALS --------------------------->

<script type="text/ng-template" id="add-explorer-modal.html">
 <div ng-include="'public/modules/explorer/views/add-explorer-modal.html'"></div>
</script>
<script type="text/ng-template" id="add-request-explorer-modal.html">
 <div ng-include="'public/modules/explorer/views/create-request-explorer-modal.html'"></div>
</script>