<!-- CONTRIBUTION TYPES -->
<div class="widget-group"
     layout="row" layout-align="start" layout-wrap flex>
 <ms-widget class="p-8 gb-section-widget" layout="column" flex="100" flex-gt-sm="50"
            ng-repeat="contributionType in $root.commonData.contributionTypes">

  <ms-widget-front layout="row" layout-fill flex>
   <md-button ng-click="vm.selectAddContributors(contributionType)" class="gb-main-button"
              layout="row" layout-align="start stretch" flex>
    <div class="gb-title-icon" ng-class="'md-' + contributionType.background_color + '-400-bg'" layout-fill layout="row" layout-align="center center" flex>
     <i class="fa {{contributionType.icon}}"></i>
    </div>
    <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
     <div class="gb-title">
      REQUEST {{contributionType.title}}
     </div>
     <div class="gb-description">
      {{contributionType.long_description}}
     </div>
    </div>
   </md-button>
  </ms-widget-front>
 </ms-widget>
</div>
