<!-- CONTRIBUTION -->
<form class="">
 <div class="gb-members" flex>
  <div class="section-content">
   <md-chips class="gb-member-chips" ng-model="vm.componentContribution.selectedContributors" md-autocomplete-snap
             md-require-match="true" md-transform-chip="$chip">
    <md-autocomplete
     md-selected-item="vm.componentContribution.selectedContributor"
     md-search-text="vm.searchContributorText"
     md-items="member in vm.contributionSuggestionsQuerySearch(vm.searchContributorText)"
     md-item-text="member.firstname+' '+member.lastname"
     placeholder="Search for a member">
     <span md-highlight-text="vm.searchContributorText">
      {{member.firstname + ' ' + member.lastname}}
     </span>
    </md-autocomplete>
    <md-chip-template class="gb-member-chip">
     <img class="gb-member-chip-avatar" src="assets/images/profile_pic/{{$chip.avatar_url}}" alt="">
     <strong>{{$chip.firstname + ' ' + $chip.lastname}}</strong>
    </md-chip-template>
    <button md-chip-remove class="md-primary">
     <md-icon md-font-icon="icon-close" class="s18"></md-icon>
    </button>
   </md-chips>
  </div>
 </div>
 <div class="description">
  <md-input-container class="md-block">
   <label>Personalize the invite with a note</label>
   <textarea ng-model="vm.componentContribution.description" columns="1" md-maxlength="150" max-rows="4"></textarea>
  </md-input-container>
 </div>
</form>