<!--
SECTIONS
-->
<div class="gb-dialog-header">
 <div layout="column" layout-align="start start" flex>
  <md-toolbar class="gb-heading">
   <div class="md-toolbar-tools">
    <md-button class="md-icon-button" md-prevent-menu-close
               ng-if="vm.selectedTabHistory.length > 1"
               ng-click="vm.tabBack()" aria-label="Back"
               translate translate-attr-aria-label="explorer.back_text">
     <md-icon class="gb-title-icon" md-font-icon="fa fa-arrow-left"></md-icon>
    </md-button>
    <div class="gb-heading-title">
     <span class="ellipsis">
      Create {{vm.selectedApp.title}}
     </span>
    </div>
    <span flex></span>
   </div>
  </md-toolbar>
 </div>
</div>
<div class="gb-dialog-body" ms-scroll>
 <div class="" ng-repeat="componentsTitle in vm.massAddition.componentsTitles">
  {{componentsTitle}} <br>
 </div>
</div>