<!-- BULK ADD -->
<div class="gb-dialog-header">
 <div layout="column" layout-align="start start" flex>
  <md-toolbar class="gb-heading">
   <div class="md-toolbar-tools">
    <md-button class="md-icon-button" md-prevent-menu-close
               ng-click="vm.tabBack()" aria-label="Back"
               ng-if="vm.selectedTabHistory.length > 1"
               translate translate-attr-aria-label="explorer.back_text">
     <md-icon class="gb-title-icon" md-font-icon="fa fa-arrow-left"></md-icon>
    </md-button>
    <div class="gb-heading-title">
     <span class="ellipsis">
      Create {{vm.selectedApp.title}}
     </span>
    </div>
    <span flex></span>
   </div>
  </md-toolbar>
 </div>
</div>
<form class="gb-dialog-body" ms-scroll>
 <div class="description">
  <md-input-container class="md-block">
   <label>Description</label>
   <textarea ng-model="vm.componentsAdd.form.contents" columns="1" max-rows="30"></textarea>
  </md-input-container>
 </div>
</form>