<div class="gb-container gb-app-list">
 <div class="row">
  <ul class="nav gb-icon-top-nav-1 col-lg-8 col-md-8 col-sm-10 col-xs-12">
   <li ui-sref-active="active" class="col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-xs-offset-1 col-lg-3 col-md-3 col-sm-4 col-xs-5"><a ui-sref="apps.communitys.all">
     <i class="gb-icon fa icon-gb-community"></i>
     <div class="gb-title">
      MEMBERS
     </div>
    </a>
   </li>
   <li ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
    <a ui-sref="apps.communitys.all">
     <i class="gb-icon fa fa-group"></i>
     <div class="gb-title">
      MY CONNECTION
     </div>
    </a>
   </li>
  </ul>
 </div>
 <div ui-view="app-tab" class="gb-background-white col-lg-8 col-md-9 col-sm-9 col-xs-12"></div>
</div>
<!-- ------------------------------- MODALS --------------------------->

<script type="text/ng-template" id="add-community-modal.html">
 <div ng-include="'public/modules/communitys/views/modals/add-community.html'"></div>
</script>