<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   {{explorerPlanCtrl.explorerPlanSrv.explorerPlan.plan.title}}
  </p>
 </div>
 <md-button class="gb-close" ng-click="explorerPlanCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body">
 <section class="gb-section-row-1 row">
  <div class="gb-plan-row row">
   <div class='gb-plan-content col-lg-11 col-md-11 col-sm-11 col-xs-11'>
    <div class="gb-content-text">
     <textarea autofocus ng-model="explorerPlanCtrl.explorerPlanSrv.explorerPlan.plan.description"></textarea>
    </div>
   </div>
   <div class="gb-plan-action text-center col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <div class="row">
     <button type="button" class="btn gb-btn gb-btn-xs" ng-click="explorerPlansCtrl.editExplorerPlanSections.details(explorerPlan.id, explorerPlan.plan)">
      <i class="fa fa-save"></i>
     </button>
    </div>
    <br>
    <div class="row">
     <button type="button" class="btn gb-btn gb-btn-xs" ng-click="explorerPlansCtrl.revertExplorerPlan(explorerPlan.id)">
      <i class="fa fa-refresh"></i>
     </button>
    </div>
   </div>
  </div>
 </section>
</div>
<div class="modal-footer">
 <md-button class="pull-right" aria-label="Close Todo Modal"
            ng-click="explorerPlanCtrl.close()">
  Close
 </md-button>
</div>
