<!--
 component app home
-->

<div class="gb-welcome-section-4" layout="column" layout-align="center center" flex>
 <div class="gb-container widget-group gb-card-row" layout-align="start center"  layout="column" flex>
  <ms-widget class="gb-room-description-widget" layout="column" flex>
   <ms-widget-front class="text-center" layout="row" flex>
    <div layout="column" layout-align="center center" flex>
     <div class="gb-description">
      {{componentAppCtrl.app.appType.long_description}}
     </div>
    </div>
    <div class="background-image-center" layout-align="center center"  flex>
     <md-icon md-font-icon="fa {{componentAppCtrl.app.appType.icon}}" class="{{componentAppCtrl.app.appType.background_color + '-300-fg'}} gb-background-icon"></md-icon>
    </div>
   </ms-widget-front>
  </ms-widget>
 </div>
 <div class="gb-door">
  <div class="gb-title">Room<br>Previews</div>
  <i class="gb-icon fa icon-arrow-down"></i>
 </div>
 <div class="gb-wall-h"></div>
</div>
<div class="gb-welcome-section-6" layout="column" layout-align="start center" flex>
 <div class="gb-container gb-card-heading-1" layout="column" layout-align="start center" flex>
  <div class="text-center">
   <h2 class="gb-title">
    Rooms: Explore and discover skills
   </h2>
   <p class="gb-description">
    <strong>Find inspiration. Cheer someone</strong><br>
    Browse through the rooms
   </p>
  </div>
 </div>
 <div class="gb-container" layout="row" layout-align="start center" layout-wrap flex>
  <div ng-repeat="component in componentAppCtrl.app.components"
       class="gb-card-component-p"
       ui-sref="app.componentLinearView.home({id: component.id})"
       layout-fill flex-gt-sm="25" flex-gt-xs="33" flex="100" >
   <div class="gb-card-component gb-responsive-xs md-whiteframe-1dp"
        layout="column" layout-xs="row" layout-align-xs="start">
    <div class="gb-card-cover" flex>
     <div ng-if="component.component_picture_url && component.component_picture_url !== 'default.png'"
          class="gb-cover-image">
      <img ng-src="src/assets/images/explorer/{{component.component_picture_url}}">
     </div>
     <div ng-if="component.component_placeholder_style"
          class="gb-cover-image"
          ng-style="component.component_placeholder_style">
     </div>
    </div>
    <div class="gb-opacity-content"></div>
    <div class="gb-card-profile">
     <div class="gb-box-content">
      <div class="gb-title">
       <a  class="gb-ellipsis" data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
        {{component.creator.firstname + ' ' + component.creator.lastname}}
       </a>
      </div>
      <div class="gb-subdescription">
       <p class="gb-ellipsis">
        {{component.type.title}}
       </p>
      </div>
     </div>
     <div class="gb-image" ng-class="component.creator.theme_color">
      <img ng-if="component.creator.avatar_url !== 'gb-avatar.jpg'"
           src="src/assets/images/profile_pic/{{component.creator.avatar_url}}"
           class="gb-heading-pic" alt="">
      {{component.creator.firstname.substring(0, 1) + component.creator.lastname.substring(0, 1)}}
     </div>
    </div>
    <div class="gb-card-content" flex>
     <div class="gb-title">
      <h3 class="gb-ellipsis">
       {{component.title}}
      </h3>
     </div>
     <div class="gb-description">
      <p class="">
       <span>
        {{::component.description}}
       </span>
      </p>
      <p ng-if="!component.description" class="gb-no-info">
       No description to show
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
 <md-button ng-click="vm.loadMore(componentAppCtrl.appName, componentAppCtrl.app.components)">
  Load More
 </md-button>
</div>