<!--
 component app home
-->
<div class="" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="row" layout-align="start center" layout-wrap flex>
  <div ng-repeat="component in componentAppCtrl.app.components"
       ui-sref="app.componentLinearView.home({id: component.id})"
       layout-fill flex-gt-sm="25" flex-gt-xs="33" flex="100" layout-padding>
   <div class="gb-card-component md-whiteframe-1dp" layout="column">
    <div class="gb-card-cover"> 
     <div ng-if="component.component_picture_url && component.component_picture_url !== 'default.png'"
          class="gb-cover-image">
      <img ng-src="src/assets/images/explorer/{{component.component_picture_url}}">
     </div>
     <div ng-if="component.component_placeholder_style"
          class="gb-cover-image"
          ng-style="component.component_placeholder_style">
     </div>
    </div>
    <div class="gb-card-content">
     <div class="gb-title">
      <h3 class="gb-ellipsis">
       {{component.title}}
      </h3>
     </div>
     <div class="gb-name-badge-1">
      <div class="gb-image">
       <img data-ui-sref="apps.componentLinearView.home({componentId: component.id})"
            ng-src="src/assets/images/profile_pic/{{ ::component.creator.avatar_url}}"
            class="gb-heading-pic" alt="">
      </div>
      <p class="gb-name gb-ellipsis">
       {{ ::component.creator.firstname}}
       {{ ::component.creator.lastname}}
      </p>
     </div>
     <div class="gb-subdescription">
      <p class="">
       <span>
        {{::component.description}}
       </span>
      </p>
      <p ng-if="!component.description" class="gb-no-info">
       No description to show
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>