/*
    Created on : Sep 6, 2014, 1:28:11 AM
    Author     : Tremmillicious
*/

.gb-ghost-btn-1 {
 display: inline-block;
 padding: 1px 15px;
 color: #DDD;
 border: 2px solid #DDD;
 border-radius: 20px;
 text-align: center;
 outline: none;
 text-decoration: none;
 transition: border-color 0.3s ease-out,
  color 0.3s ease-out;
}
.gb-ghost-btn-1:hover,
.gb-ghost-btn-1:active {
 transition: border-color 0.4s ease-in,
  color 0.4s ease-in;
}

.gb-play-form {
 overflow: hidden;
}

.gb-play-form .gb-body {
 height: 315px;
}
.gb-play-form .gb-body .gb-img{
 height: auto;
 margin-bottom: 10px;
 width: 100%;
}

.gb-play-form .gb-footer {
 padding: 0px;
}

.gb-play-form .gb-answer-btn {
 height: 70px;
 line-height: 60px;
 width: 100%;
}

.gb-color-1 {
 background-color: #0298AB;
}
.gb-color-1:hover {
 background-color: #027887;
}
.gb-color-2 {
 background-color: #70363F;
}
.gb-color-2:hover {
 background-color: #5E2D35;
}
.gb-color-3 {
 background-color: #537F35;
}
.gb-color-3:hover {
 background-color: #41642A;
}
.gb-color-4 {
 background-color: #B58040;
}
.gb-color-4:hover {
 background-color: #9A6D36;
}
.gb-color-5 {
 background-color: #077568;
}
.gb-color-5:hover {
 background-color: #055A50;
}
.gb-color-6 {
 background-color: #88784B;
}
.gb-color-6:hover {
 background-color: #6D603C;
}
.gb-color-7 {
 background-color: #777;
}
.gb-color-7:hover {
 background-color: #444;
}
.gb-color-8 {
 background-color: #537F35;
}
.gb-color-8:hover {
 background-color: #41642A;
}

.gb-faded-color-1 {
 background-color: #EAF3F4;
}
.gb-faded-color-2 {
 background-color: #E7DEDF;
}
.gb-faded-color-3 {
 background-color: #EFF2EC;
}
.gb-faded-color-4 {
 background-color: rgba(181, 128, 64, 0.1);
}
.gb-faded-color-5 {
 background-color: rgba(7, 117, 104, 0.1);
}
.gb-faded-color-6 {
 background-color: rgba(136, 120, 75, 0.1);
}
.gb-faded-color-7 {
 background-color: rgba(119, 119, 119, 0.1)
}
.gb-faded-color-8 {
 background-color: rgba(83, 127, 53, 0.1);
}

.profile-pic>img {
 border-radius: 0;
 border: 2px solid #fff;
 outline: #777 solid 1px;
 top: -72px;
}
.profile-pic>img.gb-img-2 {
 border-radius: 0;
 border: 2px solid #fff;
 outline: #777 solid 1px;
 top: -52px;
}

.gb-close-right-nav {
 padding: 5px 2px;
 opacity: 0.4;
 position: fixed;
 background-color: #C00;
 color: #FFF;
 right: 15px;
 top: 60px;
 z-index: 10000;
}

.gb-close-right-nav:hover {
 opacity: 0.2;
}

.gb-modal-tabs-left {
 padding: 0;
 position: fixed;
 top: 65px;
 bottom:0;
 border-right: #AAA solid 1px;
 background-color: #EEE;
}

.gb-modal-tabs-left li{
 border: none;
 border-left: #EEE solid 4px;
 background-color: #F7F7F7;
}
.gb-modal-tabs-left li.active{
 border-left: #0298AB solid 4px;
 background-color: #FFF;
}

.gb-modal-panes-right {
 position: fixed;
 padding: 0;
 top: 65px;
 bottom:0;
}
.gb-play-history-body {
 position: absolute;
 top: 40px;
 width : 100%;
 bottom: 0;
 overflow-x: hidden;
 overflow-y: auto;
}

.gb-modal-footer-abs {
 position: absolute;
 left: 0;
 right: 0;
 bottom:0;
}

.gb-opacity-5 {
 background-color: #EEE;
 opacity: 0.7;
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; // IE8
 filter: alpha(opacity=70); // IE 5-7
}
.gb-opacity-5 .gb-title {
 font-size: 1.3em;
 font-weight: bold;
}
.gb-form-dropdown {
 padding: 0;
 width: 400px;
}
.gb-callout {
 padding: 20px;
 margin-bottom: 20px;
 border: 1px solid #eee;
 border-left-width: 5px;
 border-radius: 3px;
}
.gb-callout h4 {
 margin-top: 0;
 margin-bottom: 5px;
}
.gb-callout p:last-child {
 margin-bottom: 0;
}
.gb-callout code {
 border-radius: 3px;
}
.gb-callout+.gb-callout {
 margin-top: -5px;
}
.gb-callout-default {
 border-left-color: #777;
}
.gb-callout-default h4 {
 color: #777;
}
.gb-callout-primary {
 border-left-color: #428bca;
}
.gb-callout-primary h4 {
 color: #428bca;
}
.gb-callout-success {
 border-left-color: #5cb85c;
}
.gb-callout-success h4 {
 color: #5cb85c;
}
.gb-callout-danger {
 border-left-color: #d9534f;
}
.gb-callout-danger h4 {
 color: #d9534f;
}
.gb-callout-warning {
 border-left-color: #f0ad4e;
}
.gb-callout-warning h4 {
 color: #f0ad4e;
}
.gb-callout-info {
 border-left-color: #5bc0de;
}
.gb-callout-info h4 {
 color: #5bc0de;
}


.gb-top-nav-1 {
 position: absolute;
 left: 0;
 right: 10px;
 padding: 0;
 list-style: none;
 border-bottom: #AAA solid 1px;
 background-color: #FFF;
 margin: 0;
 opacity: 0.7;
 z-index: 900;
}

.gb-top-nav-1:hover {
 opacity: 1;
}

.gb-top-nav-1 li {
 padding: 0;
 text-align: center;
}

.gb-top-nav-1 li:hover {
}

.gb-nav-heading-1 {
 padding: 0;
}

.gb-nav-heading-2 {
 padding: 0;
 text-indent: 5px;
 font-weight: bold;
 margin-top: -2px;
 height: 45px;
 line-height: 50px;
}

.gb-nav-heading-1 .gb-title{
 text-indent: 5px;
 height: 45px;
 font-size: 1.3em;
 font-weight: bold;
 line-height: 50px;
 color: #777;
}

.gb-nav-heading-1 .gb-action{
 padding: 10px 5px;
}

.gb-nav-heading-2 a{
 text-decoration: none;
}

.gb-top-nav-1 .gb-title{
 margin-right:20px;
 padding: 0 0 0 5px;
 font-weight: bold;
 line-height: 40px;
 color: #555;
}

.gb-top-nav-1 .gb-action{
 padding-top: 5px;
}
.gb-top-nav-1 .gb-action .btn{
 margin-left: 20px;
}

.gb-top-nav-1 li.active {
}

.gb-top-nav-1 li.active a {
 color: #000;
 font-weight: bold;
}

.gb-top-nav-1 li .gb-img-sm {
 height: 35px;
 width: 35px;
 margin-bottom: 10px;
 border: #CCC solid 2px;
}

.gb-top-nav-1 li a {
 display: block;
 font-size: 1.1em;
 padding: 10px 0 0px 0;
 text-decoration: none;
}

.gb-top-nav-1 li a .gb-title {
 font-size: 1.1em;
}

.gb-top-nav-1 li a .gb-line-1 {
 height: 5px;
}

.gb-icon-top-nav-1 {
 height: 42px;
 padding: 0;
 list-style: none;
 background-color: transparent;
}

.gb-icon-top-nav-1 li {
 padding: 5px 0;
 height: 100%;
 text-align: center;
 border-left: #BBB solid 1px;
}

.gb-icon-top-nav-1 li:first-child {
 text-align: left;
 padding-left: 10px;
 border-left: none;
}

.gb-icon-top-nav-1 li:hover {
 background-color: #EEE;
}

.gb-icon-top-nav-1 li.active {
 background-color: #F2F2F2;
}

.gb-icon-top-nav-1 li.active a {
 color: #111;
}

.gb-icon-top-nav-1 li .gb-img-sm {
 height: 25px;
 width: 25px;
 border: #CCC solid 2px;
}

.gb-icon-top-nav-1 li a {
 display: block;
 padding: 5px 0 5px 0;
 text-decoration: none;
}

.gb-icon-top-nav-1 li a .gb-title {
 font-size: 1.0em;
}

.gb-people-list {
 border: #AAA solid 1px;
 max-height: 200px;
 overflow-y: auto;
}

.gb-user-badge{
 background-color: #BABCB5;
}

.gb-user-badge .gb-row-bullet{
 padding: 10px 0px 0px 0px;
 text-align: center;
 font-size: 0.8em
}
.gb-user-badge .gb-heading-img{
 margin-top: 7px;
 margin-bottom: 3px;
 height: 16px;
 width: 16px;
}
.gb-user-badge .gb-row-display{
 padding: 5px 5px 5px 0px;
 border-bottom: #CCC solid 1px;
 background-color: #F2F2F2;
 font-weight: normal!important;
 font-size: 0.8em;
}
.gb-user-badge .gb-heading{
 margin-bottom: 3px!important;
 padding:0px 0px 3px 5px;
 font-weight: normal!important;
}
.gb-user-badge .gb-heading a{
}
.gb-user-badge .gb-body{
 padding-left: 5px;
 font-size: 0.8em;
}

.gb-user-badge:hover{
 background-color: #CCCEC7;
}

.gb-user-badge:hover .gb-row-display{
 background-color: #FFF;
}

.gb-block-row-play-history {
 padding: 5px;
 border-bottom: #AAA solid 1px;
}

.gb-block-row-todolist .gb-heading {
 margin-bottom: 15px;
}

.gb-block-row-weblink .gb-description {
 text-overflow: ellipsis!important;
 overflow: hidden;
 font-size: 0.9em;
 color: #000;
 font-style: normal;
}

.gb-person-name-badge-1 {
 height: 70px;
 padding:5px;
 background-color: #FFF;
 color: #111;
 overflow: hidden;
}
.gb-person-name-badge-1 .gb-person-img {
 float: left;
 height: 60px;
 width: 60px;
}
.gb-person-name-badge-1 .gb-person-info {
 padding-left: 5px;
 float: left;
}
.gb-link-row {
 border-bottom: #BBB solid 1px;
}
.gb-stat-row {
 height: 200px;
}
.gb-stat-row .gb-heading {
 padding: 20px 5px 20px 5px;
 height: 100%;
 text-align: center;
}
.gb-stat-row .gb-heading .gb-title {
 font-weight: bold;
}
.gb-stat-row .gb-body {
 height: 100%;
 overflow-y: auto;
 background-color: #FFF;
}

.gb-app-item-heading {
 height: 90px;
}
.gb-app-item-heading .gb-heading-img {
 height: 80px;
 width: 80px;
}
.gb-app-item-heading .gb-title {
 margin-bottom: 5px;
}
.gb-app-item-heading .gb-faded-link {
 color: #AAA;
}

.gb-item-level-heading{
 padding: 15px 0px 30px 0px;
 font-weight: normal;
 text-align: center;
}
.gb-level-1 .gb-item-level-heading{
 color: #AABCAA;
}
.gb-level-2 .gb-item-level-heading{
 color: #E0CEAA;
}
.gb-level-3 .gb-item-level-heading{
 color: #F2C598;
}
.gb-level-4 .gb-item-level-heading{
 color: #FF887E;
}



.gb-stat-row .gb-heading .gb-number{
 font-size: 4.5em;
}
.gb-stat-row .gb-body .gb-number{
 padding: 5px 0px 5px 3px;
 background-color: #DDD;
}
.gb-stat-row .gb-body .gb-link{
 padding: 5px 0px 5px 3px;
}

/*----------------- Gb Large Boxes --------------*/
.gb-box-1 {
 position: relative;
 margin-bottom: 20px;
 background-color: #FAFAFA;
 overflow: hidden;
 height: 320px;
}
.gb-box-1 .gb-leftbar {
 position: absolute;
 border-right: #777 solid 5px;
 background-color: #555;
 top: 0;
 width: 30px;
 bottom: 0;
 overflow: hidden;
}
.gb-box-1 .gb-rightbar{
 position: absolute;
 top: 0;
 left: 30px;
 right: 0;
 bottom: 0;
 background-color: #EFF;
 overflow: hidden;
}
.gb-box-1 .gb-title{
 height: 40px;
 background-color: #EEE;
 overflow: hidden;
}
.gb-box-1 .gb-description{
 padding: 7px 10px;
 height: 170px;
 background-color: #DDD;
 overflow: hidden;
}
.gb-box-1 .gb-image{
 background-image: url(../img/placeholders/skill_cover_3.png);
 background-size: auto 100%;
 height: 150px;
 background-color: #777;
 overflow: hidden;
}

.gb-box-1 .gb-actions {
 margin-top: 10px;
 margin-left: 8px;
}

.gb-box-1 .gb-footer{
 height: 50px;
 background-color: #DDD;
 overflow: hidden;
}
.gb-box-1 .gb-heading-img-container {
 height: 150px;
 overflow: hidden;
}

.gb-box-1 .gb-heading-img {
 height: auto;
}

.gb-box-1:hover {
 background-color: #EEE;
 -webkit-box-shadow: #AAA -1px 1px 2px;
 -moz-box-shadow: #AAA -1px 1px 2px;
 box-shadow: #AAA -1px 1px 2px;
}
.gb-box-1 .gb-heading {
 padding: 5px 8px;
 border-bottom: #AAA solid 1px;
 overflow: hidden;
}
.gb-box-1 .gb-body {
 padding: 5px 8px;
 overflow: hidden;
}
.gb-box-1 .gb-body .gb-title {
 font-weight: bold;
 font-size: 1.2em;
}
.gb-box-1 .gb-footer {
 padding: 5px 8px;
 border-top: #BBB solid 1px;
 overflow: hidden;
}

.gb-box-2 {
 margin-bottom: 20px;
 background-color: #FAFAFA;
 overflow: hidden;
}
.gb-box-2 .gb-heading-img-container {
 height: 150px;
 overflow: hidden;
}

.gb-box-2 .gb-heading-img {
 height: auto;
}

.gb-box-2:hover {
 background-color: #EEE;
 -webkit-box-shadow: #AAA -1px 1px 2px;
 -moz-box-shadow: #AAA -1px 1px 2px;
 box-shadow: #AAA -1px 1px 2px;
}
.gb-box-2 .gb-heading {
 padding: 5px 8px;
 border-bottom: #AAA solid 1px;
 overflow: hidden;
}
.gb-box-2 .gb-body {
 padding: 5px 8px;
 overflow: hidden;
}
.gb-box-2 .gb-body .gb-title {
 font-weight: bold;
 font-size: 1.2em;
}
.gb-box-2 .gb-footer {
 padding: 5px 8px;
 border-top: #BBB solid 1px;
 overflow: hidden;
}


.gb-box-3 {
 margin-bottom: 20px;
 background-color: #FAFAFA;
 overflow: hidden;
}

.gb-box-3 .gb-heading .gb-heading {
 width: 100px;
 height: 100px;
}
.gb-box-3 .gb-heading .gb-arrow {
 color: #888;
 line-height: 100px;
}

.gb-box-3:hover {
 background-color: #EEE;
 -webkit-box-shadow: #AAA -1px 1px 2px;
 -moz-box-shadow: #AAA -1px 1px 2px;
 box-shadow: #AAA -1px 1px 2px;
}
.gb-box-3 .gb-heading {
 padding: 5px 8px;
 border-bottom: #AAA solid 1px;
 overflow: hidden;
}
.gb-box-3 .gb-body {
 padding: 5px 8px;
 overflow: hidden;
}
.gb-box-3 .gb-body .gb-title {
 font-weight: bold;
 font-size: 1.2em;
}
.gb-box-3 .gb-footer {
 padding: 5px 8px;
 border-top: #BBB solid 1px;
 overflow: hidden;
}


.gb-box-7 {
 padding: 15px 10px;
 background-color: #FFF;
 overflow: hidden;
}
.gb-box-7 .gb-indicator {
 margin-left: 15px;
 margin-top: -15px;
 margin-bottom: 15px;
 height: 5px;
 width: 50px;
}

.gb-box-7 .gb-level-SK1 {
 background-color: #267782;
}
.gb-box-7 .gb-level-SK2 {
 background-color: #89B5BA;
}
.gb-box-7 .gb-level-SK3 {
 background-color: #BCD4D7;
}
.gb-box-7 .gb-heading-img-container {
 height: 150px;
 overflow: hidden;
}

.gb-box-7 .gb-heading-img {
 max-width: 40px;
 margin-right: 5px;
}

.gb-box-7:hover {
 background-color: #EEE;
 -webkit-box-shadow: #AAA -1px 1px 2px;
 -moz-box-shadow: #AAA -1px 1px 2px;
 box-shadow: #AAA -1px 1px 2px;
}
.gb-box-7 .gb-title {
 font-weight: bold;
 font-size: 1.1em;
}
.gb-box-7 .gb-description {
 display: block;
 display: -webkit-box;
 max-height: 120px;
 margin: 0 auto;
 line-height: 1.4;
 -webkit-line-clamp: 4;
 -webkit-box-orient: vertical;
 overflow: hidden;
 text-overflow: ellipsis;
}
.gb-box-7 .questionnaire-summary {
 height: 120px;
}
.gb-box-7 .questionnaire-summary a {
 font-size: 0.9em;
}
.gb-box-7 .gb-icon-nav-arrow {
 margin-top: 20px;
}
.gb-box-7 .stats .thumbnail:hover {
 background-color: #d3d6da
}

.gb-box-4 {
 height: 120px;
 margin-bottom: 20px;
 background-color: #FAFAFA;
 overflow: hidden;
}
.gb-box-4 .gb-heading-img-container {
 height: 120px;
 overflow: hidden;
}

.gb-box-4 .gb-heading-img {
 width: auto;
}

.gb-box-4:hover {
 background-color: #EEE;
 -webkit-box-shadow: #AAA -1px 1px 2px;
 -moz-box-shadow: #AAA -1px 1px 2px;
 box-shadow: #AAA -1px 1px 2px;
}

.gb-box-4 .gb-title {
 padding-top: 7px;
 font-size: 1.3em;
 font-weight: bold;
 height: 40px;
}
.gb-box-4 .gb-description {
 height: 80px;
 overflow: hidden;
 text-overflow: ellipsis;
}
.gb-box-4 .questionnaire-summary {
 height: 120px;
}
.gb-box-4 .questionnaire-summary a {
 font-size: 0.9em;
}
.gb-box-4 .stats .thumbnail:hover {
 background-color: #d3d6da
}

.gb-box-5 {
 margin-bottom: 0px;
 border-bottom: #AAA solid 2px;
 overflow: hidden;
}
.gb-box-5 .gb-heading-img-container {
 height: 35px;
 padding: 2px;
 overflow: hidden;
}

.gb-box-5 .gb-heading-img {
 width: auto;
}

.gb-box-5:hover {
 background-color: #EEE;
}

.gb-box-5.active {
 background-color: #E2E2E2;
}

.gb-box-5 .gb-title {
 color: #444;
 padding-top: 6px;
 font-weight: bold;
}
.gb-box-5 .gb-description {
 padding-top: 2px;
 font-size: 0.8em;
}
.gb-box-6 {
 padding: 0;
 margin-bottom: 20px;
 background-color: #F0F0F0;
}

.gb-box-6 .gb-body {
 padding: 10px;
}

.gb-box-8 {
 height: 300px;
 overflow: hidden;
 padding: 0;
 margin-bottom: 20px;
 background-color: #F0F0F0;
}

.gb-box-8 .gb-body {
 padding: 10px;
}


.gb-profile-header-1 {
 padding-top: 10px;
 min-height: 130px;
 max-height: 400px;
 overflow: hidden;
 border-bottom: #AAA solid 2px;
 margin-bottom: 20px;
}
.gb-profile-header-1 .gb-profile-header-img-container-1{
 padding: 10px;
}

.gb-profile-header-1 .gb-profile-header-img-1{
 max-height: 110px;
 max-width: 110px;
}

.gb-section-row-1 {
 padding: 10px 10px;
 margin-bottom: 20px;
 border-bottom: #CCC solid 1px;
}

.gb-section-row-1 .gb-heading {
 padding: 0;
 margin-bottom: 10px;
}

.gb-section-row-1 .gb-heading .gb-title {
 padding: 10px 0 0 0;
 font-size: 1.0em;
 font-weight: bold;
 color: #777;
}
.gb-section-row-1 .gb-heading .gb-subtitle {
 padding: 0px 0 0 35px;
}

.gb-section-row-1 .gb-heading .gb-heading-img {
 width: 30px;
 height: 30px;
}

.gb-section-row-1 .gb-heading .gb-action {
 padding: 11px 0 0 0;
}

.gb-section-row-1 .gb-body {
 padding-top: 10px;
}

.gb-section-row-2 {
 margin-bottom: 40px;
}

.gb-section-row-2 .gb-heading {
 padding: 0 0 10px 0;
 margin-bottom: 10px;
 font-weight: bold;
 border-bottom: #999 solid 1px;
}

.gb-section-row-2 .gb-heading .gb-title {
 padding: 4px 0 0 0;
 font-weight: bold;
}

.gb-section-row-2 .gb-heading .gb-action {
 padding: 0px 0 0 0;
}

.gb-section-row-2 .gb-body {
 padding-top: 10px;
}

.gb-question-answer-row {
 background-color: #F7F7F7;
 border: #E2E2E2 solid 1px;
 border-top: #AAA solid 2px;
 margin-bottom: 20px;
}

.gb-question-answer-row .gb-body {
 padding: 10px 5px 10px 5px;
}

.gb-question-answer-row .gb-title {
 margin-bottom: 2px;
 font-size: 1.2em;
}
.gb-question-answer-row .gb-footer {
 background-color: #F5F5F5;
 border-top: #DDD solid 1px;
 height: 30px;
}
.gb-question-answer-row .gb-footer  p{
 padding-top: 5px;
 padding-left: 5px;
 font-size: 0.9em;
}


/*---------------------MENTORSHIP-----------------------------*/
.gb-mentorship-item {

}

.gb-item-heading-1 {
 padding: 10px;
 background-color: #FFF;
}
.gb-item-heading-1 .gb-heading-img {
 height: 30px;
 width: 30px;
}

@media (max-width: 1170px) {
 .profile-pic>img {
  height: auto;
  top: -42px;
 }
}

@media (max-width: 960px) {
 .profile-pic>img {
  top: -49px;
  width: 70px;
 }

 .gb-opacity-5 {
  max-width: 600px;
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; // IE8
  filter: alpha(opacity=80); // IE 5-7
 }
 .gb-opacity-5 .gb-title {
  font-size: 1.0em;
 }
}

@media (max-width: 767px) {

 ::-webkit-scrollbar              {
  display:none;
 }
 ::-webkit-scrollbar-button       { /* 2 */ }
 ::-webkit-scrollbar-track        {/* 3 */ }
 ::-webkit-scrollbar-track-piece  { /* 4 */ }
 ::-webkit-scrollbar-thumb        { /* 5 */ }
 ::-webkit-scrollbar-corner       { /* 6 */ }
 ::-webkit-resizer                { /* 7 */ }

 .profile-carousel .carousel-indicators {
  top: auto;
 }

 .profile-pic>img {
  top: -57px;
  left: -5px;
  width: 45px;
 }
 .profile-pic>img.gb-img-2 {
  top: -57px;
  left: -5px;
  width: 25px;
 }

 ul.gb-timeline:before {
  left: 40px;
 }

 ul.gb-timeline > li > .gb-timeline-panel {
  width: calc(100% - 90px);
  width: -moz-calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
 }

 ul.gb-timeline > li > .gb-timeline-badge {
  left: 15px;
  margin-left: 0;
  top: 16px;
 }

 ul.gb-timeline > li > .gb-timeline-panel {
  float: right;
 }

 ul.gb-timeline > li > .gb-timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
 }

 ul.gb-timeline > li > .gb-timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
 }
 .gb-top-nav-1 {
  right: 0px;
 }
}
@media (max-width: 660px) {
 .gb-opacity-5 {
  max-width: 170px;
 }
}