<div class="gb-header gb-header-2 md-accent-bg" layout="column" layout-align="space-between center" >
 <div class="gb-cover-overlap" ></div>
 <div class="gb-cover" ng-style="$root.headerStyle"></div>
 <div class="gb-container user-info" layout="column" layout-align="center center">
  <div class="gb-header-icon">
   <i class="fa" ng-class="'fa icon-gb-' + $root.appName.toLowerCase()"></i>
  </div>
  <div class="gb-title">
   {{$root.appName}}
  </div>
 </div>
 <div class="actions" layout="row" layout-align="end center">
  <md-button class="md-raised md-accent" aria-label="Follow" translate="PROFILE.FOLLOW"
             translate-attr-aria-label="PROFILE.FOLLOW">Add
  </md-button>
  <md-button class="md-raised md-primary" translate="PROFILE.SEND_MESSAGE"
             translate-attr-aria-label="PROFILE.SEND_MESSAGE">Send Message
  </md-button>
 </div>
</div>
<!-- / HEADER -->
<div class="gb-row gb-spacing-1"></div>
<!-- CONTENT -->
<div class="gb-tabs-1" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="column" layout-align="" flex>
  <md-tabs  md-selected="selectedIndex" md-stretch-tabs="always" class="">
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-list"></i>
     </div>
     <div class="gb-title">
      Overview
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa icon-gb-apps"></i>
     </div>
     <div class="gb-title">
      Apps
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-info"></i>
     </div>
     <div class="gb-title">
      About
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-cog"></i>
     </div>
     <div class="gb-title">
      Settings
     </div>
    </md-tab-label>
   </md-tab>
  </md-tabs>
 </div>
</div>
<div id="boards" ui-view="tab" class="" layout="column" layout-align="center center" flex></div>