<div class="gb-header gb-header-2 md-accent-bg" layout="column" layout-align="space-between center" >
 <div class="gb-cover-overlap" ></div>
 <div class="gb-cover" ng-style="$root.headerStyle"></div>
 <div class="gb-container user-info" layout="column" layout-align="center center">
  <div class="gb-header-icon">
   <i class="fa" ng-class="'fa icon-gb-' + $root.appName.toLowerCase()"></i>
  </div>
  <div class="gb-title">
   {{$root.appName}}
  </div>
 </div>
 <div class="actions" layout="row" layout-align="end center">
  <md-button class="md-raised md-accent" aria-label="Follow" translate="PROFILE.FOLLOW"
             translate-attr-aria-label="PROFILE.FOLLOW">Add
  </md-button>
  <md-button class="md-raised md-primary" translate="PROFILE.SEND_MESSAGE"
             translate-attr-aria-label="PROFILE.SEND_MESSAGE">Send Message
  </md-button>
 </div>
</div>
<!-- / HEADER -->
<div class="gb-row gb-spacing-1"></div>
<!-- CONTENT -->
<div class="gb-tabs-1" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="column" layout-align="" flex>
  <md-tabs md-stretch-tabs="always" class="">
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-list"></i>
     </div>
     <div class="gb-title">
      Overview
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="overview-tab"
                 ng-include="'src/app/main/profile/tabs/overview/overview.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa icon-gb-apps"></i>
     </div>
     <div class="gb-title">
      Apps
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="apps-tab"
                 ng-include="'src/app/main/profile/tabs/apps/apps.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-info"></i>
     </div>
     <div class="gb-title">
      About
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="about-tab"
                 ng-include="'src/app/main/profile/tabs/about/about.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-cog"></i>
     </div>
     <div class="gb-title">
      Settings
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="settings-tab"
                 ng-include="'src/app/main/profile/tabs/settings/settings.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
  </md-tabs>
 </div>
</div>
<!-- BOARDS -->
<div id="boards" class="" layout="column" layout-align="center center" flex>
 <!-- BOARD SELECTION -->
 <div id="board-selector" class="gb-container" layout="column" layout-align="start center" flex>
  <div class="gb-card-row" ng-repeat="app in vm.boardList.aypps track by $index">
   <div class="gb-horizontal-scroll gb-apps-scroll row">
    <div class="gb-left-scroll" show-gt-sm >
     <md-button ng-click="$root.scrollHorizontal('#gb-featured-' + $index, -200)" aria-label="scroll left">
      <i class="fa fa-chevron-left"></i>
     </md-button>
    </div>
    <div id="gb-featured-{{$index}}" class='gb-body-row-4 gb-inline'>
     <div ng-repeat="component in component.components"
          class="gb-card-holder gb-card-sm gb-padding-medium"
          gb-explorer-box component="component"
          template-url="{{appsCtrl.getTemplateUrl(component, '-sm')}}">
     </div>
    </div>
    <div class="gb-right-scroll" show-gt-sm>
     <md-button ng-click="$root.scrollHorizontal('#gb-featured-' + $index, 200)" aria-label="scroll right">
      <i class="fa fa-chevron-right"></i>
     </md-button>
    </div>
   </div>
  </div>

  <!-- BOARD LIST -->
  <div ng-repeat="app in vm.boardList.apps"
       class="gb-cards-row"
       layout="column">
   <md-toolbar ng-if="false" class="gb-toolbar gb-toolbar-1">
    <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
     </md-button>
     <h2>
      <span>{{::app.title}}</span>
     </h2>
     <span flex></span>
     <md-button class="md-icon-button" aria-label="Add">
      <md-icon md-font-icon="icon-plus"></md-icon>
     </md-button>
     <md-button class="md-icon-button" aria-label="More">
      <md-icon md-font-icon="icon-more"></md-icon>
     </md-button>
    </div>
   </md-toolbar>

   <div class="gb-heading-row-1" flex>
    <div class="gb-heading-icon">
     <i class="fa {{::app.icon}}"></i>
    </div>
    <div class="gb-title">
     <p class="gb-ellipsis">
      {{::app.title}}
     </p>
    </div>
    <div layout="row" class="gb-action" flex>
     <md-button ng-click="$root.openAddExplorerModal(component)">
      Add
     </md-button>
     <md-button ui-sref="apps.app({'app_name': '{{::component.title}}'})">
      More
     </md-button>
    </div>
   </div>
   <div class="gb-horizontal-scroll gb-apps-scroll" layout="row">
    <md-button class="gb-left-scroll md-fab"
               ng-click="$root.scrollHorizontal('#gb-featured-' + $index, -400)"aria-label="Scroll Left">
     <md-icon md-font-icon="icon-chevron-left"></md-icon>
    </md-button>
    <div id="gb-featured-{{$index}}" class="board-list flex-scrollable only-x"
         layout="row" layout-align="start" ms-scroll flex layout-nowrap>
     <!-- BOARD -->
     <div class="board-list-item" ng-repeat="component in app.components"
          ui-sref="app.componentColumnView({id:component.id})"
          layout="column" layout-align="start" layout-nowrap>
      <div class="gb-card-cover">
       <div ng-if="component.component_picture_url && component.component_picture_url !== 'default.png'"
            class="gb-cover-image">
        <img ng-src="src/assets/images/explorer/{{component.component_picture_url}}">
       </div>
       <div ng-if="component.component_placeholder_style"
            class="gb-cover-image"
            ng-style="component.component_placeholder_style">
       </div>
      </div>
      <div class="gb-card-content">
       <div class="gb-title">
        <h3 class="gb-ellipsis">
         {{component.title}}
        </h3>
       </div>
       <div class="gb-name-badge-1">
        <div class="gb-image">
         <img data-ui-sref="apps.component.overview({componentId: component.id})"
              ng-src="public/img/profile_pic/{{ ::component.creator.avatar_url}}"
              class="gb-heading-pic" alt="">
        </div>
        <p class="gb-name gb-ellipsis">
         {{ ::component.creator.firstname}}
         {{ ::component.creator.lastname}}
        </p>
       </div>
       <div class="gb-subdescription">
        <p class="">
         <span>
          {{::component.description}}
         </span>
        </p>
        <p ng-if="!component.description" class="gb-no-info">
         No description to show
        </p>
       </div>
      </div>
     </div>
     <!-- / BOARD -->
     <!-- NEW BOARD BUTTON -->
     <div class="board-list-item add-new-board" layout="column" layout-align="center center"
          ui-sref="app.explorer.boards.addBoard">
      <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
      <div class="board-name" translate="SB.ADD_NEW_BOARD">Add new board</div>
     </div>
     <!-- / NEW BOARD BUTTON -->
    </div>
    <md-button class="gb-right-scroll md-fab"
               ng-click="$root.scrollHorizontal('#gb-featured-' + $index, 400)"aria-label="Scroll Left">
     <md-icon md-font-icon="icon-chevron-right"></md-icon>
    </md-button>
   </div>
  </div>
  <!-- / BOARD LIST -->
 </div>
 <!-- / BOARD SELECTION -->
</div>
<!-- / BOARDS -->
