<!--
LINEAR VIEW HOME
-->
<div class="gb-container widget-group gb-card-row" layout="row" flex="100" layout-wrap>
 <ms-widget flippable="true" class="gb-description-widget" layout="column" flex="100">
  <ms-widget-front class="md-whiteframe-2dp" layout="row" flex>
   <div layout="column" layout-align="start start" flex>
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-list"></md-icon>
      </md-button>
      <div class="gb-heading-title">
       <span class="ellipsis">
        Description
       </span>
      </div>
      <span flex></span>
      <md-button class="md-raised" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
       Edit
      </md-button>
     </div>
    </md-toolbar>
    <div class="gb-title">
     {{componentLinearCtrl.component.title}}
    </div>
    <div class="gb-description">
     {{componentLinearCtrl.component.description}}
    </div>
    <div class="gb-card-profile">
     <div class="gb-box-content">
      <div class="gb-title">
       <h3 class="gb-ellipsis">
        <a data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
         {{componentLinearCtrl.component.creator.firstname + ' ' + componentLinearCtrl.component.creator.lastname}}
        </a>
       </h3>
      </div>
      <div class="gb-subdescription">
       <p class="gb-ellipsis">
        creator
       </p>
      </div>
      <div class="gb-description">
      </div>
     </div>
     <div class="gb-image">
      <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
           src="public/img/profile_pic/{{componentLinearCtrl.component.creator.avatar_url}}"
           class="gb-heading-pic" alt="">
     </div>
    </div>
   </div>
   <div class="background-image-center" layout-align="center center"  flex>
    <md-icon md-font-icon="fa fa-list" class="gb-app-icon"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-toolbar class="gb-heading">
    <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Description Icon">
      <md-icon class="gb-title-icon" md-font-icon="fa fa-pencil"></md-icon>
     </md-button>
     <div class="gb-heading-title">
      <span class="ellipsis">
       Edit Description
      </span>
     </div>
     <span flex></span>
     <md-button type="submit" class="md-raised md-accent" aria-label="Submit"
                ng-show="editDescriptionForm.$invalid || editDescriptionForm.$pristine">
      Submit
     </md-button>
     <md-button class="md-raised" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
      Cancel
     </md-button>
    </div>
   </md-toolbar>
   <form name="editDescriptionForm" novalidate>
    <md-input-container class="md-block">
     <input type="text" name="title" ng-model="vm.basicForm.firstname"
            placeholder="Title"
            required>
     <div ng-messages="editDescriptionForm.title.$error"
          role="alert">
      <div ng-message="required">
       <span>Title field is required.</span>
      </div>
     </div>
    </md-input-container>
    <md-input-container class="md-block">
     <textarea ng-model="vm.basicForm.biography" placeholder="Description" md-maxlength="150" max-rows="2"></textarea>
    </md-input-container>
   </form>
  </ms-widget-back>
 </ms-widget>
</div>
<div class="gb-container widget-group" layout="row" flex="100" layout-nowrap>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8 green-bg white-fg" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.contributors_count}}
    </div>
    <div class="gb-title">
     CONTRIBUTORS
    </div>
   </div>
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="details">
    <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
   </md-button>
   <div class="background-image-center">
    <md-icon md-font-icon="fa icon-users" class="s128 faint-text"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
    <md-icon md-font-icon="fa fa-times" class="s16"></md-icon>
   </md-button>
  </ms-widget-back>
 </ms-widget>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8 deep-purple-bg white-fg" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.discussions_count}}
    </div>
    <div class="gb-title">
     DISCUSSIONS
    </div>
   </div>
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="details">
    <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
   </md-button>
   <div class="background-image-center">
    <md-icon md-font-icon="fa fa-comments-o" class="s128 faint-text"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
    <md-icon md-font-icon="icon-close" class="s16"></md-icon>
   </md-button>
  </ms-widget-back>
 </ms-widget>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8 deep-orange-bg white-fg" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.activities_count}}
    </div>
    <div class="gb-title">
     ACTIVITIES
    </div>
   </div>
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="details">
    <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
   </md-button>
   <div class="background-image-center">
    <md-icon md-font-icon="fa icon-gb-apply" class="s128 faint-text"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
    <md-icon md-font-icon="icon-close" class="s32"></md-icon>
   </md-button>
  </ms-widget-back>
 </ms-widget>
</div>
<div class="gb-container gb-card-row" layout="row" layout-align="start center" layout-wrap flex="100">
 <md-toolbar class="gb-heading" flex="100">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Contributors
    </span>
   </div>
   <span flex></span>
   <md-button class="md-raised" aria-label="Add Contributors">
    ADD
   </md-button>
  </div>
 </md-toolbar>
 <div ng-repeat="contribution in componentLinearCtrl.component.contributions" class="p-8" flex="33">
  <div class="gb-card-profile md-whiteframe-2dp">
   <div class="gb-box-content">
    <div class="gb-title">
     <h3 class="gb-ellipsis">
      <a data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
       {{contribution.contributor.firstname + ' ' + contribution.contributor.lastname}}
      </a>
     </h3>
    </div>
    <div class="gb-subdescription">
     <p class="gb-ellipsis">
      {{contribution.level.title}} - {{contribution.status.title}}
     </p>
    </div>
    <div class="gb-description">
    </div>
   </div>
   <div class="gb-image">
    <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
         src="public/img/profile_pic/{{contribution.contributor.avatar_url}}"
         class="gb-heading-pic" alt="">
   </div>
  </div>
 </div>
</div>
<div class="gb-container gb-card-row" layout="column" layout-align="start center" flex="100">
 <md-toolbar class="gb-heading" flex="100">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-gb-apply"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Related Topics
    </span>
   </div>
   <span flex></span>
   <md-button class="md-raised" aria-label="Add Contributors">
    ADD
   </md-button>
  </div>
 </md-toolbar>
 <div class="gb-cards-row"
      layout="column">
  <div class="gb-horizontal-scroll gb-apps-scroll" layout="row">
   <md-button class="gb-left-scroll"
              ng-click="$root.scrollHorizontal('#gb-featured-' + $index, -400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-left"></md-icon>
   </md-button>
   <div id="gb-featured-{{$index}}" class="board-list flex-scrollable only-x"
        layout="row" layout-align="start" ms-scroll flex layout-nowrap>
    <!-- BOARD -->
    <div class="board-list-item" ng-repeat="component in componentLinearCtrl.component.apps"
         ui-sref="app.componentLinearView.home({id:component.id})"
         layout="column" layout-align="start" layout-nowrap>
     <div class="gb-card-cover">
      <div ng-if="component.component_picture_url && component.component_picture_url !== 'default.png'"
           class="gb-cover-image">
       <img ng-src="src/assets/images/explorer/{{component.component_picture_url}}">
      </div>
      <div ng-if="component.component_placeholder_style"
           class="gb-cover-image"
           ng-style="component.component_placeholder_style">
      </div>
     </div>
     <div class="gb-card-content">
      <div class="gb-title">
       <h3 class="gb-ellipsis">
        {{component.title}}
       </h3>
      </div>
      <div class="gb-name-badge-1">
       <div class="gb-image">
        <img data-ui-sref="apps.component.overview({componentId: component.id})"
             ng-src="public/img/profile_pic/{{ ::component.creator.avatar_url}}"
             class="gb-heading-pic" alt="">
       </div>
       <p class="gb-name gb-ellipsis">
        {{ ::component.creator.firstname}}
        {{ ::component.creator.lastname}}
       </p>
      </div>
      <div class="gb-subdescription">
       <p class="">
        <span>
         {{::component.description}}
        </span>
       </p>
       <p ng-if="!component.description" class="gb-no-info">
        No description to show
       </p>
      </div>
     </div>
    </div>
    <!-- / BOARD -->
    <!-- NEW BOARD BUTTON -->
    <div class="board-list-item add-new-board" layout="column" layout-align="center center"
         ui-sref="app.explorer.boards.addBoard">
     <md-icon md-font-icon="icon-plus-circle" class="icon s64"></md-icon>
     <div class="board-name" translate="SB.ADD_NEW_BOARD">Add new board</div>
    </div>
    <!-- / NEW BOARD BUTTON -->
   </div>
   <md-button class="gb-right-scroll"
              ng-click="$root.scrollHorizontal('#gb-featured-' + $index, 400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-right"></md-icon>
   </md-button>
  </div>
 </div>
</div>
<div class="gb-container gb-motive-card gb-card-row md-whiteframe-2dp" layout="column" layout-align="start center" flex="100"
     ng-repeat="motive in componentLinearCtrl.component.motives">
 <md-toolbar class="gb-heading" flex="100">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     {{motive.title}}
    </span>
   </div>
   <span flex></span>
   <md-button class="md-raised" aria-label="Add Contributors">
    ADD
   </md-button>
  </div>
 </md-toolbar>
 <div ng-repeat="component in motive.components" ng-if="motive.components.length > 0" class="gb-one-liner" layout="column" layout-align="center start" flex="100">
  <a flex="100">
   <span class="ellipsis">
    {{component.title}}
   </span>
  </a>
 </div>
 <div class="gb-no-info" ng-if="motive.components.length === 0" flex="100">
  No entries to show.
 </div>
</div>