<!--
LINEAR VIEW HOME
-->
<div class="gb-container widget-group gb-card-row" layout="row" flex>
 <ms-widget class="gb-description-widget mt-10" layout="column" flex>
  <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
   <div layout="column" layout-align="start stretch" flex>
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-list"></md-icon>
      </md-button>
      <div class="gb-heading-title">
       <span class="ellipsis">
        Description
       </span>
      </div>
      <span flex></span>
     </div>
    </md-toolbar>
    <div class="gb-title">
     <md-input-container class="md-block" md-no-float>
      <textarea ng-model="componentLinearCtrl.component.title"
                ng-model-options="{
                   updateOn: 'blur', debounce: 1000}" ng-change="componentLinearCtrl.updateComponentDescription(componentLinearCtrl.component)"
                placeholder="Title" columns="1" md-maxlength="150" max-rows="15"></textarea>
     </md-input-container>
    </div>
    <div class="gb-description">
     <md-input-container class="md-block" md-no-float>
      <textarea ng-model="componentLinearCtrl.component.description"
                ng-model-options="{
                   updateOn: 'blur', debounce: 1000}" ng-change="componentLinearCtrl.updateComponentDescription(componentLinearCtrl.component)"
                placeholder="Write a Description" columns="1" md-maxlength="250" max-rows="15"></textarea>
     </md-input-container>
    </div>
    <div layout="row" layout-align="start start" flex layout-wrap>
     <div class="p-8" flex-gt-sm="25" flex-gt-xs="33" flex="100">
      <div class="gb-card-profile md-whiteframe-1dp">
       <div class="gb-box-content">
        <div class="gb-title">
         <a  class="gb-ellipsis" data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
          {{componentLinearCtrl.component.creator.firstname + ' ' + componentLinearCtrl.component.creator.lastname}}
         </a>
        </div>
        <div class="gb-subdescription">
         <p class="gb-ellipsis">
          CREATOR
         </p>
        </div>
        <div class="gb-description"></div>
       </div>
       <div class="gb-image" ng-class="componentLinearCtrl.component.creator.theme_color">
        <img ng-if="componentLinearCtrl.component.creator.avatar_url !== 'gb-avatar.jpg'"
             src="src/assets/images/profile_pic/{{componentLinearCtrl.component.creator.avatar_url}}"
             class="gb-heading-pic" alt="">
        {{componentLinearCtrl.component.creator.firstname.substring(0, 1) + componentLinearCtrl.component.creator.lastname.substring(0, 1)}}
       </div>
      </div>
     </div>
     <div ng-repeat="contribution in componentLinearCtrl.component.contributions" class="p-8"
          flex-gt-sm="25" flex-gt-xs="33" flex="100">
      <div class="gb-card-profile md-whiteframe-1dp">
       <div class="gb-box-content">
        <div class="gb-title">
         <a class="gb-ellipsis" data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
          {{contribution.contributor.firstname + ' ' + contribution.contributor.lastname}}
         </a>
        </div>
        <div class="gb-subdescription">
         <p class="gb-ellipsis">
          {{contribution.level.title}} - {{contribution.status.title}}
         </p>
        </div>
        <div class="gb-description">
        </div>
       </div>
       <div class="gb-image" ng-class="contribution.contributor.theme_color">
        <img ng-if="contribution.contributor.avatar_url !== 'gb-avatar.jpg'"
             data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
             src="src/assets/images/profile_pic/{{contribution.contributor.avatar_url}}"
             class="gb-heading-pic" alt="">
        {{contribution.contributor.firstname.substring(0, 1) + contribution.contributor.lastname.substring(0, 1)}}

       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="background-image-center" layout-align="center center"  flex>
    <md-icon md-font-icon="fa icon-gb-{{componentLinearCtrl.component.type.title}}" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
 </ms-widget>
</div>
<div class="gb-container widget-group" layout="row" flex layout-nowrap>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.contributors_count}}
    </div>
    <div class="gb-title">
     CONTRIBUTORS
    </div>
   </div>
   <div class="background-image-center">
    <md-icon md-font-icon="fa icon-users" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
 </ms-widget>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.discussions_count}}
    </div>
    <div class="gb-title">
     DISCUSSIONS
    </div>
   </div>
   <div class="background-image-center">
    <md-icon md-font-icon="fa fa-comments-o" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
 </ms-widget>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.activities_count}}
    </div>
    <div class="gb-title">
     ACTIVITIES
    </div>
   </div>
   <div class="background-image-center">
    <md-icon md-font-icon="fa icon-gb-apply" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
 </ms-widget>
</div>
<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" flex>
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Add More Sections
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
 <div class="" layout="column" layout-align="start stretch" flex>
  <div class="widget-group gb-section-widget-group"
       layout="row" layout-align="start" layout-wrap flex>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex-gt-xs="50" flex="100">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.contributions)" class="gb-main-button"
                layout="row" layout-align="start stretch" flex>
      <div class="gb-title-icon md-deep-purple-400-bg" layout-fill layout="row" layout-align="center center" flex>
       <i class="fa icon-users"></i>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-title">
        REQUEST CONTRIBUTIONS
       </div>
       <div class="gb-description">
        Invite people to take part.
       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex-gt-xs="50" flex="100">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.apps)" class="gb-main-button"
                layout="row" layout-align="start stretch" flex>
      <div class="gb-title-icon md-lime-400-bg" layout-fill layout="row" layout-align="center center" flex>
       <i class="fa icon-tree"></i>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-title">
        ADD COMPONENTS
       </div>
       <div class="gb-description">
        Break down into subcomponents and related components
       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex-gt-xs="50" flex="100">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.motives)" class="gb-main-button"
                layout="row" layout-align="start stretch" flex>
      <div class="gb-title-icon md-green-400-bg" layout-fill layout="row" layout-align="center center" flex>
       <i class="fa fa-file-text-o"></i>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-title">
        ADD BACKGROUND
       </div>
       <div class="gb-description">
        Add any prerequisites, motivations, background information
       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex-gt-xs="50" flex="100">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.activities)" class="gb-main-button"
                layout="row" layout-align="start stretch" flex>
      <div class="gb-title-icon md-indigo-400-bg" layout-fill layout="row" layout-align="center center" flex>
       <i class="fa icon-gb-activity"></i>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-title">
        ADD ACTIVITIES
       </div>
       <div class="gb-description">
        Any actions like components, exercises, steps, guidelines, questions
       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
  </div>
 </div>
</div>
<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="row" layout-align="start center" layout-wrap>
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Contributors
    </span>
   </div>
  </div>
 </md-toolbar>
 <div class="widget-group gb-section-widget-group" flex="100"
      layout="row" layout-align="start" layout-wrap flex>
  <ms-widget class="p-8 gb-section-widget gb-widget-sm" layout="column" flex-gt-xs="50" flex="100"
             ng-repeat="contributionType in $root.commonData.contributionTypes">
   <ms-widget-front layout="row" layout-fill flex>
    <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.contributors, contributionType)" class="gb-main-button"
               layout="row" layout-align="start stretch" flex>
     <div class="gb-title-icon {{contributionType.background_color}}" layout-fill layout="row" layout-align="center center" flex>
      <i class="fa {{contributionType.icon}}"></i>
     </div>
     <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
      <div class="gb-title">
       REQUEST {{contributionType.title}}
      </div>
     </div>
    </md-button>
   </ms-widget-front>
  </ms-widget>
 </div>
</div>
<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="row" layout-align="start center" layout-wrap>
 <div class="widget-group gb-section-widget-group" flex="100"
      layout="row" layout-align="start" layout-wrap flex>
  <ms-widget class="p-8 gb-section-widget gb-widget-sm" layout="column" flex-gt-xs="33" flex="100"
             ng-repeat="mentorshipRequestType in $root.commonData.mentorshipRequestTypes">
   <ms-widget-front layout="row" layout-fill flex>
    <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.mentorshipRequest, mentorshipRequestType)" class="gb-main-button"
               layout="row" layout-align="start stretch" flex>
     <div class="gb-title-icon {{mentorshipRequestType.background_color}}" layout-fill layout="row" layout-align="center center" flex>
      <i class="fa {{mentorshipRequestType.icon}}"></i>
     </div>
     <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
      <div class="gb-title">
       {{mentorshipRequestType.description}}
      </div>
     </div>
    </md-button>
   </ms-widget-front>
  </ms-widget>
 </div>
</div>
<div ng-if="componentLinearCtrl.component.mentorships.length > 0"
     class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" flex>
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Mentorships
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
 <div class="" layout="column" layout-align="start stretch" flex>
  <div class="widget-group gb-section-widget-group"
       layout="row" layout-align="start" layout-wrap flex>
   <ms-widget ng-repeat="mentorship in componentLinearCtrl.component.mentorships"
              class="p-8 gb-mentorship-widget" layout="column" flex="50" flex-xs="100">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ui-sref="app.mentorshipLinearView.home({id: mentorship.id})" class="gb-main-button"
                layout="column" layout-align="start stretch">
      <div class="gb-widget-header" ng-class="mentorship.component.background_color">
       <div class="gb-title">
        {{mentorship.component.title}}
       </div>
       <div class="gb-subtitle">
        {{mentorship.status.title}}
       </div>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-card-profile gb-card-left">
        <div class="gb-box-content">
         <div class="gb-title">
          <h3 class="gb-ellipsis">
           <a ui-sref="app.profileLinearView.home({userId: mentorship.mentor_id})"
              ng-click="$event.stopPropagation()">
            {{mentorship.mentor.firstname + ' ' + mentorship.mentor.lastname}}
           </a>
          </h3>
         </div>
         <div class="gb-subdescription">
          <p class="gb-ellipsis">
           MENTOR
          </p>
         </div>
         <div class="gb-description">
         </div>
        </div>
        <div class="gb-image" ng-class="mentorship.mentor.theme_color">
         <img ng-if="mentorship.mentor.avatar_url !== 'gb-avatar.jpg'"
              src="src/assets/images/profile_pic/{{mentorship.mentor.avatar_url}}"
              class="gb-heading-pic" alt="">
         {{mentorship.mentor.firstname.substring(0, 1) + mentorship.mentor.lastname.substring(0, 1)}}
        </div>
       </div>
       <div class="gb-card-profile gb-card-right">
        <div class="gb-box-content">
         <div class="gb-title">
          <h3 class="gb-ellipsis">
           <a data-ui-sref="app.profileLinearView.home({userId: mentorship.mentee_id})"
              ng-click="$event.stopPropagation()">
            {{mentorship.mentee.firstname + ' ' + mentorship.mentee.lastname}}
           </a>
          </h3>
         </div>
         <div class="gb-subdescription">
          <p class="gb-ellipsis">
           MENTEE
          </p>
         </div>
         <div class="gb-description">
         </div>
        </div>
        <div class="gb-image" ng-class="mentorship.mentee.theme_color">
         <img ng-if="mentorship.mentee.avatar_url !== 'gb-avatar.jpg'"
              src="src/assets/images/profile_pic/{{mentorship.mentee.avatar_url}}"
              class="gb-heading-pic" alt="">
         {{mentorship.mentee.firstname.substring(0, 1) + mentorship.mentee.lastname.substring(0, 1)}}
        </div>
       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
  </div>
 </div>
</div>
<div class="gb-container" layout="row" layout-align="start" layout-wrap>
 <ms-masonry class="components" options='{"columnCount":3, "respectItemOrder": true}'>
  <ms-masonry-item class="p-8" ng-repeat="section in componentLinearCtrl.component.motives">
   <div class="gb-editable-component-card gb-card-row md-whiteframe-1dp" layout="column" layout-align="start stretch" flex>
    <md-toolbar class="gb-heading" flex>
     <div class="md-toolbar-tools">
      <div class="gb-heading-title">
       <span class="ellipsis">
        {{section.title}}
       </span>
      </div>
      <span flex></span>
      <md-button ng-click="componentLinearCtrl.openComponentSectionDialog($event, componentLinearCtrl.component.id, section)"
                 class="gb-action-btn">
       <md-icon class="" md-font-icon="icon-fullscreen"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
    <div class="gb-card-content" flex>
     <form ng-submit="componentLinearCtrl.createComponent(section)" class="gb-title">
      <md-input-container class="md-block" md-no-float>
       <input type="text" class="gb-add-component-input" ng-model="section.newComponent.title" placeholder='Add to "{{section.title}}"' md-maxlength="150">
      </md-input-container>
     </form>
     <div ng-repeat="component in section.components" class="gb-title" ng-class="component.background_color">
      <md-input-container class="md-block" md-no-float>
       <input type="text" ng-model="component.title" ng-model-options="{updateOn: 'blur', debounce: 1000}"
              class="gb-ellipsis" placeholder="Title" md-maxlength="250"
              ng-change="componentLinearCtrl.updateComponentDescription(component)">
      </md-input-container>
      <md-button ng-click="componentLinearCtrl.openComponentDialog($event, component.id)" class="gb-action-btn md-icon-button" aria-label="open">
       <md-icon class="" md-font-icon="fa fa-chevron-right"></md-icon>
      </md-button>
     </div>
    </div>
   </div>
  </ms-masonry-item>
  <ms-masonry-item class="p-8"
                   ng-repeat="section in componentLinearCtrl.component.components">
   <div class="gb-editable-component-card gb-card-row md-whiteframe-1dp" layout="column" layout-align="start stretch" flex>
    <md-toolbar class="gb-heading" flex>
     <div class="md-toolbar-tools">
      <div class="gb-heading-title">
       <span class="ellipsis">
        {{section.title}}
       </span>
      </div>
      <span flex></span>
      <md-button ng-click="componentLinearCtrl.openComponentSectionDialog($event, componentLinearCtrl.component.id, section)"
                 class="gb-action-btn" aria-label="View Section Fullscreen">
       <md-icon class="" md-font-icon="icon-fullscreen"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
    <div class="gb-card-content" flex>
     <form ng-submit="componentLinearCtrl.createComponent(section)" class="gb-title">
      <md-input-container class="md-block" md-no-float>
       <input type="text" class="gb-add-component-input" ng-model="section.newComponent.title" placeholder='Add to "{{section.title}}"' md-maxlength="150">
      </md-input-container>
     </form>
     <div ng-repeat="component in section.components" class="gb-title" ng-class="component.background_color">
      <md-input-container class="md-block" md-no-float>
       <input type="text" ng-model="component.title"
              ng-model-options="{
                   updateOn: 'blur', debounce: 1000}" ng-change="componentLinearCtrl.updateComponentDescription(component)"
              placeholder="Title" md-maxlength="250">
      </md-input-container>
      <md-button ng-click="componentLinearCtrl.openComponentDialog($event, component.id)" class="gb-action-btn md-icon-button" aria-label="open">
       <md-icon class="" md-font-icon="fa fa-chevron-right"></md-icon>
      </md-button>
     </div>
    </div>
   </div>
  </ms-masonry-item>
  <ms-masonry-item class="p-8"
                   ng-repeat="section in componentLinearCtrl.component.activities">
   <div class="gb-editable-component-card gb-card-row md-whiteframe-1dp" layout="column" layout-align="start stretch" flex>
    <md-toolbar class="gb-heading" flex>
     <div class="md-toolbar-tools">
      <div class="gb-heading-title">
       <span class="ellipsis">
        {{section.title}}
       </span>
      </div>
      <span flex></span>
      <md-button ng-click="componentLinearCtrl.openComponentSectionDialog($event, componentLinearCtrl.component.id, section)"
                 class="gb-action-btn">
       <md-icon class="" md-font-icon="icon-fullscreen"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
    <div class="gb-card-content" flex>
     <form ng-submit="componentLinearCtrl.createComponent(section)" class="gb-title">
      <md-input-container class="md-block" md-no-float>
       <input type="text" class="gb-add-component-input" ng-model="section.newComponent.title" placeholder='Add to "{{section.title}}"' md-maxlength="150">
      </md-input-container>
     </form>
     <div ng-repeat="component in section.components" class="gb-title" ng-class="component.background_color">
      <md-input-container class="md-block" md-no-float>
       <input type="text" ng-model="component.title"
              ng-model-options="{
                   updateOn: 'blur', debounce: 1000}" ng-change="componentLinearCtrl.updateComponentDescription(component)"
              placeholder="Title" md-maxlength="250">
      </md-input-container>
      <md-button ng-click="componentLinearCtrl.openComponentDialog($event, component.id)" class="gb-action-btn md-icon-button" aria-label="open">
       <md-icon class="" md-font-icon="fa fa-chevron-right"></md-icon>
      </md-button>
     </div>
    </div>
   </div>
  </ms-masonry-item>
 </ms-masonry>
</div>