<!--
LINEAR VIEW HOME
-->
<div class="gb-container widget-group gb-card-row" layout="row" flex>
 <ms-widget class="gb-description-widget mt-10" layout="column" flex>
  <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
   <div layout="column" layout-align="start stretch" flex>
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-list"></md-icon>
      </md-button>
      <div class="gb-heading-title">
       <span class="ellipsis">
        Description
       </span>
      </div>
      <span flex></span>
     </div>
    </md-toolbar>
    <div class="gb-title">
     <md-input-container class="md-block" md-no-float>
      <textarea ng-model="componentLinearCtrl.component.title" placeholder="Title" columns="1" md-maxlength="150" max-rows="15"></textarea>
     </md-input-container>
    </div>
    <div class="gb-description">
     <md-input-container class="md-block" md-no-float>
      <textarea ng-model="componentLinearCtrl.component.description" placeholder="Write a Description" columns="1" md-maxlength="250" max-rows="15"></textarea>
     </md-input-container>
    </div>
    <div class="gb-card-profile">
     <div class="gb-box-content">
      <div class="gb-title">
       <h3 class="gb-ellipsis">
        <a data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
         {{componentLinearCtrl.component.creator.firstname + ' ' + componentLinearCtrl.component.creator.lastname}}
        </a>
       </h3>
      </div>
      <div class="gb-subdescription">
       <p class="gb-ellipsis">
        CREATOR
       </p>
      </div>
      <div class="gb-description">
      </div>
     </div>
     <div class="gb-image">
      <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
           src="public/img/profile_pic/{{componentLinearCtrl.component.creator.avatar_url}}"
           class="gb-heading-pic" alt="">
     </div>
    </div>
   </div>
   <div class="background-image-center" layout-align="center center"  flex>
    <md-icon md-font-icon="fa icon-gb-{{componentLinearCtrl.component.type.title}}" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
 </ms-widget>
</div>

<div class="gb-container widget-group" layout="row" flex layout-nowrap>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.contributors_count}}
    </div>
    <div class="gb-title">
     CONTRIBUTORS
    </div>
   </div>
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="details">
    <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
   </md-button>
   <div class="background-image-center">
    <md-icon md-font-icon="fa icon-users" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
    <md-icon md-font-icon="fa fa-times" class="s16"></md-icon>
   </md-button>
  </ms-widget-back>
 </ms-widget>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.discussions_count}}
    </div>
    <div class="gb-title">
     DISCUSSIONS
    </div>
   </div>
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="details">
    <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
   </md-button>
   <div class="background-image-center">
    <md-icon md-font-icon="fa fa-comments-o" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
    <md-icon md-font-icon="icon-close" class="s16"></md-icon>
   </md-button>
  </ms-widget-back>
 </ms-widget>
 <ms-widget flippable="true" class="p-8 gb-count-widget" layout="column" flex="33">
  <ms-widget-front class="p-8" layout="row" flex>
   <div layout="column" layout-align="center center" flex>
    <div class="gb-count">
     {{::componentLinearCtrl.component.stats.activities_count}}
    </div>
    <div class="gb-title">
     ACTIVITIES
    </div>
   </div>
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="details">
    <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
   </md-button>
   <div class="background-image-center">
    <md-icon md-font-icon="fa icon-gb-apply" class="gb-background-icon"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-button class="gb-details-btn md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
    <md-icon md-font-icon="icon-close" class="s32"></md-icon>
   </md-button>
  </ms-widget-back>
 </ms-widget>
</div>

<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" flex>
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Add More Sections
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
 <div class="" layout="column" layout-align="start stretch" flex>
  <div class="widget-group gb-section-widget-group" ng-class="{'gb-collapsed':vm.collapseMoreSections}"
       layout="row" layout-align="start" layout-wrap flex>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex="33">
    <ms-widget-front layout="row" flex>
     <div layout="column" layout-align="space-between" flex>
      <div layout="column" layout-align="center stretch" flex>
       <div class="gb-title">
        CONTRIBUTORS
       </div>
       <div class="gb-description">
        Lists all users who have contributed to this skill.
       </div>
      </div>
      <md-button class="gb-add-section-button">
       Request Contributions
      </md-button>
     </div>
     <div class="background-image-center">
      <md-icon md-font-icon="fa icon-users" class="gb-background-icon"></md-icon>
     </div>
    </ms-widget-front>
   </ms-widget>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex="33">
    <ms-widget-front layout="row" flex>
     <div layout="column" layout-align="space-between" flex>
      <div layout="column" layout-align="center stretch" flex>
       <div class="gb-title">
        Components
       </div>
       <div class="gb-description">
        Sub topics
       </div>
      </div>
      <md-button class="gb-add-section-button">
       Request Components
      </md-button>
     </div>
     <div class="background-image-center">
      <md-icon md-font-icon="fa icon-users" class="gb-background-icon"></md-icon>
     </div>
    </ms-widget-front>
   </ms-widget>
   <ms-widget  ng-repeat="component in componentLinearCtrl.component.components" class="p-8 gb-section-widget" layout="column" flex="33">
    <ms-widget-front layout="row" flex>
     <div layout="column" layout-align="space-between" flex>
      <div layout="column" layout-align="center stretch" flex>
       <div class="gb-title">
        {{component.title}}
       </div>
       <div class="gb-description">
        {{component.description}}
       </div>
      </div>
      <md-button class="gb-add-section-button">
       Add {{component.title}}
      </md-button>
     </div>
     <div class="background-image-center">
      <md-icon md-font-icon="fa icon-users" class="gb-background-icon"></md-icon>
     </div>
    </ms-widget-front>
   </ms-widget>
   <ms-widget  ng-repeat="motive in componentLinearCtrl.component.motives" class="p-8 gb-section-widget" layout="column" flex="33">
    <ms-widget-front layout="row" flex>
     <div layout="column" layout-align="space-between" flex>
      <div layout="column" layout-align="center stretch" flex>
       <div class="gb-title">
        {{motive.title}}
       </div>
       <div class="gb-description">
        {{motive.description}}
       </div>
      </div>
      <md-button class="gb-add-section-button">
       Add
      </md-button>
     </div>
     <div class="background-image-center">
      <md-icon md-font-icon="fa icon-users" class="gb-background-icon"></md-icon>
     </div>
    </ms-widget-front>
   </ms-widget>
  </div>
  <md-button ng-click="vm.toggleMoreSections()" class="gb-view-more-button" flex>
   <span ng-if="vm.collapseMoreSections">View More</span>
   <span ng-if="!vm.collapseMoreSections">View Less</span>
  </md-button>
 </div>
</div>
<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="row" layout-align="start center" layout-wrap>
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Contributors
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" aria-label="Add Contributors">
    <md-icon md-font-icon="fa fa-plus"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <div ng-repeat="contribution in componentLinearCtrl.component.contributions" class="p-8" flex="33">
  <div class="gb-card-profile md-whiteframe-1dp">
   <div class="gb-box-content">
    <div class="gb-title">
     <h3 class="gb-ellipsis">
      <a data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
       {{contribution.contributor.firstname + ' ' + contribution.contributor.lastname}}
      </a>
     </h3>
    </div>
    <div class="gb-subdescription">
     <p class="gb-ellipsis">
      {{contribution.level.title}} - {{contribution.status.title}}
     </p>
    </div>
    <div class="gb-description">
    </div>
   </div>
   <div class="gb-image">
    <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
         src="public/img/profile_pic/{{contribution.contributor.avatar_url}}"
         class="gb-heading-pic" alt="">
   </div>
  </div>
 </div>
</div>
<div class="gb-container gb-card-row gb-section-row" layout="column" layout-align="start center" flex>
 <md-toolbar class="gb-heading" flex="100">
  <div class="md-toolbar-tools">
   <div class="gb-heading-title">
    <span class="ellipsis">
     Related Topics
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" aria-label="Add Contributors">
    <md-icon md-font-icon="fa fa-plus"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <div class="" layout="row" layout-wrap>
  <div  ng-repeat="component in componentLinearCtrl.component.apps"
        layout-fill flex="25">
   <div class="board-list-item"
        ui-sref="app.componentLinearView.home({id:component.id})"
        layout="column" layout-align="start">
    <div class="gb-card-cover">
     <div ng-if="component.component_picture_url && component.component_picture_url !== 'default.png'"
          class="gb-cover-image">
      <img ng-src="src/assets/images/explorer/{{component.component_picture_url}}">
     </div>
     <div ng-if="component.component_placeholder_style"
          class="gb-cover-image"
          ng-style="component.component_placeholder_style">
     </div>
    </div>
    <div class="gb-card-content">
     <div class="gb-title">
      <h3 class="gb-ellipsis">
       {{component.title}}
      </h3>
     </div>
     <div class="gb-name-badge-1">
      <div class="gb-image">
       <img data-ui-sref="apps.component.overview({componentId: component.id})"
            ng-src="public/img/profile_pic/{{ ::component.creator.avatar_url}}"
            class="gb-heading-pic" alt="">
      </div>
      <p class="gb-name gb-ellipsis">
       {{ ::component.creator.firstname}}
       {{ ::component.creator.lastname}}
      </p>
     </div>
     <div class="gb-subdescription">
      <p class="">
       <span>
        {{::component.description}}
       </span>
      </p>
      <p ng-if="!component.description" class="gb-no-info">
       No description to show
      </p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="gb-container gb-editible-note-card gb-card-row md-whiteframe-1dp" layout="column" layout-align="start stretch" flex
     ng-repeat="motive in componentLinearCtrl.component.motives">
 <md-toolbar class="gb-heading" flex>
  <div class="md-toolbar-tools">
   <div class="gb-heading-title">
    <span class="ellipsis">
     {{motive.title}}
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
 <div class="gb-card-content" flex>
  <div ng-repeat="component in motive.components" class="gb-title" ng-style="{'background-color':component.background_color.title}">
   <md-input-container class="md-block" md-no-float>
    <input type="text" ng-model="component.title" placeholder="Title" md-maxlength="150">
   </md-input-container>
  </div>
  <div class="gb-no-info" ng-if="motive.components.length === 0">
   No entries to show.
  </div>
  <div class="gb-title">
   <md-input-container class="md-block" md-no-float>
    <textarea class="gb-add-note-input" ng-model="motive.newComponent.title" placeholder='Add to "{{motive.title}}"' md-maxlength="150" max-rows='5'></textarea>
   </md-input-container>
  </div>
 </div>
</div>
<div class="gb-container gb-motive-card gb-card-row md-whiteframe-2dp" layout="column" layout-align="start center" flex
     ng-repeat="section in componentLinearCtrl.component.components">
 <md-toolbar class="gb-heading" flex>
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     {{section.title}}
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
 <div ng-repeat="component in section.components" ng-if="section.components.length > 0" class="gb-one-liner" ng-style="{'background-color':component.background_color.title}"
      layout="column" layout-align="center start" flex>
  <a>
   <span class="ellipsis">
    {{component.title}}
   </span>
  </a>
 </div>
</div>