<!--
SWIPE COMPARE TAB VIEW
-->
<div class="" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="column" layout-align="" flex>
  <div class="" layout="column" layout-align="center center" flex>
   <div class="text-center">
    <h2 class="gb-title">
     Compare
    </h2>
    <p class="gb-description">
     Match your bookmarks
    </p>
   </div>
  </div>
 </div>
</div>
<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" flex>
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-users"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Compare with
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
 <div class="" layout="column" layout-align="start stretch" flex>
  <div class="widget-group gb-section-widget-group"
       layout="row" layout-align="start" layout-wrap flex>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex="50">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.contributions)" class="gb-main-button"
                layout="row" layout-align="start stretch" flex>
      <div class="gb-title-icon md-deep-purple-400-bg" layout-fill layout="row" layout-align="center center" flex>
       <i class="fa icon-users"></i>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-title">
        MEMBERS
       </div>
       <div class="gb-description">

       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
   <ms-widget class="p-8 gb-section-widget" layout="column" flex="50">
    <ms-widget-front layout="row" layout-fill flex>
     <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.apps)" class="gb-main-button"
                layout="row" layout-align="start stretch" flex>
      <div class="gb-title-icon md-lime-400-bg" layout-fill layout="row" layout-align="center center" flex>
       <i class="fa icon-gb-skill"></i>
      </div>
      <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
       <div class="gb-title">
        SKILLS
       </div>
       <div class="gb-description">

       </div>
      </div>
     </md-button>
    </ms-widget-front>
   </ms-widget>
  </div>
 </div>
</div>
