<!-- NOTE DIALOG -->
<md-dialog class="gb-component-section-dialog gb-card-row " aria-label="Card Dialog" ng-cloak>
 <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
  <div class="md-toolbar-tools gb-container">
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     {{vm.component.title}}
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="icon-close"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <md-dialog-content ms-scroll>

  <div id="components" class="gb-container" layout="column" layout-align="start stretch" flex>
   <md-sidenav class="sidenav main-sidenav md-white-bg" ms-scroll
               md-component-id="main-sidenav"
               ms-sidenav-helper ng-include="'app/main/apps/components/sidenavs/main/main-sidenav.html'">
   </md-sidenav>
   <md-toolbar class="gb-components-toolbar" layout-align="center center">
    <div class="gb-container md-toolbar-tools" layout="row" layout-align="space-between center">
     <div layout="row">
      <md-button class="md-icon-button sidenav-toggle" ng-click="vm.toggleSidenav('main-sidenav')"
                 aria-label="Toggle sidenav" translate translate-attr-aria-label="NOTES.TOGGLE_SIDENAV">
       <md-icon md-font-icon="icon-menu" class="icon"></md-icon>
      </md-button>
      <div class="main-title" layout="row" layout-align="start center">
       <span class="title" ng-if="vm.componentListType === 'components'"
             >Notes</span>
       <span class="title" ng-if="vm.componentListType === 'reminders'"
             translate="NOTES.REMINDERS">Reminders</span>
       <span class="title" ng-if="vm.componentListType === 'archive'"
             translate="NOTES.ARCHIVE">Archive</span>
       <span class="title" ng-if="vm.componentListType.name">{{vm.componentListType.name}}</span>

       <span ng-if="filteredComponents.length" class="pl-8 white-text secondary-text components-count">
        ({{filteredComponents.length}})
       </span>
      </div>
     </div>
     <div flex></div>
     <md-button class="md-icon-button sidenav-toggle" ng-click="vm.openSearchToolbar()"
                aria-label="open search toolbar" translate translate-attr-aria-label="NOTES.OPEN_SEARCH_TOOLBAR">
      <md-icon md-font-icon="icon-magnify" class="icon"></md-icon>
     </md-button>
    </div>
    <div ng-show="vm.searchToolbar" class="md-toolbar-tools search-toolbar animate-slide-down md-accent-bg"
         layout="row" layout-align="start center">
     <md-button class="md-icon-button" ng-click="vm.closeSearchToolbar()" translate
                translate-attr-aria-label="NOTES.CLOSE" aria-label="close">
      <md-icon md-font-icon="icon-close" class="mr-8"></md-icon>
     </md-button>
     <input id="search-components-input" placeholder="Search components" type="text" ng-model="vm.search" translate
            translate-attr-placeholder="NOTES.SEARCH_NOTES" ng-model-options="{'debounce': 200}" flex>
    </div>
   </md-toolbar>
   <div class="" flex>
    <ms-new-component gb-components="vm.components" gb-parent-component-id="vm.componentId" ng-hide="vm.componentListType === 'archive'" class="md-whiteframe-2dp"></ms-new-component>
    <ms-masonry class="components" options='{"columnCount":5}'>
     <ms-masonry-item class="component"
                      ng-repeat="component in vm.components track by component.id"
                      ms-component-item="component"
                      ng-click="componentLinearCtrl.openComponentDialog($event, component.id)">
     </ms-masonry-item>
    </ms-masonry>
    <div class="no-results text-center" ng-if="filteredComponents.length === 0 && vm.search === ''">
     <div class="message" ng-if="vm.componentListType === 'components'">
      <md-icon class="message-icon s96" md-font-icon="icon-lightbulb"></md-icon>
      <div class="message-text" translate="NOTES.NO_NOTES_YET">No components yet...</div>
     </div>
     <div class="message" ng-if="vm.componentListType === 'reminders'">
      <md-icon class="message-icon s96" md-font-icon="icon-bell"></md-icon>
      <div class="message-text" translate="NOTES.NO_NOTES_WITH_REMINDERS">No components with reminders</div>
     </div>
     <div class="message" ng-if="vm.componentListType === 'archive'">
      <md-icon class="message-icon s96" md-font-icon="icon-archive"></md-icon>
      <div class="message-text" translate="NOTES.NO_ARCHIVED_NOTES">No archived Components</div>
     </div>
     <div class="message" ng-if="vm.componentListType.name">
      <md-icon class="message-icon s96" md-font-icon="icon-label"></md-icon>
      <div class="message-text" translate="NOTES.NO_NOTES_WITH_THIS_LABEL">No components with this label</div>
     </div>
    </div>
    <div class="no-results text-center" ng-if="filteredComponents.length === 0 && vm.search !== ''">
     <div class="message">
      <md-icon class="message-icon s96" md-font-icon="icon-lightbulb"></md-icon>
      <div class="message-text" translate="NOTES.NO_RESULTS">No results...</div>
     </div>
    </div>
   </div>
  </div>
 </md-dialog-content>
</md-dialog>