#boards {
 min-height: 100%;

 #board-selector {
  margin-top: 88px;

  .board-list {
   padding: 32px 0;

   .board-list-item {
    height: 230px;
    min-width: 210px;
    width: 210px;
    padding: 0 0 0 0;
    margin: 8px;
    border-radius: 2px;
    background-color: #FFF;
    color: #555;
    cursor: pointer;

    &:hover {
     box-shadow: $whiteframe-shadow-4dp;
    }


    .gb-list-card-cover {
     height: 110px;
     border-bottom: transparent solid 2px;
     overflow: hidden;
     img {
      width: 100%;
      min-height: 110px;
     }
    }

    .gb-box-content {
     padding: 14px 6px 14px 6px;

     .gb-title {
      //font-size:18px;
      color: #555;
      h3 {
       font-size: 12px;
       font-weight: 400;
       //line-height: 32px;
       margin-bottom: 8px;
      }
     }

     .gb-description {
      //@include position(absolute, 23px 0 50px 0);
      //margin-bottom: 0px;
      font-size: 12px;
      p {
       text-transform: uppercase;
       color: #777;
       font-size: 8px;
      }
     }

     .gb-subdescription {
      //@include position(absolute, 23px 0 50px 0);
      font-size: 10px;
      height: 25px;
      display: block;
      /* Fallback for non-webkit */
      display: -webkit-box;
      /* Fallback for non-webkit */
      line-height: 1.2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      p {
       font-size: 10px;
       line-height: 12px;
      }
      .gb-no-info {
       padding: 12px 5px;
       color: #BBB;
       font-size: 10px;
      }
     }

    }

    .gb-name-badge-1 {
     margin-bottom: 8px;
     position: relative;
     //float: right;
     height: 20px;
     padding-left: 20px;
     font-size: 9px;
     .gb-name {
      font-size: 12px;
      padding-top: 0px;
      padding-left: 5px;
     }
     .gb-image {
      @include position(absolute, 0 null 0 0);
      border: none;
      right: auto;
      height: 20px;
      width: 20px;
      img {
       border-radius: 50%;
       min-height: 20px;
       height: 20px;
       width: 20px;
      }
     }
    }

    .board-name {
     padding-top: 16px;
     font-weight: 500;
    }
   }
  }
 }
}