<!-- NOTE DIALOG -->
<md-dialog class="gb-component-section-dialog gb-card-row " aria-label="Card Dialog" ng-cloak>
 <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
  <div class="md-toolbar-tools gb-container">
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     {{vm.component.title}}
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="icon-close"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <md-dialog-content ms-scroll>
  <div class="" layout="column" layout-align="start center" flex>
   <div class="gb-editable-component-card gb-container" layout="column" layout-align="start stretch" flex>
    <div class="gb-card-content" flex>
     <div ng-repeat="component in vm.component.components" class="gb-title" ng-style="{
    'background-color':component.background_color.title}">
      <md-input-container class="md-block" md-no-float>
       <input type="text" ng-model="component.title" placeholder="Title" md-maxlength="150">
      </md-input-container>
      <md-button ng-click="vm.openComponentDialog($event, component.id)" class="gb-action-btn md-icon-button" aria-label="open">
       <md-icon class="" md-font-icon="fa fa-chevron-right"></md-icon>
      </md-button>
     </div>
     <form ng-submit="vm.createComponent(vm.component)" class="gb-title">
      <md-input-container class="md-block" md-no-float>
       <input type="text" class="gb-add-component-input" ng-model="vm.component.newComponent.title" placeholder='Add to "{{section.title}}"' md-maxlength="150">
      </md-input-container>
     </form>
    </div>
   </div>
  </div>
 </md-dialog-content>
</md-dialog>