<section class="gb-section-row-2 row">
 <header class="gb-heading row">
  <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
   <p class="gb-title gb-ellipsis">
    COLLABORATIONS
   </p>
  </div>
  <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3">
   <a class="gb-ghost-btn-2 pull-right" ng-click="editDescriptionForm.$show()" ng-hide="editDescriptionForm.$visible">
    <i class="fa fa-pencil"></i>
   </a>
  </div>
 </header>
 <div ng-repeat="collaboration in collaborationManageCtrl.collaborations" class="gb-box-1 row">
  <div class="gb-icon-image col-lg-3 col-md-3 col-sm-3 col-xs-3">
   <span class="fa-stack fa-lg">
    <i class="fa fa-outer icon-gb-{{collaboration.explore.app_type.name.toLowerCase()}} fa-stack-2x"></i>
    <i class="fa fa-inner {{collaboration.explore.icon.name}} fa-stack-1x"></i>
   </span>
  </div>
  <div class="gb-box-body col-lg-9 col-md-9 col-sm-9 col-xs-9">
   <div class="gb-heading row">
    <p class="gb-title">{{collaboration.explore.app_type.name + ' - ' + collaboration.explore.level.name}}</p>
    <div class="gb-dropdown-action">
     <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-chevron-down"></i>
     </a>
     <ul class="dropdown-menu dropdown-menu-right">
      <li>
       <a href ui-sref="apps.collaboration.explore.overview({collaborationId: collaboration.explore.id})">
        Open
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div class="gb-description row">
    <a href ui-sref="apps.collaboration.overview({collaborationId: collaboration.id})" class="">
     {{collaboration.explore.title}}
    </a>
    {{collaboration.explore.description}}
   </div>
   <div class="gb-footer row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
     <h5 class="gb-ellipsis">
      <a ui-sref="profile.overview({profileId: collaboration.mentor_id})">
       {{collaboration.mentor.firstname + ' ' + collaboration.mentor.lastname}}
      </a>
      <i class='gb-faded-icon fa fa-play'></i>
      <a ui-sref="profile.overview({profileId: collaboration.mentee_id})">
       {{collaboration.mentee.firstname + ' ' + collaboration.mentee.lastname}}
      </a>
     </h5>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">

    </div>
   </div>
  </div>
 </div>
</section>


<div class="" ng-include="'public/modules/collaboration/views/components/collaboration/collaboration-timeline.html'"></div>
<div class="gb-dummy-height row"></div>