<!-- NOTE DIALOG -->
<md-dialog class="gb-component-discussion-dialog gb-card-row " aria-label="Card Dialog" ng-cloak>
 <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
  <div class="md-toolbar-tools gb-container">
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Discussions
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="icon-close"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <md-dialog-content ms-scroll>
  <div class="gb-component-discussion" layout="column" layout-align="start center">
   <div class="timeline gb-container" layout="column" flex="100" flex-sm="100">
    <div class="profile-box add-post md-whiteframe-1dp">
     <div class="form" flex>
      <textarea placeholder="Write something.." translate
                ng-model="vm.post.title"
                translate-attr-placeholder="PROFILE.WRITE_SOMETHING"></textarea>
      <footer layout="row" layout-align="space-between center">
       <div layout="row" layout-align="start center">
        <md-button class="md-icon-button" aria-label="insert photo" translate
                   translate-attr-aria-label="PROFILE.INSERT_PHOTO">
         <md-icon md-font-icon="icon-file-image-box"></md-icon>
         <md-tooltip><span translate="PROFILE.INSERT_PHOTO">insert photo</span></md-tooltip>
        </md-button>
       </div>
       <md-button ng-click="vm.createPost()" class="post-button md-accent md-raised" aria-label="POST"
                  translate="PROFILE.POST" translate-attr-aria-label="PROFILE.POST">
        POST
       </md-button>
      </footer>
     </div>
    </div>
    <md-divider></md-divider>
    <div class="timeline-item md-whiteframe-2dp" ng-repeat="post in vm.posts">
     <header layout="row" layout-align="space-between start">
      <div class="user" layout="row" layout-align="start center">
       <img class="avatar" ng-src="assets/images/profile_pic/{{post.creator.avatar_url}}">

       <div layout="column">
        <div class="title">
         <span class="username md-accent-color">
          {{post.creator.firstname + " " + post.creator.lastname}}
         </span>
         <span ng-if="post.type == 'post'" translate="PROFILE.TYPE_POST">posted on your
          timeline</span>
         <span ng-if="post.type == 'something'" translate="PROFILE.TYPE_SOMETHING">shared something
          with you</span>
         <span ng-if="post.type == 'video'" translate="PROFILE.TYPE_VIDEO">shared a video with
          you</span>
         <span ng-if="post.type == 'article'" translate="PROFILE.TYPE_ARTICLE">shared an article with
          you</span>
        </div>
        <div class="time">{{post.created_at}}</div>
       </div>
      </div>

      <md-button class="md-icon-button" aria-label="more" translate translate-attr-aria-label="PROFILE.MORE">
       <md-icon md-font-icon="icon-dots-vertical"></md-icon>
      </md-button>
     </header>
     <div class="content">
      <div ng-if="post.title" class="message">
       {{post.title}}
      </div>

      <div ng-if="post.media" class="media">
       <img ng-if="post.media.type === 'image'" ng-src="{{post.media.preview}}">

       <div ng-if="post.media.type === 'video'" ng-bind-html="post.media.embed | toTrusted">
       </div>
      </div>

      <div ng-if="post.article" layout="column" class="article">
       <div class="media">
        <img ng-src="{{post.article.media.preview}}">
       </div>
       <div class="title">{{post.article.title}}</div>
       <div class="subtitle">{{post.article.subtitle}}</div>
       <div class="excerpt">{{post.article.excerpt}}</div>
      </div>
      <div layout="row" layout-align="start center">
       <md-button class="like-button">
        <div layout="row" layout-align="start center">
         <md-icon md-font-icon="icon-heart-outline" class="s16"></md-icon>
         <span translate="PROFILE.LIKE">Like</span>&nbsp;<span>({{post.like}})</span>
        </div>
       </md-button>
       <md-button class="share-button">
        <div layout="row" layout-align="start center">
         <md-icon md-font-icon="icon-share" class="s16"></md-icon>
         <span translate="PROFILE.SHARE">Share</span>&nbsp;<span>({{post.share}})</span>
        </div>
       </md-button>
      </div>
     </div>
    </div>
   </div>
  </div>
 </md-dialog-content>
</md-dialog>