<div class="gb-card-activity gb-app-type-{{::explorerComponent.app_type_id}}"
     ng-style="{'background-color':explorerComponent.component.background_color.title}">
 <div class="gb-box-content">
  <div class="gb-title row">
   <h3 class="gb-ellipsis">
    {{::explorerComponent.component.title}}
   </h3>
  </div>
  <div class="gb-subdescription row">
   <p class="gb-ellipsis">
    {{::explorerComponent.component.type.title}}</p>
  </div>
  <div ng-if="explorerComponent.component.description" class="gb-description row">
   <p class="">
    <span>
     {{::explorerComponent.component.description}}
    </span>
   </p>
  </div>
  <div ng-if="explorerComponent.components.length" class="gb-listbox-content">
   <div class="gb-one-liner" ng-repeat="component in explorerComponent.components| limitTo:componentsLimitTo track by $index">
    <a class="gb-ellipsis" ng-click="openItem(component)">
     {{component.title}}
    </a>
    <md-button ng-click="openItem(component)" class="gb-action-btn gb-color-primary">
     <i class="fa fa-chevron-right"></i>
    </md-button>
   </div>
  </div>
 </div>
 <div class="gb-box-footer row">
  <md-button ng-click="open()" class="gb-color-primary">
   EXPLORE
  </md-button>
 </div>
</div>