<div class="gb-card-note gb-shadow-3 gb-app-type-{{::explorer.first_explorer.app_type.id}}">
 <div class="gb-box-content">
  <div class="gb-title row">
   <h3 class="gb-ellipsis">
    {{::explorerComponent.component.title}}
   </h3>
  </div>
  <div class="gb-subdescription row">
   <p class="gb-ellipsis">
    {{::explorerComponent.component.type.name}}</p>
  </div>
  <div class="gb-description  row">
   <p class="">
    <span>
     {{::explorerComponent.component.description}}
    </span>
   </p>
   <p ng-if="!explorerComponent.component.description" class="gb-no-info gb-ellipsis">
    No description to show
   </p>
  </div>
 </div>
 <div class="gb-box-footer row">
  <md-button ng-click="open()" class="gb-color-primary">
   EXPLORE
  </md-button>
 </div>
</div>