<!--
COMPONENT STORY DIALOG
-->
<md-dialog class="gb-component-story-dialog gb-card-row " aria-label="Card Dialog" ng-cloak>
 <md-toolbar class="gb-heading" layout="column" layout-align="start center" flex>
  <div class="md-toolbar-tools gb-container">
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Story
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="icon-close"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <md-dialog-content layout="column" layout-align="start center" flex ms-scroll>
  <div class="gb-container gb-arrow-container gb-up-arrow" layout="column" layout-align="start center" flex>
   <md-button class="md-raised" ng-class="{'gb-disabled':!vm.component.parent_component_id}"
              ng-click="vm.goUp()">
    <i class="fa fa-chevron-up"></i>
   </md-button>
  </div>
  <div class="gb-container" layout="row" layout-align="start stretch" flex>
   <div class="gb-arrow-container gb-left-arrow" layout="column" layout-align="center center">
    <md-button class="md-raised" ng-class="{'gb-disabled':vm.storyTabIndex === 0}" ng-click="vm.goLeft()">
     <i class="fa fa-chevron-left"></i>
    </md-button>
   </div>
   <div class="widget-group gb-card-row" layout="column" layout-align="start stretch" flex="100">
    <ms-widget flippable="true" class="gb-story-entry-widget" layout="column" layout-align="start stretch" flex="100">
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
        {{vm.currentComponent.type.title}}
       </div>
       <div class="gb-title">
        <a ui-sref="app.componentLinearView.home({id:vm.currentComponent.id})">
         {{vm.currentComponent.title}}
        </a>
       </div>
       <div class="gb-description">
        {{vm.currentComponent.description}}
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa {{vm.currentComponent.type.icon}}" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
     <ms-widget-back class="grey-50-bg">
      <md-toolbar class="gb-heading">
       <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Description Icon">
         <md-icon class="gb-title-icon" md-font-icon="fa fa-pencil"></md-icon>
        </md-button>
        <div class="gb-heading-title">
         <span class="ellipsis">
          Description
         </span>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
         <md-icon class="gb-title-icon" md-font-icon="fa fa-times"></md-icon>
        </md-button>
       </div>
      </md-toolbar>
      <div class="gb-type-title">
       {{vm.currentComponent.type.title}}
      </div>
      <div class="gb-title">
       {{vm.currentComponent.title}}
      </div>
      <div class="gb-description">
       {{vm.currentComponent.description}}
      </div>
     </ms-widget-back>
    </ms-widget>
   </div>
   <div class="gb-arrow-container gb-right-arrow" layout="column" layout-align="center center">
    <md-button class="md-raised" ng-class="{'gb-disabled':vm.storyTabIndex >= vm.component.components.length}" ng-click="vm.goRight()">
     <i class="fa fa-chevron-right"></i>
    </md-button>
   </div>
  </div>
  <div class="gb-container gb-arrow-container gb-down-arrow" layout="column" layout-align="start center" flex>
   <md-button class="md-raised" ng-class="{'gb-disabled':vm.downDisabled}"
              ng-click="vm.goDown()">
    <i class="fa fa-chevron-down"></i>
   </md-button>
  </div>
 </md-dialog-content>
</md-dialog>
