md-dialog {

 &.gb-component-story-dialog {
  @include position(absolute, 40px 0 0 0);
  background-color: #ECEFF1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  md-toolbar {
   height: 50px;
   min-height: 50px;
   max-height: 50px;
   b//ackground-color: $gb-secondary-color;

   .md-toolbar-tools {

    > .md-menu {
     display: flex;
     align-items: center;
     height: 100%;

     .md-button {

     }
    }

    .due-date {

     .moment-picker {

      .moment-picker-container {
       font-size: 13px;
      }
     }
    }
   }
  }

  md-dialog-content {
   position: relative;
   background-color: #F5F5F5;
   .gb-arrow-container {
    &.gb-up-arrow,
    &.gb-down-arrow{
     height: 40px;
     min-height: 40px;
     max-height: 40px;
     .md-button {
      height: 30px;
      min-height: 30px;
      max-height: 30px;
      line-height: 30px;
      width: 80px;
      min-width: 80px;
      max-width: 80px;
     }
    }
    &.gb-left-arrow,
    &.gb-right-arrow{
     width: 40px;
     min-width: 30px;
     max-width: 30px;
     .md-button {
      padding: 0 3px;
      width: 30px;
      min-width: 30px;
      max-width: 30px;
      height: 100px;
      min-height: 100px;
      max-height: 100px;
     }
    }
    .md-button {
     background-color: $gb-secondary-color;
     &:hover, &:focus {
      background-color: rgba($gb-secondary-color, 0.5)!important;
     }
     &.gb-disabled {
      background-color: #CCC;
      pointer-events: none;
      opacity: 0.2;
     }
    }
   }
   md-tabs {
    &.gb-story-tabs {
     background-color: #F5F5F5;
     position: relative;
     height: 100%;
     width: 100%;

     .gb-tab-button {
      padding: 12px 24px;
      height: 100%;
      width: 100%;
     }

     md-tabs-canvas,
     md-tabs-wrapper,
     md-pagination-wrapper {
      height: 78px!important;
     }
     md-tab-item {
      padding: 0;
      height: 80px;
      min-width: 120px;
      max-width: 200px;
      .gb-icon {
       height: 25px;
       max-height: 25px;
       font-size: 25px;
       margin-bottom: 8px;
       color: #999;
      }
      .gb-title {
       font-size: 10px;
       color: 000;
      }
     }

     md-tabs-wrapper {
      background-color: #EEE;
      border: none;

      .md-tab {
       max-width: none !important;
      }
     }

     md-tabs-content-wrapper {
      bottom: 80px!important;

      md-tab-content {
       height: 100%;
       overflow: hidden;

       > div {
        overflow: hidden;
        height: 100%;
       }

       md-list {

        .md-subheader {

        }

        md-list-item {
        }
       }
      }
     }
    }

    @include respond-to (gb-xs) {
     md-tabs {

      .gb-tab-button {
       padding: 5px 5px;
      }

      md-tabs-canvas,
      md-pagination-wrapper {
       height: 48px;
      }
      md-tab-item {
       padding: 0;
       height: 50px;
       min-width: 60px;
       .gb-icon {
        height: 15px;
        max-height: 15px;
        font-size: 15px;
        margin-bottom: 2px;
       }
       .gb-title {
        font-size: 8px;
       }
      }
      md-tabs-content-wrapper {
       bottom: 50px;
      }
     }
    }
   }
  }
 }
}
