<!--
SWIPE HISTORY TAB VIEW
-->
<div class="gb-container gb-card-row mt-10" layout="column" layout-align="start center" flex="100">
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <div class="gb-heading-title">
    <span class="ellipsis">
     Swipe History
    </span>
   </div>
   <span flex></span>
  </div>
 </md-toolbar>
</div>
<div class="gb-container">
 <div class="gb-card-3 md-whiteframe-1dp" ng-repeat="swipe in vm.swipes"
      ui-sref="app.componentLinearView.home({id:swipe.component.id})">
  <div class="gb-card-cover">
   <div ng-if="swipe.component.component_picture_url && swipe.component.component_picture_url !== 'default.png'"
        class="gb-cover-image">
    <img ng-src="src/assets/images/swipe/{{swipe.component.component_picture_url}}">
   </div>
   <div ng-if="swipe.component.component_placeholder_style"
        class="gb-cover-image"
        ng-style="swipe.component.component_placeholder_style">
   </div>
  </div>
  <div class="gb-card-content">
   <div class="gb-type-title">
    {{swipe.level.title}}
   </div>
   <div class="gb-title">
    {{swipe.component.title}}
   </div>
   <div class="gb-description">
    <p class="gb-ellipsis">
     {{::swipe.component.description}}
    </p>
   </div>
   <div class="gb-contributors" hide-xs>
    <div class="gb-card-profile">
     <div class="gb-box-content">
      <div class="gb-title">
       <a class="gb-ellipsis" data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
        {{swipe.component.creator.firstname + ' ' + swipe.component.creator.lastname}}
       </a>
      </div>
      <div class="gb-subdescription">
       <p class="gb-ellipsis">
        CREATOR
       </p>
      </div>
      <div class="gb-description">
      </div>
     </div>
     <div class="gb-image" ng-class="swipe.component.creator.theme_color">
      <img ng-if="swipe.component.creator.avatar_url !== 'gb-avatar.jpg'"
           src="src/assets/images/profile_pic/{{swipe.component.creator.avatar_url}}"
           class="gb-heading-pic" alt="">
      {{swipe.component.creator.firstname.substring(0, 1) + swipe.component.creator.lastname.substring(0, 1)}}
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
