
<div class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions">
 <ul class="gb-nav gb-vertical-nav-1">
  <li>
  <md-button>
   <i class="fa fa-home"></i> Home
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-explorer"></i> Explorer
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-swipe"></i> Swipe
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-matcher"></i> Matcher
  </md-button>
  </li>
 </ul>
 <h2 class="gb-heading-1">
  Components
 </h2>
 <ul class="gb-nav gb-vertical-nav-1">
  <li>
  <md-button>
   <i class="fa icon-gb-skills"></i> Skills
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-goals"></i> Goals
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-hobbies"></i> Hobbies
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-promises"></i> Promises
  </md-button>
  </li>
 </ul>
 <h2 class="gb-heading-1">
  Applications
 </h2>
 <ul class="gb-nav gb-horizontal-1">
  <li>
  <md-button>
   <i class="fa icon-gb-mentorships"></i> Mentorship
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-advices"></i> Advice
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-collaborations"></i> Collaboration
  </md-button>
  </li>
  <li>
  <md-button>
   <i class="fa icon-gb-journal"></i> Journal
  </md-button>
  </li>
 </ul>
</div>