
<div class="scrollable" folded="vm.folded" ms-scroll="vm.msScrollOptions">
 <ul class="gb-nav gb-vertical-nav-1">
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa fa-home"></i>
   </md-icon> Home
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-explorer"></i>
   </md-icon> Explorer
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-swipe"></i>
   </md-icon> Swipe
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-matcher"></i>
   </md-icon> Matcher
  </md-button>
  </li>
 </ul>
 <h2 class="gb-nav-heading">
  COMPONENTS
 </h2>
 <ul class="gb-nav gb-vertical-nav-1">
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-skills"></i>
   </md-icon> Skills
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-goals"></i>
   </md-icon> Goals
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-hobbies"></i>
   </md-icon> Hobbies
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-promises"></i>
   </md-icon> Promises
  </md-button>
  </li>
 </ul>
 <h2 class="gb-nav-heading">
  APPLICATIONS
 </h2>
 <ul class="gb-nav gb-vertical-nav-1">
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-mentorships"></i>
   </md-icon> Mentorship
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-advices"></i>
   </md-icon> Advice
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-collaborations"></i>
   </md-icon> Collaboration
  </md-button>
  </li>
  <li>
  <md-button>
   <md-icon class="">
    <i class="fa icon-gb-journals"></i>
   </md-icon> Journal
  </md-button>
  </li>
 </ul>
</div>