<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   <i class="fa icon-gb-section"></i>
   {{explorerSectionItemCtrl.explorerSection.description}}
  </p>
 </div>
 <md-button class="gb-close" ng-click="explorerSectionItemCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body">
 <div class="gb-no-info row">
  No information to show
 </div>
</div>
<div class="modal-footer">
 <md-button class="pull-right" aria-label="Close Todo Modal"
            ng-click="explorerSectionItemCtrl.close()">
  Close
 </md-button>
</div>