

<div class="row">
 <ul class="row gb-nav-2">
  <li ui-sref-active="active" class="">
   <a ui-sref="profile.discover.questions" class="gb-ellipsis">
    <i class="fa icon-gb-matcher"></i>
    Questions
   </a>
  </li>
  <li ui-sref-active="active" class="">
   <a ui-sref="profile.discover.swipes" class="gb-ellipsis">
    <i class="fa icon-gb-swipes"></i>
    Swipes
   </a>
  </li>
  <li  ui-sref-active="active" class="">
   <a ui-sref="profile.discover.matcher" class="gb-ellipsis">
    <i class="fa icon-gb-matcher"></i>
    Play Matcher
   </a>
  </li>
  <li  ui-sref-active="active" class="">
   <a ui-sref="profile.discover.matcher" class="gb-ellipsis">
    <i class="fa icon-gb-swipe"></i>
    Play Swipe
   </a>
  </li>
 </ul>
 <div ui-view="content" class="row gb-padding-medium"></div>
 <div class="gb-dummy-height row"></div>
</div>