<div class="gb-card-3 gb-shadow-3">
 <div class="gb-big-title">
  <h2 class="gb-title gb-ellipsis">
   {{explorerSection.description}}
  </h2>
 </div>
 <div class="gb-listbox-content">
  <form ng-submit="add()" class="row">
   <md-input-container class="md-block" md-no-float>
    <input ng-model="newAnswer" name="title" class=""
           placeholder="Type and press enter to add more" >
   </md-input-container>
  </form>
  <div class="gb-no-info row" ng-show="!explorerSection.answers.length">
   No list to show
  </div>
  <div class="gb-one-liner" ng-repeat="answer in explorerSection.answers| limitTo:answersLimitTo track by $index">
   <a class="gb-ellipsis" ng-click="openItem(answer)">
    {{answer.description}}
   </a>
  </div>
  <div ng-if="explorerSection.answers.length > answersLimitTo" class="gb-answer row">
   <div class="gb-answer-number gb-primary" ng-click="open()">
    <i class="fa fa-ellipsis-v"></i>
   </div>
   <div class="gb-answer-content">
    <a ng-click="open()">
     more
    </a>
   </div>
  </div>
 </div>
</div>
