<div class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4 col-xs-offset-0 col-lg-10 col-md-9 col-sm-8 col-xs-12">
 <div id="gb-middle-nav-3" class="container gb-app-detail">
  <div class="gb-cover col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <img src="public/img/placeholders/skill_cover_1.png" class='gb-cover-img' alt="">
   <div class="gb-profile-row">
    <img src="public/img/profile_pic/{{skillCtrl.skill.creator.avatar_url}}" class="gb-profile-pic" alt="">
    <div class="gb-row-content">
     <a class="gb-link gb-ellipsis">
      {{skillCtrl.skill.creator.firstname + " " + skillCtrl.skill.creator.lastname}}
     </a>
    </div>
   </div>
  </div>
  <div class="gb-heading-row col-lg-8 col-md-8 col-sm-12 col-xs-12">
   <h2 class="gb-heading gb-ellipsis">
    <strong>{{skillCtrl.skill.title}}</strong> {{skillCtrl.skill.description}}
   </h2>
  </div>
  <ul class="gb-menu-row nav gb-nav-1 col-lg-8 col-md-8 col-sm-8 col-xs-8">
   <li  ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a href ui-sref="apps.skill.overview" class="gb-link gb-app-tab gb-ellipsis">
     Overview
    </a>
   </li>
   <li ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a ui-sref="apps.skill.todos" class="gb-link gb-app-tab gb-ellipsis">
     Content
    </a>
   </li>
   <li  ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a ui-sref="apps.skill.notes" class="gb-link gb-app-tab gb-ellipsis">
     Contribution
    </a>
   </li>
   <li ui-sref-active="active" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <a ui-sref="skill.overview" class="gb-link gb-app-tab gb-ellipsis">
     Manage
    </a>
   </li>
  </ul>
  <div ui-view="content" class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
  <div class="gb-dummy-height row"></div>
 </div>
</div>
