<div id="gb-main-tab-pane" class="col-lg-8 col-md-9 col-sm-8 ">
 <div class="nav-container col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
  <div id="gb-middle-nav-3" class="gb-nav-parent">
   <div class="gb-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-todos">
     <div class='row'>
      <div class='gb-heading'>TODOS</div>
      <div ng-show="!skillTodosCtrl.todoFormDisplay" class="gb-form-placeholder">
       <img src="public/img/profile_pic/{{skillCtrl.skill.creator.avatar_url}}" class="gb-img" alt="">
       <input class="" ng-click="skillTodosCtrl.showTodoForm()" placeholder="What needs to be done?" readonly>
      </div>
      <form ng-show="skillTodosCtrl.todoFormDisplay" name="form" novalidate>
       <div class="form-group">
        <input type="text" class="vol-lg-12 col-md-12 col-cm-12 col-xs-12"
               placeholder="Skill Todo Description" ng-model="skillTodosCtrl.newSkillTodoData.description"
               name="uName" required="" />
        <div ng-show="form.$submitted || form.uName.$touched">
         <div ng-show="form.uName.$error.required">Tell us your name.</div>
        </div>
       </div>
       <div class="form-group">
        <input type="radio" ng-model="skillTodosCtrl.newSkillTodoData.privacy" value="0" checked="checked" />public
        <input type="radio" ng-model="skillTodosCtrl.newSkillTodoData.privacy" value="1" />private
       </div>
       <div class="row">
        <a type="button" class="btn btn-default" ng-click="skillTodosCtrl.cancelSkillTodo(form)">
         Cancel
        </a>
        <a type="submit" class="btn btn-primary" ng-click="skillTodosCtrl.createSkillTodo(skillTodosCtrl.newSkillTodoData)">
         Add Todo
        </a>
       </div>
      </form>
      <pre>todo = {{skillTodosCtrl.newSkillTodoData| json}}</pre>
     </div>
    </div>
    <div class="gb-todo-body row" ng-show="skillTodosCtrl.skillTodos.length" ng-cloak>
     <ul id="todo-list">
      <li ng-repeat="skillTodo in skillTodosCtrl.skillTodos| filter:statusFilter track by $index" ng-class="{completed: skillTodo.completed, editing: skillTodo == skillTodosCtrl.editedTodo}">
       <div class="view row">
        <input class="toggle col-lg-1" type="checkbox" ng-model="skillTodo.completed">
        <div class='gb-todo-content col-lg-8' ng-dblclick="skillTodosCtrl.editTodo(skillTodo)">
         {{skillTodo.todo.description}}
        </div>
        <div class="btn-group col-lg-3">
         <a class="btn btn-xs pull-right gb-ghost-btn-1 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          more
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">View</a></li>
          <li><a ng-click="skillTodosCtrl.editTodo(skillTodo)">Edit</a></li>
          <li><a ng-click="skillTodosCtrl.removeTodo(skillTodo)">Delete</a></li>
         </ul>
        </div>
       </div>
       <form ng-submit="skillTodosCtrl.doneEditing(skillTodo)">
        <input class="edit" ng-trim="false" ng-model="skillTodo.title" ng-blur="skillTodosCtrl.doneEditing(skillTodo)" todo-escape="skillTodosCtrl.revertEditing(skillTodo)" todo-focus="skillTodo == skillTodosCtrl.editedTodo">
       </form>
      </li>
     </ul>
    </div>
    <div class="gb-footer" ng-show="skillTodosCtrl.skillTodos.length" ng-cloak>
     <span id="todo-count"><strong>{{skillTodosCtrl.remainingCount}}</strong>
      <ng-pluralize count="skillTodosCtrl.remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
     </span>
     <ul id="filters">
      <li>
       <a ng-class="{selected: location.path() == '/'}" href="#/">All</a>
      </li>
      <li>
       <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
      </li>
      <li>
       <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
      </li>
     </ul>
     <button id="clear-completed" ng-click="clearDoneTodos()" ng-show="skillTodosCtrl.remainingCount < skillTodosCtrl.skillTodos.length">Clear completed</button>
    </div>
   </div>
   <div class="gb-dummy-height row"></div>
  </div>
 </div>
</div>
</div>
<div class="nav-container hidden-lg hidden-md hidden-sm hidden-xs ">
 <div id="gb-right-nav-3" role="navigation">
 </div>
</div>