<div class="gb-top-nav-1 gb-nav col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-2 col-lg-10 col-md-10 col-sm-9 col-xs-10">
 <div class="gb-title pull-left">
  SKILL APP
 </div>
 <div class="gb-action pull-left col-lg-2 col-md-2 col-sm-3 col-xs-3">
  <div class="btn-group">
   <a ng-click="skillsCtrl.openAddSkillModal()" class="btn btn-xs btn-link">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <a class="btn btn-xs btn-link gb-form-modal-trigger"
      data-gb-modal-target="#gb-skill-play-modal">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-play fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <a class="btn btn-xs btn-link">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
    </span>
   </a>
  </div>
 </div>
 <form id="search" class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
  <i class="gb-search-icon fa fa-search"></i>
  <input type="text" class="" placeholder="Search Skills">
 </form>
 <form ng-if="false" class="col-lg-4 col-md-4 col-sm-3 col-xs-3">
  <div class="form-group">
   <div class="input-group">
    <div class="input-group-addon">
     <i class="fa fa-search"></i>
    </div>
    <input type="text" class="form-control" placeholder="Search Skills">
   </div>
  </div>
 </form>
 <div class="gb-action pull-right">
  <div class="btn-group">
   <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-question fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <ul class="dropdown-menu dropdown-menu-right text-left">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
   </ul>
  </div>
  <div class="btn-group">
   <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-user fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <ul class="dropdown-menu dropdown-menu-right text-left">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
   </ul>
  </div>
 </div>
</div>
<div class="gb-top-nav-2 gb-nav col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-0 col-lg-10 col-md-10 col-sm-9 col-xs-10">
 <ul class="gb-nav-2 col-lg-offset-4 col-md-offset-3 col-sm-offset-4 col-xs-offset-0 col-lg-2 col-md-2 col-sm-8 col-xs-12">
  <li ui-sref-active="active" class="">
   <a ui-sref="apps.skills.all">
    All
   </a>
  </li>
  <li ui-sref-active="active" class="">
   <a ui-sref="apps.skills.mine">
    My Skills
   </a>
  </li>
 </ul>
</div>
<div ui-view="app-tab" id="gb-middle-nav-3" class="container"></div>

<!-- ------------------------------- MODALS --------------------------->

<script type="text/ng-template" id="add-skill-modal.html">
 <div ng-include="'public/modules/skills/views/modals/add-skill.html'"></div>
</script>