<link href="{{skillsCtrl.theme}}" rel="stylesheet" type="text/css"/>
<div class="gb-top-nav-1 gb-nav row">
 <div class="gb-title pull-left">
  SKILL APP
 </div>
 <div class="gb-action pull-left">
  <div class="btn-group">
   <a class="btn btn-xs btn-link dropdown-toggle gb-backdrop-visible">
    <i class="fa fa-2x fa-plus-circle"></i>
   </a>
   <a class="btn btn-xs btn-link gb-form-modal-trigger"
      data-gb-modal-target="#gb-skill-play-modal">
    <i class="fa fa-2x fa-play-circle"></i>
   </a>
   <a class="btn btn-xs btn-link dropdown-toggle gb-backdrop-visible">
    <i class="fa fa-2x fa-filter"></i>
   </a>
  </div>
 </div>
</div>

<div id="gb-screen-height" class="container">
 <div id="gb-main-tab-pane" class="col-lg-8 col-md-9 col-sm-8 ">

  <div class="nav-container col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
   <div id="gb-middle-nav-3" class="gb-nav-parent">
    <div class="gb-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="row gb-hide">
      <div class="input-group gb-padding-thin">
       <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
       <input class="form-control" id="gb-keyword-search-input" type="text" placeholder="Search skills. e.g. awesome, John Doe, dentist">
       <div class="input-group-btn">
        <button id="gb-keyword-search-btn" class="btn btn-default form-control">
         <span class="caret"></span>
        </button>
       </div>
      </div>
     </div>
     <div id="gb-skill-search-form-container" class="row gb-hide gb-panel-form">

     </div>
     <div id="gb-skills" class="gb-list row">
      <div ng-repeat="skill in skillsCtrl.skills" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 gb-padding-thick">
       <div class="gb-indicator gb-level-' . {{skill.level}}"></div>
       <div class="gb-box-1">
        <div class="gb-leftbar">
         <img src="img/profile_pic/" class='pull-right gb-heading-img' alt="">
        </div>
        <div class="gb-rightbar">
         <div class="gb-image">
          <div class="gb-actions">
           <div class="gb-ghost-btn-1">
            Open
           </div>
          </div>
         </div>
         <div class="gb-description">
          <a ui-sref="skill({skillId: skill.id})" class="">
           {{skill.title}}
          </a>
          {{skill.description}}
          <a class="gb-level">
           <small>
            <i>
             level
            </i>
           </small>
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="gb-dummy-height row"></div>
    </div>
   </div>
  </div>

  <script type="text/javascript">
   $('#gb-theme').attr('href', '<?php echo $css_theme_url ?>');
   $(".gb-app-tab").removeClass("active");
   $("<?php echo '#' . $app_selected_tab_id; ?>").addClass("active");
   $('#gb-browse-trigger').data('gb-url', '<?php echo $browse_url; ?>');
  </script>
 </div>
 <div class="nav-container hidden-lg hidden-md hidden-sm hidden-xs ">
  <div id="gb-right-nav-3" role="navigation">
  </div>
 </div>
</div>
<!-- ------------------------------- MODALS --------------------------->
