<link href="{{skillsCtrl.theme}}" rel="stylesheet" type="text/css"/>

<div class="nav-container col-lg-2 col-md-3 col-sm-4 col-xs-12 ">
 <div class="gb-nav-parent" id="gb-left-nav-3" role="navigation">
  <div class="gb-nav-strip row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <div id="myCarousel" class="carousel slide profile-carousel" data-ride="carousel">
     <ol class="carousel-indicators" role="listbox">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
     </ol>
     <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="item active">
       <img src="/img/demo/s1.jpg" alt="demo user">
      </div>
      <!-- Slide 2 -->
      <div class="item">
       <img src="/img/demo/s2.jpg" alt="demo user">
      </div>
      <!-- Slide 3 -->
      <div class="item">
       <img src="/img/demo/m3.jpg" alt="demo user">
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <img src="" class="gb-heading-img" alt="">
   </div>
   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <a class="gb-link gb-ellipsis">poo
    </a>
    <div class="row">
     <a class="btn btn-xs btn-default col-lg-6 col-md-6 col-sm-6 col-xs-6 gb-padding-thin" data-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-star"></i> Subscribe
     </a>
     <a class="btn btn-xs btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6 gb-padding-thin">
      <i class="fa fa-user-plus"></i> Contribute
     </a>
    </div>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    plll
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       Overview
      </p>
     </div>
    </a>
   </div>
   <h6 class="gb-heading gb-ellipsis">
    Content
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       Todos
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       Notes
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       External Links
      </p>
     </div>
    </a>
   </div>
   <h6 class="gb-heading gb-ellipsis">
    Community
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       Contribution
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       Comments
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">
       Discussions
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-dummy-height"></div>
 </div>
</div>
<div class="nav-container col-lg-10 col-md-9 col-sm-8">
 <div id="gb-screen-height" class="container">
  <div class="nav-container gb-skill-item row gb-app-detail col-lg-8 col-md-9 col-sm-8 col-xs-12">
   <div id="gb-middle-nav-3" class="gb-nav-parent">
    <div class="gb-top-nav-1 gb-nav row">
     <div class="gb-title col-lg-10 col-md-9 col-sm-9 col-xs-9">
      <p class="gb-ellipsis">
       <strong>title</strong>
       descr
      </p>
     </div>
     <div class="gb-action col-lg-2 col-md-3 col-sm-3 col-xs-3">
      <div class="btn-group pull-right">
       <a class="btn btn-link" data-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-star"></i>
       </a>
       <a class="btn btn-link">
        <i class="fa fa-user-plus"></i>
       </a>
      </div>
     </div>
    </div>
    <div class="gb-scrollable-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a class='gb-hide gb-close-right-nav'>
      <i class='fa fa-times'></i> close
     </a>
     <div class="gb-hide gb-app-item-heading row">
      <div class="col-lg-2">
       <img src="" class="gb-heading-img" alt="">
      </div>
      <div class="col-lg-7 gb-padding-left-1 text-left">
       <p class="gb-title">
        <a class="gb-ellipsis">
         <?php
         echo $skill->creator->profile->firstname . " " . $skill->creator->profile->lastname
         ?>
        </a>
       </p>
       <p class="gb-ellipsis gb-description">
        <strong><?php echo $skill->level->name; ?></strong>
       </p>
       <div class="gb-ellipsis gb-description">
        Created on
        <i>
         <a>
          <?php echo date_format(date_create($skill->created_date), 'M jS \a\t g:ia'); ?>
         </a>
        </i>
       </div>
       <p class="gb-ellipsis gb-description">
        <a class="gb-faded-link"><i class="fa fa-share"></i> Share</a> •
        <a class="gb-faded-link"><i class="fa fa-clipboard"></i> Clone Request</a>
       </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 gb-padding-thinner">
       <div class="row">
        <a class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown" aria-expanded="false">
         <i class="fa fa-star"></i> Subscribe
        </a>
        <br>
        <a class="btn dropdown-toggle btn-primary col-lg-12 col-md-12 col-sm-12 col-xs-12"
           data-gb-modal-target="#gb-contribute-modal">
         <i class="fa fa-user-plus"></i> Contribute
        </a>
       </div>
      </div>
     </div>
     <div class="tab-content">
      <div class="tab-pane active">
       <div id="gb-skill-item-tab-pane" class="row gb-tab-pane-body gb-padding-thin">

        <br>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- ------------------------------- MODALS --------------------------->


  </div>
 </div>
</div>
