<!--
ADD COMPONENT DIALOG
-->
<md-dialog class="add-component-dialog" aria-label="Add Component Dialog">
 <md-toolbar class="">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" md-prevent-menu-close
              ng-if="vm.selectedTabHistory.length > 1"
              ng-click="vm.tabBack()" aria-label="Back"
              translate translate-attr-aria-label="explorer.back_text">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-gb-arrow-left-thin"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     {{vm.dialogTitle}}
    </span>
   </div>
   <span flex></span>
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="icon-close"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <md-dialog-content ms-scroll>
  <div class="">
   <md-tabs class="gb-app-tabs" md-selected="vm.formTabIndex" md-dynamic-height>
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/sections.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- APP -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/apps.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- ACTIVITY -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/activities.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- MOTIVE -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/motives.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- CONTRIBUTION TYPES -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/contributor-types.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- CONTRIBUTION -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/contributions.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- MENTORSHIP  -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/mentorship-requests.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- FILL -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/fill-apps.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- BULK ADD -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/mass-addition.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- MASS ADD SELECT COMPONENT TYPE -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/sections-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- APP -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/apps-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- ACTIVITY -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/activities-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- MOTIVE -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/motives-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- CONTRIBUTION TYPES -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/contributor-types-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- CONTRIBUTION -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/contributions-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- MENTORSHIP  -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/mentorship-requests-step.html'"></div>
     </md-tab-body>
    </md-tab>
    <!-- FILL -->
    <md-tab>
     <md-tab-body>
      <div class="gb-app-tab-content" ng-include="'src/app/main/apps/explorer/dialogs/add-component/templates/tabs/fill-apps-step.html'"></div>
     </md-tab-body>
    </md-tab>
   </md-tabs>
  </div>
 </md-dialog-content>
 <md-dialog-actions ng-if="vm.submitType.showButtons === vm.submitType.showButtonsType.create" layout="row">
  <span flex></span>
  <md-button class="md-raised" ng-click="vm.closeDialog()">
   Cancel
  </md-button>
  <md-menu class="">
   <md-button class="md-raised" ng-click="$mdOpenMenu($event)" aria-label="Select Privacy">
    {{vm.privacy.selected.title}}
   </md-button>
   <md-menu-content class="subscribe-menu-content" width="4">
    <md-menu-item>
     <md-button ng-click="vm.selectPrivacy(vm.privacy.private, 'Public')" aria-label="Public"
                translate="explorer.public_text" translate-attr-aria-label="explorer.public_text">
      Public
     </md-button>
    </md-menu-item>
    <md-menu-item>
     <md-button ng-click="vm.selectPrivacy(vm.privacy.private, 'Private')" aria-label="Private"
                translate="explorer.private_text" translate-attr-aria-label="explorer.private_text">
      Private
     </md-button>
    </md-menu-item>
   </md-menu-content>
  </md-menu>
  <md-button class="md-raised md-accent" ng-click="vm.submit()">
   Create
  </md-button>
 </md-dialog-actions>
 <md-dialog-actions ng-if="vm.submitType.showButtons === vm.submitType.showButtonsType.next" layout="row">
  <span flex></span>
  <md-button class="md-raised" ng-click="vm.closeDialog()">
   Done
  </md-button>
  <md-button class="md-raised md-accent" ng-click="vm.submit()">
   Continue
  </md-button>
 </md-dialog-actions>
 <md-dialog-actions ng-if="vm.submitType.showButtons === vm.submitType.showButtonsType.finish" layout="row">
  <span flex></span>
  <md-button class="md-raised md-accent" ng-click="vm.closeDialog()">
   Done
  </md-button>
 </md-dialog-actions>
</md-dialog>