<!--
ADD COMPONENT DIALOG
-->
<md-dialog class="add-component-dialog" aria-label="Add Component Dialog">
 <md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
   <div class="due-date">
    <div ng-if="!vm.component.due" moment-picker="vm.component.due" format="x" min-view="year"
         max-view="hour"
         start-view="month">
     <md-button class="md-icon-button" aria-label="Due date" translate
                translate-attr-aria-label="SB.DUE_DATE"
                ng-click="$mdOpenMenu($event)">
      <md-icon md-font-icon="icon-calendar"></md-icon>
     </md-button>
    </div>
   </div>
   <!-- / DUE DATE -->
   <md-menu ng-if="vm.component.due" md-offset="0 48" class="remove-due-date">
    <md-button class="md-icon-button" aria-label="Members" ng-click="$mdOpenMenu($event)">
     <md-icon md-font-icon="icon-calendar"></md-icon>
    </md-button>
    <md-menu-content class="remove-due-date-menu-content" width="4" ms-scroll>
     <md-menu-item>
      <md-button ng-click="vm.component.due = ''" aria-label="remove due date"
                 translate-attr-aria-label="SB.REMOVE_DUE_DATE">
       <md-icon md-font-icon="icon-delete"></md-icon>
       <span translate="SB.REMOVE_DUE_DATE">Remove Due Date</span>
      </md-button>
     </md-menu-item>
    </md-menu-content>
   </md-menu>
   <!-- LABELS -->
   <md-menu md-offset="0 48" class="labels">
    <md-button class="md-icon-button" aria-label="Label" translate translate-attr-aria-label="SB.LABEL"
               ng-click="vm.labelTabIndex = 0; $mdOpenMenu($event)">
     <md-icon md-menu-origin md-font-icon="icon-label-outline"></md-icon>
    </md-button>
    <md-menu-content class="labels-menu-content" width="4" ms-scroll>
     <md-tabs md-selected="vm.labelTabIndex" md-dynamic-height>
      <!-- SELECT LABEL -->
      <md-tab>
       <md-tab-body>
        <md-menu-item>
         <md-input-container class="no-errors-spacer" md-no-float>
          <input placeholder="Search labels..." type="text"
                 ng-model="vm.labelSearchText" autocomplete="off"
                 translate-attr-palceholder="SB.SEARCH_LABELS">
         </md-input-container>
        </md-menu-item>

        <md-menu-item class="label" ng-repeat="label in vm.labels| filter: vm.filterLabel">
         <md-button class="label-toggle-button" md-prevent-menu-close
                    ng-class="'md-' + label.color + '-bg'"
                    ng-click="vm.toggleInArray(label.id, vm.component.idLabels)"
                    aria-label="Toggle Label" translate
                    translate-attr-aria-label="SB.TOGGLE_LABEL">
          <div layout="row" layout-align="space-between center" flex>
           <span>{{label.name}}</span>
           <i ng-if="vm.exists(label.id, vm.component.idLabels)" class="icon-check s16"></i>
          </div>
         </md-button>
         <md-button class="md-icon-button label-edit-button" md-prevent-menu-close
                    ng-click="vm.editLabelId = label.id; vm.labelTabIndex = 2"
                    aria-label="Edit Label" translate
                    translate-attr-aria-label="SB.EDIT_LABEL">
          <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>
         </md-button>
        </md-menu-item>

        <md-menu-divider></md-menu-divider>

        <md-menu-item>
         <md-button class="add-label-button" md-prevent-menu-close
                    ng-click="vm.labelTabIndex = 1">
          <md-icon md-font-icon="icon-plus-circle-outline"></md-icon>
          <span translate="SB.ADD_NEW_LABEL">Add new label</span>
         </md-button>
        </md-menu-item>
       </md-tab-body>
      </md-tab>
      <!-- / SELECT LABEL -->

      <!-- ADD LABEL -->
      <md-tab>
       <md-tab-body>
        <div class="add-label-tab-content">
         <div class="header" layout="row" layout-align="space-between center">
          <md-button class="md-icon-button" md-prevent-menu-close
                     ng-click="vm.labelTabIndex = 0" aria-label="Back"
                     translate translate-attr-aria-label="SB.BACK">
           <i class="icon-arrow-left s20"></i>
          </md-button>
          <span flex translate="SB.CREATE_LABEL">Create Label</span>
         </div>

         <div class="content" layout="column" layout-align="start stretch">
          <form ng-submit="vm.addNewLabel(); vm.labelTabIndex = 0" layout="column">
           <md-input-container class="no-errors-spacer" md-no-float>
            <input placeholder="Label Name" type="text" ng-model="vm.newLabelName"
                   translate translate-attr-placeholder="SB.LABEL_NAME">
           </md-input-container>

           <div class="label-color-picker" layout="row" layout-wrap>
            <label class="color" ng-repeat="(palette, hues) in vm.palettes"
                   ng-style="{'background-color': vm.rgba(hues['500'].value), 'color': vm.rgba(hues['500'].contrast, 1)}"
                   layout="column" layout-align="center center">
             <input class="ng-hide" type="radio" ng-model="vm.newLabelColor"
                    ng-value="palette" aria-label="{{palette}}">
             <i class="icon-check s18" ng-if="vm.newLabelColor === palette"></i>
            </label>
           </div>

           <md-button type="submit" md-prevent-menu-close
                      class="create-button md-accent md-raised"
                      aria-label="Create" translate
                      translate-attr-aria-label="SB.CREATE">
            <span translate="SB.CREATE">Create</span>
           </md-button>
          </form>

         </div>
        </div>
       </md-tab-body>
      </md-tab>
      <!-- / ADD LABEL -->
      <!-- EDIT LABEL -->
      <md-tab>
       <md-tab-body>
        <div class="edit-label-tab-content">
         <div class="header" layout="row" layout-align="space-between center">
          <md-button class="md-icon-button" md-prevent-menu-close
                     ng-click="vm.labelTabIndex = 0" aria-label="back"
                     translate translate-attr-aria-label="SB.BACK">
           <i class="icon-arrow-left s20"></i>
          </md-button>
          <span flex translate="SB.EDIT_LABEL">Edit Label</span>
         </div>
         <div class="content" layout="column" layout-align="start stretch">
          <md-input-container class="no-errors-spacer" md-no-float>
           <input placeholder="Label Name" type="text"
                  ng-model="vm.board.labels.getById(vm.editLabelId).name"
                  translate translate-attr-placeholder="SB.LABEL_NAME">
          </md-input-container>

          <div class="label-color-picker" layout="row" layout-wrap>
           <label class="color" ng-repeat="(palette, hues) in vm.palettes"
                  ng-style="{'background-color': vm.rgba(hues['500'].value), 'color': vm.rgba(hues['500'].contrast, 1)}"
                  layout="column" layout-align="center center">
            <input class="ng-hide" type="radio"
                   ng-model="vm.board.labels.getById(vm.editLabelId).color"
                   ng-value="palette"
                   aria-label="{{palette}}">
            <i ng-if="vm.board.labels.getById(vm.editLabelId).color === palette"
               class="icon-check s18"></i>
           </label>
          </div>

          <div layout="row" layout-align="end center" flex>
           <md-button class="remove-button md-icon-button"
                      type="submit" md-prevent-menu-close
                      ng-click="vm.removeLabel(); vm.labelTabIndex = 0"
                      aria-label="remove" translate
                      translate-attr-aria-label="SB.REMOVE">
            <md-icon md-font-icon="icon-delete"></md-icon>
           </md-button>
          </div>
         </div>
        </div>

       </md-tab-body>
      </md-tab>
      <!-- / EDIT LABEL -->

     </md-tabs>
    </md-menu-content>
   </md-menu>
   <!-- / LABELS -->

   <!-- MEMBERS -->
   <md-menu md-offset="0 48" class="members">
    <md-button class="md-icon-button" aria-label="Members" ng-click="$mdOpenMenu($event)">
     <md-icon md-menu-origin md-font-icon="icon-account-multiple"></md-icon>
    </md-button>

    <md-menu-content class="members-menu-content" width="4" ms-scroll>
     <md-menu-item>
      <md-input-container class="no-errors-spacer" md-no-float>
       <input placeholder="Search members..." autocomplete="off" type="text"
              ng-model="vm.memberSearchText" translate
              translate-attr-placeholder="SB.SEARCH_MEMBERS">
      </md-input-container>
     </md-menu-item>

     <md-menu-item class="member" ng-repeat="member in vm.members| filter: vm.filterMember">
      <md-button ng-click="vm.toggleInArray(member.id, vm.component.idMembers)" md-prevent-menu-close
                 aria-label="toggle member" translate translate-attr-aria-label="SB.TOGGLE_MEMBER">
       <div layout="row" layout-align="space-between center" flex>
        <div layout="row" layout-align="start center">
         <img alt="{{ member.name}}" ng-src="{{ member.avatar}}" class="avatar"/>
         <p class="member-name">{{ member.name}}</p>
        </div>
        <i class="icon-check s16" ng-if="vm.exists(member.id, vm.component.idMembers)"></i>
       </div>
      </md-button>
     </md-menu-item>
    </md-menu-content>
   </md-menu>
   <!-- / MEMBERS -->

   <!-- ATTACHMENT -->
   <md-button class="md-icon-button" ng-click="" aria-label="Attachment"
              translate translate-attr-aria-label="SB.ATTACHMENT">
    <md-icon md-font-icon="icon-attachment"></md-icon>
   </md-button>
   <!-- / ATTACHMENT -->

   <!-- CHECKLIST -->
   <md-menu md-offset="0 48px" class="checklist">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="checklist"
               translate translate-attr-aria-label="SB.CHECKLIST">
     <md-icon md-menu-origin md-font-icon="icon-checkbox-marked"></md-icon>
    </md-button>

    <md-menu-content class="checklist-menu-content" width="4">
     <form ng-submit="vm.createCheckList()" layout="column" layout-align="start end">
      <md-input-container class="no-errors-spacer" md-no-float>
       <input placeholder="Checklist Title" autocomplete="off" type="text"
              ng-model="vm.newCheckListTitle" translate
              translate-attr-placeholder="SB.CHECKLIST_TITLE">
      </md-input-container>

      <md-button type="submit" class="md-raised md-accent" aria-label="Add Checklist"
                 translate translate-attr-aria-label="SB.ADD_CHECKLIST">
       <span translate="SB.ADD_CHECKLIST">Add Checklist</span>
      </md-button>
     </form>
    </md-menu-content>
   </md-menu>
   <!-- / CHECKLIST -->

   <!-- SUBSCRIBE -->
   <md-menu md-offset="0 48px" class="subscribe">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Subscribe"
               translate translate-attr-aria-label="SB.SUBSCRIBE">
     <md-icon md-menu-origin ng-if="vm.component.subscribed" md-font-icon="icon-eye"></md-icon>
     <md-icon md-menu-origin ng-if="!vm.component.subscribed" md-font-icon="icon-eye-off"></md-icon>
    </md-button>

    <md-menu-content class="subscribe-menu-content" width="4">
     <md-menu-item>
      <md-button ng-click="vm.component.subscribed = !vm.component.subscribed" aria-label="Subscribed"
                 translate translate-attr-aria-label="SB.SUBSCRIBED">
       <span ng-if="!vm.component.subscribed" translate="SB.SUBSCRIBE">Subscribe</span>
       <span ng-if="vm.component.subscribed" translate="SB.UNSUBSCRIBE">Unsubscribe</span>
      </md-button>
     </md-menu-item>
    </md-menu-content>
   </md-menu>
   <!-- / SUBSCRIBE -->

   <!-- OPTIONS -->
   <md-menu md-offset="0 48px" class="options">
    <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Options"
               translate translate-attr-aria-label="SB.OPTIONS">
     <md-icon md-menu-origin md-font-icon="icon-dots-horizontal"></md-icon>
    </md-button>
    <md-menu-content class="options-menu-content" width="4">
     <md-menu-item>
      <md-button ng-click="vm.removeCard()" aria-label="Remove Card"
                 translate translate-attr-aria-label="SB.REMOVE_CARD">
       <md-icon md-font-icon="icon-delete" md-menu-align-target></md-icon>
       <span translate="SB.REMOVE_CARD">Remove Card</span>
      </md-button>
     </md-menu-item>
    </md-menu-content>
   </md-menu>
   <!-- / OPTIONS -->

   <span flex></span>

   <!-- CLOSE DIALOG BUTTON -->
   <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close Dialog"
              translate translate-attr-aria-label="SB.CLOSE_DIALOG">
    <md-icon md-font-icon="icon-close"></md-icon>
   </md-button>
   <!-- / CLOSE DIALOG BUTTON -->

  </div>
 </md-toolbar>
 <md-dialog-content>
  <md-tabs class="gb-app-tabs" md-selected="vm.formTabIndex">
   <md-tab>
    <md-tab-body>
     <div class="gb-app-tab-content" layout="column" ms-scroll layout-align="center center" flex>
      <div class="gb-container widget-group" layout="row" flex="100" layout-wrap>
       <ms-widget flippable="true" class="gb-apps-widget" layout="column" flex="100" flex-gt-xs="50" flex-gt-md="33"
                  ng-repeat="app in $root.commonData.apps"
                  ng-click="vm.selectApp(app)">
        <ms-widget-front class="md-whiteframe-1dp gb-app-type-{{::app.id}}" layout="row" flex>
         <div layout="column" layout-align="center center" flex>
          <div class="gb-title">
           {{app.title}}
          </div>
         </div>
         <md-button class="md-icon-button" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
          <md-icon md-font-icon="fa fa-ellipsis-v" class="s32"></md-icon>
         </md-button>
         <div class="background-image-center" layout-align="center center"  flex>
          <md-icon md-font-icon="fa {{::app.icon}}" class="gb-app-icon"></md-icon>
         </div>
        </ms-widget-front>
        <ms-widget-back class="grey-50-bg">
         <div class="flip-to-front">
          <md-button class="md-icon-button" ng-click="flipWidget()" aria-label="Flip widget">
           <md-icon md-font-icon="icon-close" class="s32"></md-icon>
          </md-button>
         </div>
         <div class="gb-title">
          {{app.title}}
         </div>
         <div class="gb-description">
          {{app.long_description}}
         </div>
        </ms-widget-back>
       </ms-widget>
      </div>
     </div>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-body>
     <div class="gb-app-tab-content">
      <div class="gb-dialog-header">
       <div layout="column" layout-align="start start" flex>
        <md-toolbar class="gb-heading">
         <div class="md-toolbar-tools">
          <md-button class="md-icon-button" md-prevent-menu-close
                     ng-click="vm.formTabIndex = 0" aria-label="Back"
                     translate translate-attr-aria-label="explorer.back_text">
           <md-icon class="gb-title-icon" md-font-icon="fa fa-arrow-left"></md-icon>
          </md-button>
          <div class="gb-heading-title">
           <span class="ellipsis">
            Create {{vm.selectedApp.title}}
           </span>
          </div>
          <span flex></span>
         </div>
        </md-toolbar>
       </div>
      </div>
      <form class="gb-dialog-body" ms-scroll>
       <div layout="row" layout-align="space-between start">
        <!-- DUE DATE -->
        <div ng-if="vm.component.due" class="due-date" layout="row" layout-align="start center">
         <div class="picker day-picker" moment-picker="vm.component.due" format="x" min-view="year" max-view="month"
              start-view="month">
          <div layout="row" layout-align="start center">
           <i class="s18 icon icon-calendar"></i>
           <span>{{vm.component.due| date:'mediumDate'}}</span>
          </div>
         </div>
         <div class="picker hour-picker" moment-picker="vm.component.due" format="x" min-view="day" max-view="hour"
              start-view="day">
          <div layout="row" layout-align="start center">
           <i class="s18 icon icon-clock"></i>
           <span>{{vm.component.due| date:'shortTime'}}</span>
          </div>
         </div>
         <div class="remove-due-date" layout="row" layout-align="center center" ng-click="vm.component.due = ''">
          <i class="s16 icon icon-close"></i>
         </div>
        </div>
        <!-- / DUE DATE -->
       </div>
       <div class="gb-title">
        <md-input-container class="md-block">
         <label translate="explorer.title_text">Title</label>
         <textarea ng-model="vm.component.title" columns="1" md-maxlength="150" max-rows="2"></textarea>
        </md-input-container>
       </div>
       <div class="description">
        <md-input-container class="md-block">
         <label translate="explorer.description_text">Description</label>
         <textarea ng-model="vm.component.description" columns="1" md-maxlength="150" max-rows="4"></textarea>
        </md-input-container>
       </div>
      </form>
     </div>
    </md-tab-body>
   </md-tab>
  </md-tabs>
 </md-dialog-content>
 <md-dialog-actions layout="row">
  <span flex></span>
  <md-button class="md-raised" ng-click="vm.closeDialog()">
   Cancel
  </md-button>
  <md-menu class="">
   <md-button class="md-raised" ng-click="$mdOpenMenu($event)" aria-label="Select Privacy">
    {{vm.selectedPrivacy.title}}
   </md-button>
   <md-menu-content class="subscribe-menu-content" width="4">
    <md-menu-item>
     <md-button ng-click="vm.selectPrivacy(vm.privacy.private, 'Public')" aria-label="Public"
                translate="explorer.public_text" translate-attr-aria-label="explorer.public_text">
      Public
     </md-button>
    </md-menu-item>
    <md-menu-item>
     <md-button ng-click="vm.selectPrivacy(vm.privacy.private, 'Private')" aria-label="Private"
                translate="explorer.private_text" translate-attr-aria-label="explorer.private_text">
      Private
     </md-button>
    </md-menu-item>
   </md-menu-content>
  </md-menu>
  <md-button class="md-raised md-accent" ng-click="vm.addComponent()">
   Create
  </md-button>
 </md-dialog-actions>
</md-dialog>