md-dialog {

 &.add-component-dialog {
  width: 90%;
  max-width: 800px;
  overflow: hidden;

  md-toolbar {
   height: 40px;
   min-height: 40px;
   max-height: 40px;
   //background-color: rgba($gb-primary-color, 0.9);
   .md-toolbar-tools {
    height: 40px;
    max-height: 40px;
    > .md-menu {
     display: flex;
     align-items: center;
     height: 100%;

     .md-button {

     }
    }

    .due-date {

     .moment-picker {

      .moment-picker-container {
       font-size: 13px;
      }
     }
    }
   }
  }

  md-dialog-content {
   height: 350px;
   position: relative;
   background-color: #F5F5F5;
   overflow: hidden;

   .due-date {
    .moment-picker {
     .picker {
      background: material-color('grey', '200');
      padding: 8px 10px;

      &:hover {
       background: material-color('grey', '300');
      }

      i {
       margin-right: 8px;
      }
     }

     .moment-picker-container {
      margin-top: 8px;
      right: 0;

      &:before, &:after {
       right: 15px;
       left: auto;
      }
     }
    }

    .remove-due-date {
     background: material-color('grey', '200');
     padding: 9px;
     cursor: pointer;

     &:hover {
      background: material-color('grey', '300');
     }
    }
   }

   .gb-app-tabs {

    md-tabs-wrapper {
     height: 0;
     overflow: hidden;
     display: none;
    }
    md-tabs-content-wrapper {
     top: 0;
    }
    .gb-app-tab-content {
     position: relative;
     padding: 4px 0;
     height: 100%;
     width: 100%;
     max-height: 500px;
     .gb-dialog-header {
      @include position(absolute, 0 0 null 0);
      height: 40px;

      md-toolbar {
       background-color: transparent;
       text-transform: capitalize;
       md-icon {
        color: #555;
        &.gb-title-icon {
         color: #555;
        }
       }
       .md-toolbar-tools {
        height: 40px;
        padding: 0;
       }
       .gb-heading-title {
        color: #555;
        font-size: 25px;
        padding-top: 3px;
       }
      }
     }
     .gb-dialog-body {
      @include position(absolute, 41px 0 0 0);
      padding-top: 20px;
     }
    }
   }

  }

  .gb-apps-widget {
   height: 140px;
   max-height: 140px;
   .gb-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
   }
   md-icon {
    &.gb-app-icon {
     color: #CCC;
     font-size: 100px;
     width: 100px;
     min-width: 100px;
     max-width: 100px;
    }
   }
   @mixin apps-widget-background {
    @for $i from 1 through length($apps-colors){
     .gb-app-type-#{$i}
     {
      background-color: rgba(nth($apps-colors, $i), 0.1);
      color: darken(nth($apps-colors, $i), 15%);
      &:hover {
       background-color: rgba(nth($apps-colors, $i), 0.4);
       color: darken(nth($apps-colors, $i), 25%);
      }
     }
    }
   }

   @include apps-widget-background;

   ms-widget-back {
    background-color: #F5F5F5;
    padding: 0 8px;
    .gb-title {
     text-align: left;
     padding: 0 10px;
     font-size: 15px;
     font-weight: bold;
    }
    .gb-description {
     text-align: left;
     padding: 0 10px;
     font-size: 12px;
    }
   }

  }

 }

}