@import '../../../../bower_components/angular-material/angular-material.scss';
@import "../../../lib/bourbon/bourbon";
@import "../../../lib/compass-breakpoint/breakpoint.scss";
@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/angular-material-extend';
@import 'partials/layouts-template';
@import 'partials/layouts-page';
@import 'partials/animations';
@import 'partials/colors';
@import 'partials/icons';
@import 'partials/material';
@import 'partials/typography';

@import 'partials/plugins/angular-google-map';
@import 'partials/plugins/angular-moment-picker';
@import 'partials/plugins/c3';
@import 'partials/plugins/chartist';
@import 'partials/plugins/chartjs';
@import 'partials/plugins/datatable';
@import 'partials/plugins/highlight';
@import 'partials/plugins/nvd3';
@import 'partials/plugins/perfect-scrollbar';
@import 'partials/plugins/text-angular';

@import 'partials/helpers';
@import 'partials/print';

.gb-ellipsis {
 display: block;
 margin: 0;
 white-space: nowrap;
 width: 100%;
 overflow: hidden;

 text-overflow: ellipsis;
}
.gb-ellipsis a {
 text-overflow: ellipsis;
}
.gb-horizontal-scroll {
 position:relative;
 &.gb-apps-scroll {
  min-height: 236px
 }
 .gb-left-scroll,
 .gb-right-scroll {
  margin: 0;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.7; 
  &:hover {
   opacity: 1;
  }
 }
 .gb-left-scroll {
  @include position(absolute, 50% null null -28px);

 }
 .gb-right-scroll {
  @include position(absolute, 50% -28px 0 null);
 }
}