<!--
LINEAR VIEW FURNITURE
-->
<div class="gb-pattern-floor gb-room-padding gb-bottom-gutter">
 <div class="gb-section-description" layout="column" layout-align="center center" flex>
  <ms-widget class="gb-container gb-room-description-widget" layout="column" flex>
   <ms-widget-front class="" layout="row" flex>
    <div class="text-center" layout="column" layout-align="center center" flex>
     <div class="gb-title">
      Furniture and Amenities
     </div>
     <p class="gb-description">
      Rooms are furnished with a table for discussions, many boards for quick notes, bookshelf with a journal,
      notebook ... and many more. Explore.
     </p>
    </div>
    <div class="background-image-center" layout-align="center center"  flex>
     <md-icon md-font-icon="fa icon-cabinet" class="indigo-200-fg gb-background-icon"></md-icon>
    </div>
   </ms-widget-front>
  </ms-widget>
 </div>
 <!-- Table -->
 <div class="gb-section-table gb-section-furniture" layout="column" layout-align="center center" flex>
  <div class="gb-container" layout="column" layout-align="start stretch">
   <div class="widget-group gb-card-row" layout-align="start center" layout="column" flex>
    <ms-widget class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Table
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-gb-table" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="gb-card-row" layout="column" layout-align="start stretch" flex>
    <div class="gb-horizontal-scroll gb-notes-scroll" layout="row">
     <md-button class="gb-left-scroll"
                ng-click="$root.scrollHorizontal('#gb-discussion-cards', -400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
     </md-button>
     <div id="gb-discussion-cards" class="flex-scrollable only-x"
          layout="row" layout-align="start" ms-scroll flex layout-nowrap>
      <ms-widget class="gb-furniture-item-widget" layout="column"
                 ng-click="vm.openComponentDiscussionsDialog($event, vm.componentId)">
       <ms-widget-front class="p-8 green-400-bg" layout="row" flex>
        <div layout="column" layout-align="center center" flex>
         <div class="gb-title">
          Discussions
         </div>
         <div class="gb-description">
          0
         </div>
        </div>
        <div class="background-image-center">
         <md-icon md-font-icon="fa fa-commenting-o" class="gb-background-icon"></md-icon>
        </div>
       </ms-widget-front>
      </ms-widget>
      <ms-widget class="p-8 gb-component-discussion-widget" layout="column" flex="33"
                 ng-click="vm.openComponentDiscussionsDialog($event, vm.componentId)">
       <ms-widget-front class="p-8" layout="row" flex>
        <div layout="column" layout-align="center center" flex>
         <div class="gb-title">
          Comments
         </div>
         <div class="gb-description">
          General Discussion
         </div>
        </div>
        <div class="background-image-center">
         <md-icon md-font-icon="fa fa-comment" class="gb-background-icon"></md-icon>
        </div>
       </ms-widget-front>
      </ms-widget>
     </div>
     <md-button class="gb-right-scroll"
                ng-click="$root.scrollHorizontal('#gb-discussion-cards', 400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <!-- Board -->
 <div class="gb-section-board gb-section-furniture" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row" layout="column" layout-align="start stretch">
   <div class="gb-board-top"></div>
   <div class="gb-board-body widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Wall Boards
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-table" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="gb-board-body gb-card-row gb-section-row" layout="column" layout-align="start stretch">
    <div class="gb-horizontal-scroll gb-notes-scroll" layout="row">
     <md-button class="gb-left-scroll"
                ng-click="$root.scrollHorizontal('#gb-pinboard-cards', -400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
     </md-button>
     <div id="gb-pinboard-cards" class="board-list flex-scrollable only-x"
          layout="row" layout-align="start" ms-scroll flex layout-nowrap>
      <ms-widget class="gb-furniture-item-widget" layout="column"
                 ng-click="vm.openComponentPinboardDialog($event, vm.componentId)">
       <ms-widget-front class="p-8 blue-400-bg" layout="row" flex>
        <div layout="column" layout-align="center center" flex>
         <div class="gb-title">
          Pinboard
         </div>
         <div class="gb-description">
          0
         </div>
        </div>
        <div class="background-image-center">
         <md-icon md-font-icon="fa fa-th" class="gb-background-icon"></md-icon>
        </div>
       </ms-widget-front>
      </ms-widget>
      <div class="gb-card-component-p" ng-repeat="note in vm.notes"
           ui-sref="app.componentLinearView.home({id:note.id})"
           layout="column" layout-align="start" layout-nowrap>
       <div class="gb-card-note md-whiteframe-1dp"
            layout="column">
        <div class="gb-card-content" flex>
         <div class="gb-title">
          <h3 class="gb-ellipsis">
           {{note.title}}
          </h3>
         </div>
         <div class="gb-description">
          <p class="">
           <span>
            {{::note.description}}
           </span>
          </p>
          <p ng-if="!note.description" class="gb-no-info">
           No description to show
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <md-button class="gb-right-scroll"
                ng-click="$root.scrollHorizontal('#gb-pinboard-cards', 400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
     </md-button>
    </div>
   </div>
   <div class="gb-board-body gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
    <div class="gb-horizontal-scroll gb-notes-scroll" layout="row">
     <md-button class="gb-left-scroll"
                ng-click="$root.scrollHorizontal('#gb-listboard-cards', -400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
     </md-button>
     <div id="gb-listboard-cards" class="board-list flex-scrollable only-x"
          layout="row" layout-align="start" ms-scroll flex layout-nowrap>
      <ms-widget class="gb-furniture-item-widget" layout="column"
                 ng-click="vm.openComponentListboardDialog($event, vm.componentId)">
       <ms-widget-front class="p-8 teal-400-bg" layout="row" flex>
        <div layout="column" layout-align="center center" flex>
         <div class="gb-title">
          Listboard
         </div>
         <div class="gb-description">
          0
         </div>
        </div>
        <div class="background-image-center">
         <md-icon md-font-icon="fa fa-list" class="gb-background-icon"></md-icon>
        </div>
       </ms-widget-front>
      </ms-widget>
      <div class="gb-card-component-p" ng-repeat="note in vm.notes"
           ui-sref="app.componentLinearView.home({id:note.id})"
           layout="column" layout-align="start" layout-nowrap>
       <div class="gb-card-note md-whiteframe-1dp"
            layout="column">
        <div class="gb-card-content" flex>
         <div class="gb-title">
          <h3 class="gb-ellipsis">
           {{note.title}}
          </h3>
         </div>
         <div class="gb-description">
          <p class="">
           <span>
            {{::note.description}}
           </span>
          </p>
          <p ng-if="!note.description" class="gb-no-info">
           No description to show
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <md-button class="gb-right-scroll"
                ng-click="$root.scrollHorizontal('#gb-listboard-cards', 400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
     </md-button>
    </div>
   </div>
   <div class="gb-board-bottom"></div>
  </div>
 </div>
 <!-- TV -->
 <div class="gb-section-tv gb-section-furniture" layout="column" layout-align="center center" flex>
  <div class="gb-container" layout="column" layout-align="start stretch">
   <div class="widget-group gb-card-row" layout-align="start center" layout="column" flex>
    <ms-widget class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        TV
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-tv" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="gb-card-row md-whiteframe-1dp" layout="column" layout-align="start stretch" flex>
    <div class="gb-horizontal-scroll gb-notes-scroll" layout="row">
     <md-button class="gb-left-scroll"
                ng-click="$root.scrollHorizontal('#gb-stories-cards', -400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
     </md-button>
     <div id="gb-stories-cards" class="flex-scrollable only-x"
          layout="row" layout-align="start" ms-scroll flex layout-nowrap>
      <ms-widget class="gb-furniture-item-widget" layout="column"
                 ng-click="vm.startComponentStoryDialog($event, vm.componentId)">
       <ms-widget-front class="p-8 purple-400-bg" layout="row" flex>
        <div layout="column" layout-align="center center" flex>
         <div class="gb-title">
          Stories
         </div>
         <div class="gb-description">
          0
         </div>
        </div>
        <div class="background-image-center">
         <md-icon md-font-icon="fa icon-book" class="gb-background-icon"></md-icon>
        </div>
       </ms-widget-front>
      </ms-widget>
      <ms-widget class="gb-component-discussion-widget" layout="column" flex="33"
                 ng-click="vm.startComponentStoryDialog($event, vm.componentId)">
       <ms-widget-front class="p-8" layout="row" flex>
        <div layout="column" layout-align="center center" flex>
         <div class="gb-title">
          Everything
         </div>
         <div class="gb-description">
          Room Tour
         </div>
        </div>
        <div class="background-image-center">
         <md-icon md-font-icon="fa fa-comment" class="gb-background-icon"></md-icon>
        </div>
       </ms-widget-front>
      </ms-widget>
     </div>
     <md-button class="gb-right-scroll"
                ng-click="$root.scrollHorizontal('#gb-stories-cards', 400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
     </md-button>
    </div>
   </div>
  </div>
  <img class="gb-tv-stand" src="src/assets/images/landing-page/background-tv-stand.png" alt=""/>
 </div>
 <!--  Bookshelf -->
 <div class="gb-section-bookshelf gb-section-furniture" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
   <div class="gb-bookshelf-big-bar"></div>
   <div class="gb-bookshelf-back widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Bookshelf
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-books" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="gb-bookshelf-back gb-horizontal-scroll gb-notes-scroll" layout="row">
    <md-button class="gb-left-scroll"
               ng-click="$root.scrollHorizontal('#gb-books-cards', -400)"aria-label="Scroll Left">
     <md-icon md-font-icon="icon-chevron-left"></md-icon>
    </md-button>
    <div id="gb-books-cards" class="flex-scrollable only-x"
         layout="row" layout-align="start" ms-scroll flex layout-nowrap>
     <ms-widget class="gb-furniture-item-widget" layout="column"
                ng-click="vm.startComponentStoryDialog($event, vm.componentId)">
      <ms-widget-front class="p-8 indigo-400-bg" layout="row" flex>
       <div layout="column" layout-align="center center" flex>
        <div class="gb-title">
         Notebooks
        </div>
        <div class="gb-description">
         0
        </div>
       </div>
       <div class="background-image-center">
        <md-icon md-font-icon="fa icon-books" class="gb-background-icon"></md-icon>
       </div>
      </ms-widget-front>
     </ms-widget>
     <div class="gb-card-component-p" ng-repeat="note in vm.notes"
          ui-sref="app.componentLinearView.home({id:note.id})"
          layout="column" layout-align="start" layout-nowrap>
      <div class="gb-card-note md-whiteframe-1dp"
           layout="column">
       <div class="gb-card-content" flex>
        <div class="gb-title">
         <h3 class="gb-ellipsis">
          {{note.title}}
         </h3>
        </div>
        <div class="gb-description">
         <p class="">
          <span>
           {{::note.description}}
          </span>
         </p>
        </div>
       </div>
      </div>
     </div>
    </div>
    <md-button class="gb-right-scroll"
               ng-click="$root.scrollHorizontal('#gb-books-cards', 400)"aria-label="Scroll Left">
     <md-icon md-font-icon="icon-chevron-right"></md-icon>
    </md-button>
   </div>
  </div>
  <div class="gb-bookshelf-base"></div>
 </div>
 <!-- Calendar -->
 <div class="gb-section-calendar gb-section-furniture" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
   <div class="gb-container widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Calendar
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-calendar" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="widget-group md-whiteframe-2dp"
        layout="row" layout-align="start" layout-wrap>
    <ms-widget class="gb-add-component-widget" layout="column" flex="50">
     <ms-widget-front layout="row" layout-fill flex>
      <md-button ng-click="vm.openComponentPinboardDialog($event, vm.componentId)" class="gb-main-button"
                 layout="row" layout-align="start stretch">
       <div class="gb-title-icon deep-purple-400-fg" layout-fill layout="row" layout-align="center center" flex>
        <i class="fa icon-tree"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="center stretch" flex>
        <div class="gb-title">
         VIEW CALENDAR
        </div>
       </div>
      </md-button>
     </ms-widget-front>
    </ms-widget>
    <ms-widget class="gb-add-component-widget" layout="column" flex="50">
     <ms-widget-front layout="row" layout-fill flex>
      <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.motives)" class="gb-main-button"
                 layout="row" layout-align="start stretch">
       <div class="gb-title-icon green-400-fg" layout-fill layout="row" layout-align="center center" flex>
        <i class="fa fa-plus"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="center stretch" flex>
        <div class="gb-title">
         ADD TO CALENDAR
        </div>
       </div>
      </md-button>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
 </div>
 <!-- Clock -->
 <div class="gb-section-clock" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
   <div class="gb-container widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget flippable="true" class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Clock
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa fa-clock-o" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-commenting-o"></md-icon>
      </md-button>
      <div class="gb-heading-title ">
       <span class="ellipsis">
        Alarm
       </span>
      </div>
      <span flex></span>
      <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.contributions)"
                 class="gb-action-btn">
       <md-icon class="" md-font-icon="fa fa-plus"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
   </div>
  </div>
 </div>
 <!-- Storage -->
 <div class="gb-section-storage" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
   <div class="gb-container widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget flippable="true" class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Storage
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-cabinet2" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-commenting-o"></md-icon>
      </md-button>
      <div class="gb-heading-title ">
       <span class="ellipsis">
        Files
       </span>
      </div>
      <span flex></span>
      <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.contributions)"
                 class="gb-action-btn">
       <md-icon class="" md-font-icon="fa fa-plus"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
   </div>
  </div>
 </div>
 <!-- Safe -->
 <div class="gb-section-safe" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
   <div class="gb-container widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget flippable="true" class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Safe
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-bin" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
 </div>
 <!-- Trashcan -->
 <div class="gb-section-floor" layout="column" layout-align="center center" flex>
  <div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
   <div class="gb-container widget-group gb-card-row" layout-align="start center"  layout="column" flex>
    <ms-widget flippable="true" class="gb-furniture-description-widget" layout="column" flex>
     <ms-widget-front class="md-whiteframe-1dp" layout="row" flex>
      <div layout="column" layout-align="center center" flex>
       <div class="gb-type-title">
       </div>
       <div class="gb-title">
        Trashcan
       </div>
       <md-button class="" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
        Details
       </md-button>
      </div>
      <div class="background-image-center" layout-align="center center"  flex>
       <md-icon md-font-icon="fa icon-bin" class="gb-background-icon"></md-icon>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
 </div>
</div>