/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 3, 2015, 7:59:19 PM
    Author     : Tremmillicious
*/
.gb-landing-page {
  background-color: #FFF;
}
.gb-landing-page.gb-top-nav-1 {
  padding: 1px 5px 5px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 41px;
  border-bottom: rgba(2, 120, 135, 0.8) solid 3px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #555;
}
.gb-landing-page.gb-top-nav-1 .gb-logo {
  line-height: 38px;
}
.gb-landing-page.gb-top-nav-1 .gb-logo .gb-logo-icon {
  color: #027887;
}
.gb-landing-page.gb-top-nav-1 .gb-logo strong {
  color: #027887;
}
.gb-landing-page.gb-top-nav-1 .gb-header a,
.gb-landing-page.gb-top-nav-1 .gb-header a:hover {
  color: rgba(2, 120, 135, 0.9);
}
.gb-landing-page.gb-top-nav-1 .gb-action {
  padding-top: 0px;
}
.gb-landing-page.gb-top-nav-1 .gb-action button {
  margin: 0;
  line-height: 40px;
  font-size: 10px;
}
.gb-landing-page.gb-top-nav-1 .gb-action button i {
  font-size: 20px;
  margin: 8px 5px;
}
.gb-landing-page #gb-intro-section {
  background: url(../../../img/landing-page/background-1.png);
  -webkit-background-size: 100% !important;
  -moz-background-size: 100% !important;
  -o-background-size: 100% !important;
  background-size: 100% !important;
  position: relative;
  height: 550px;
  text-align: center;
  background-color: #027887;
  overflow: hidden;
}
.gb-landing-page #gb-intro-section .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.gb-landing-page #gb-intro-section .intro-text .gb-dynamic-word {
  padding: 3px 10px;
  color: #FFF;
  font-weight: bold;
  transition: opacity 2s ease;
  opacity: 1;
}
.gb-landing-page #gb-intro-section .intro-text .btn-toolbar {
  margin-top: 30px;
  display: inline-block;
  border: #888 solid 1px;
  background-color: rgba(1, 53, 60, 0.6);
  padding: 10px;
}
.gb-landing-page #gb-intro-section .intro-text .btn-toolbar .btn {
  border-radius: 0;
  text-decoration: none;
  width: 150px;
}
.gb-landing-page #gb-intro-section .intro-text .btn-toolbar .btn.gb-beta-btn {
  background-color: #79AA72;
  color: #FFF;
}
.gb-landing-page #gb-intro-section .intro-text .btn-toolbar .gb-or {
  padding: 7px 6px 0 10px;
  font-weight: 600;
  float: left;
  color: #BBB;
}
.gb-landing-page #gb-intro-section .intro-text .gb-dynamic-word[class*="-remove"] {
  transition: none;
  opacity: 0;
}
.gb-landing-page #gb-intro-section .intro-text .intro-lead-in {
  color: #EEE;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
}
.gb-landing-page #gb-intro-section .intro-text .intro-heading {
  color: #EEE;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}
@media (max-width: 991px) {
  .gb-landing-page #gb-intro-section .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
}
@media (max-width: 767px) {
  .gb-landing-page #gb-intro-section {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  .gb-landing-page #gb-intro-section .intro-text .btn-toolbar .btn {
    font-size: 12px;
    width: 110px;
  }
  .gb-landing-page #gb-intro-section .intro-text .btn-toolbar .gb-or {
    padding: 5px 5px 0 5px;
  }
  .gb-landing-page #gb-intro-section .intro-text .intro-lead-in {
    color: #EEE;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 20px;
  }
  .gb-landing-page #gb-intro-section .intro-text .intro-heading {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}
.gb-landing-page #gb-intro-section-2 {
  padding: 0;
  background-color: #EEE;
}
.gb-landing-page #gb-intro-section-2 .gb-box-10 {
  -webkit-background-size: 100% !important;
  -moz-background-size: 100% !important;
  -o-background-size: 100% !important;
  background-size: 100% !important;
  height: 350px;
  width: 100%;
  height: 100%;
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-discover {
  background: url(../../../img/landing-page/gb-discover-1.png);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-discover .gb-box-image {
  background-color: rgba(24, 79, 92, 0.5);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-discover .gb-number {
  background-color: rgba(255, 255, 255, 0.9);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-discover .gb-number .gb-number-inner {
  background-color: rgba(24, 79, 92, 0.7);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-discover .gb-box-content {
  background-color: rgba(255, 255, 255, 0.7);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-apply {
  background: url(../../../img/landing-page/gb-apply-1.png);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-apply .gb-box-image {
  background-color: rgba(24, 79, 92, 0.8);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-apply .gb-number {
  background-color: rgba(204, 204, 204, 0.8);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-apply .gb-number .gb-number-inner {
  background-color: rgba(24, 79, 92, 0.9);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-apply .gb-box-content {
  background-color: rgba(204, 204, 204, 0.8);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-organize {
  background: url(../../../img/landing-page/gb-organize-1.png);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-organize .gb-box-image {
  background-color: rgba(24, 79, 92, 0.5);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-organize .gb-number {
  background-color: rgba(255, 255, 255, 0.9);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-organize .gb-number .gb-number-inner {
  background-color: rgba(24, 79, 92, 0.8);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10.gb-box-organize .gb-box-content {
  background-color: rgba(255, 255, 255, 0.8);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-box-image {
  padding: 0px 0px;
  height: 150px;
  overflow: hidden;
  background-color: rgba(2, 120, 135, 0.6);
}
.gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-box-content {
  padding: 60px 10px 10px 10px;
  height: 200px;
  color: #000;
}
.gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-number {
  position: absolute;
  top: 100px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  color: #CCC;
  z-index: 1;
}
.gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-number .gb-number-inner {
  padding: 4px 0 0 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .gb-landing-page #gb-intro-section-2 .gb-box-10 {
    height: 250px;
  }
  .gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-box-image {
    height: 100px;
  }
  .gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-box-content {
    padding: 30px 3px 10px 3px;
    height: 150px;
    font-size: 8px;
  }
  .gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-number {
    position: absolute;
    top: 80px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    font-size: 20px;
    height: 40px;
    width: 40px;
    padding: 3px;
  }
  .gb-landing-page #gb-intro-section-2 .gb-box-10 .gb-number .gb-number-inner {
    padding: 2px 0 0 0;
  }
}
.gb-landing-page .gb-icon-service {
  font-size: 70px;
  color: #027887;
}
@media (max-width: 767px) {
  .gb-landing-page .gb-icon-service {
    font-size: 40px;
  }
}
.gb-landing-page .gb-title {
  margin: 30px 10px 30px;
}
.gb-landing-page .gb-landing-page-apps {
  background-color: #ECEFF1;
}
.gb-landing-page .gb-landing-page-apps .gb-title {
  margin: 0;
}
.gb-landing-page .img-centered {
  margin: 0 auto;
}
.gb-landing-page .gb-icon-service {
  font-size: 70px;
  color: #027887;
}
@media (max-width: 767px) {
  .gb-landing-page .gb-icon-service {
    font-size: 40px;
  }
}
.gb-landing-page section {
  padding: 70px 0;
}
.gb-landing-page section h1 {
  font-weight: normal;
  font-size: 50px;
}
.gb-landing-page section h2 {
  font-weight: normal;
  font-size: 30px;
}
.gb-landing-page section h3 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.gb-landing-page section p {
  font-size: 15px;
  line-height: 25px;
}
.gb-landing-page section.gb-heading-row {
  font-size: 25px;
  padding: 60px 0;
  background-color: #D3D3D3;
}
.gb-landing-page section.gb-explorer-row {
  background-color: rgba(2, 120, 135, 0.1);
  border-top: #027887 solid 5px;
  color: #027887;
}
.gb-landing-page section.gb-swipe-row {
  background-color: rgba(94, 45, 53, 0.1);
  border-top: #5E2D35 solid 5px;
  color: #5E2D35;
}
.gb-landing-page section.gb-matcher-row {
  background-color: rgba(0, 34, 119, 0.1);
  border-top: #027 solid 5px;
  color: #027;
}
.gb-landing-page section.gb-features-row {
  background-color: rgba(238, 238, 238, 0.1);
  border-top: #EEE solid 5px;
  color: #EEE;
}
@media (max-width: 991px) {
  .gb-landing-page section h1 {
    font-size: 40px;
  }
  .gb-landing-page section h2 {
    font-size: 30px;
  }
  .gb-landing-page section p {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 767px) {
  .gb-landing-page section {
    text-align: center;
  }
  .gb-landing-page section h1 {
    font-size: 25px;
  }
  .gb-landing-page section h2 {
    font-size: 21px;
  }
  .gb-landing-page section p {
    font-size: 15px;
    line-height: 22px;
  }
}
