<div class="gb-objectives row" ng-controller='ExplorerObjectivesCtrl as explorerObjectivesCtrl'>
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-1 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-th-list"></i>
    </div>
    <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
     <p class="gb-ellipsis">
      OBJECTIVES
     </p>
    </div>
    <div class="btn-group pull-right">
     <md-button class="gb-action" ng-click="explorerObjectivesCtrl.showObjectiveForm()"
                ng-show="!explorerObjectivesCtrl.objectiveFormDisplay">
      <i class="fa fa-plus"></i>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <div class='gb-body-row-1 row'>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class='row'>
    <form class="gb-shadow-1 gb-background-white" ng-show="explorerObjectivesCtrl.objectiveFormDisplay" name="form" novalidate>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Title:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 placeholder="Explorer Objective Description" ng-model="explorerObjectivesCtrl.newExplorerObjectiveData.title"
                 name="title" required="" rows="2">
       </textarea>
       <div ng-show="form.$submitted || form.title.$touched">
        <div ng-show="form.title.$error.required">description required.</div>
       </div>
      </div>
     </div>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 placeholder="Explorer Objective Description (optional)" ng-model="explorerObjectivesCtrl.newExplorerObjectiveData.description"
                 name="description" required="" rows="4">
       </textarea>
      </div>
     </div>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Privacy:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <div class="radio gb-radio-row">
        <label class="">
         <input type="radio" ng-model="explorerObjectivesCtrl.newExplorerObjectiveData.privacy" value="0" />
         <strong>public</strong> All people can see this objective
        </label>
       </div>
       <div class="radio gb-radio-row">
        <label>
         <input type="radio" ng-model="explorerObjectivesCtrl.newExplorerObjectiveData.privacy" value="1" />
         <strong>private</strong> only you can see this objective
        </label>
       </div>
       <div class="radio gb-radio-row">
        <label>
         <input type="radio" ng-model="explorerObjectivesCtrl.newExplorerObjectiveData.privacy" value="2" />
         <strong>custom</strong> choose who to see this objective
        </label>
       </div>
      </div>
     </div>
     <div class="form-group row" ng-class="{'gb-disabled-2': explorerObjectivesCtrl.newExplorerObjectiveData.privacy != 2}">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Choose Members:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <input type="text" class="form-control" placeholder="Select members"/>
      </div>
     </div>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">
       <a class="btn btn-link" ng-click="explorerObjectivesCtrl.showAdvanced()">
        Show Advanced
       </a>
      </label>
     </div>
     <div class="gb-form-footer row">
      <div class="btn-group pull-right">
       <md-button type="button" class="" ng-click="explorerObjectivesCtrl.cancelExplorerObjective(form)">
        Cancel
       </md-button>
       <md-button type="button" class="gb-color-primary" ng-click="explorerObjectivesCtrl.createExplorerObjective(explorerObjectivesCtrl.newExplorerObjectiveData)">
        Add Objective
       </md-button>
      </div>
     </div>
    </form>
   </div>
   <div class="gb-no-info row" ng-show="!explorerObjectivesCtrl.explorerObjectivesSrv.explorerObjectives.length" ng-cloak>
    No objectives to show
   </div>
   <div class="gb-objective-body row" ng-show="explorerObjectivesCtrl.explorerObjectivesSrv.explorerObjectives.length" ng-cloak>
    <div ng-repeat="explorerObjective in explorerObjectivesCtrl.explorerObjectivesSrv.explorerObjectives track by $index">
     <div gb-explorer-objective-box explorer-objective="explorerObjective"
          index={{$index}}
          open-explorer-objective="explorerObjectivesCtrl.openExplorerObjective(explorerObjective)"
          update-explorer-objective="explorerObjectivesCtrl.editExplorerObjectiveSections.details(explorerObjective)"
          class="row">
     </div>
    </div>
   </div>
   <script type="text/ng-template" id="explorer-objective-modal.html">
   <div class="gb-objective-page" ng-include="'public/modules/explorer/views/components/objective/explorer-objective-modal.html'"></div>
   </script>
  </div>
 </div>
</div>