<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   {{explorerTodoCtrl.explorerTodosSrv.explorerTodo.todo.title}}
  </p>
 </div>
 <md-button class="gb-close" ng-click="explorerTodoCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-3 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-file-text-o"></i>
    </div>
    <div class="gb-title col-lg-8 col-md-8 col-sm-8 col-xs-9">
     <p class="gb-ellipsis">
      STATUS
     </p>
    </div>
   </div>
  </div>
 </div>
 <div class="gb-body-row-1 row">
  <md-radio-group ng-model="explorerTodoCtrl.explorerTodosSrv.explorerTodo.todo.status_id"
                  ng-change="explorerTodoCtrl.changeTodoStatus()"
                  layout="row">
   <md-radio-button ng-repeat="progressStatusType in explorerTodoCtrl.progressStatusTypes"
                    ng-value="progressStatusType.id" class="gb-primary col-lg-4 col-md-4 col-sm-4 col-xs-4">
    {{progressStatusType.name}}
   </md-radio-button>
  </md-radio-group>
 </div>
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-3 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-file-text-o"></i>
    </div>
    <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
     <p class="gb-ellipsis">
      DESCRIPTION
     </p>
    </div>
    <div class="btn-group pull-right">
     <md-button type="button" class="gb-action" ng-show="!explorerTodoCtrl.editDecriptionMode"
                ng-click="explorerTodoCtrl.editDecriptionMode = true">
      <i class="fa fa-pencil"></i>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <div class='gb-body-row-1 row'>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div ng-hide="explorerTodoCtrl.editDecriptionMode" class="row">
    <strong>{{explorerTodoCtrl.explorerTodosSrv.explorerTodo.todo.title}}</strong>
    {{explorerTodoCtrl.explorerTodosSrv.explorerTodo.todo.description}}
   </div>
   <form ng-show="explorerTodoCtrl.editDecriptionMode"
         ng-submit="explorerTodoCtrl.editExplorerTodoSections.details()">
    <md-input-container class="md-block">
     <input ng-model="explorerTodoCtrl.explorerTodosSrv.explorerTodo.todo.title" name="title" required
            placeholder="Title"
            class="">
    </md-input-container>
    <md-input-container class="md-block">
     <input ng-model="explorerTodoCtrl.explorerTodosSrv.explorerTodo.todo.description" name="title"
            placeholder="Description"
            class="">
    </md-input-container>
    <div class="row"
         ng-show="explorerTodoCtrl.editDecriptionMode">
     <div class="btn-group pull-right">
      <md-button type="button" class="" ng-click="explorerTodoCtrl.editDecriptionMode = false">
       Cancel
      </md-button>
      <md-button type="submit" class="gb-color-primary">
       Done
      </md-button>
     </div>
    </div>
   </form>
  </div>
 </div>
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-3 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-check-circle-o"></i>
    </div>
    <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
     <p class="gb-ellipsis">
      CHECKLIST
     </p>
    </div>
    <div class="btn-group pull-right">
     <md-button type="button" class="gb-action" ng-show="!explorerTodoCtrl.checklistFormVisible"
                ng-click="explorerTodoCtrl.checklistFormVisible = true">
      <i class="fa fa-plus"></i>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <div class="gb-body-row-1 row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-checklist">
    <form class="" ng-show="explorerTodoCtrl.checklistFormVisible" name="form" novalidate>
     <div class="form-group row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 placeholder="Checklist" ng-model="explorerTodoCtrl.newExplorerTodoChecklistData.title"
                 name="title" required="" rows="2">
       </textarea>
      </div>
     </div>
     <div class="row"
          ng-show="explorerTodoCtrl.checklistFormVisible">
      <div class="btn-group pull-right">
       <a class="btn gb-btn gb-btn-xs"
          ng-click="explorerTodoCtrl.cancelChecklistForm()">
        <i class="text-danger fa fa-times"></i>
       </a>
       <a class="btn gb-btn gb-btn-xs"
          ng-click="explorerTodoCtrl.createExplorerTodoChecklistItem(explorerTodoCtrl.newExplorerTodoChecklistData)">
        <i class="text-success fa fa-check"></i>
       </a>
      </div>
     </div>
    </form>
    <div class="gb-todo-body row" ng-show="explorerTodoCtrl.explorerTodoChecklistSrv.explorerTodoChecklist.length" ng-cloak>
     <ul class="gb-checklist-nav">
      <li ng-repeat="todoChecklistItem in explorerTodoCtrl.explorerTodoChecklistSrv.explorerTodoChecklist| filter:statusFilter track by $index" ng-class="{completed: todoChecklist.completed, editing: todoChecklist == explorerTodoCtrl.editedTodo}">
       <div class="gb-checklist-row gb-shadow-1 row">
        <div class="toggle col-lg-1 col-md-1 col-sm-1 col-xs-1" type="checkbox" ng-model="todoChecklistItem.completed">
         <md-checkbox ng-checked="todoChecklistItem.checklist.status === 1"
                      ng-click="explorerTodoCtrl.toggleChecklistStatus(todoChecklistItem.checklist)"
                      class="gb-primary">
         </md-checkbox>
        </div>
        <div class='gb-checklist-item-content col-lg-9 col-md-9 col-sm-9 col-xs-9'>
         <p class="text-left" editable-text="todoChecklistItem.checklist.title"
            e-class="col-lg-10 col-md-10 col-sm-10 col-xs-9"
            e-form="todoChecklistForm" onbeforesave="explorerTodoCtrl.editExplorerTodoChecklistItemSections.title(todoChecklistItem.checklist.id, $data)" e-required>
          {{todoChecklistItem.checklist.title}}
          <a class="gb-edit-btn btn-link" ng-click="todoChecklistForm.$show()" ng-hide="todoChecklistForm.$visible">
           <i class="fa fa-pencil"></i>
          </a>
         </p>
        </div>
        <div class="gb-checklist-item-action btn-group pull-right">
         <a class="btn btn-xs pull-right dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chevron-down"></i>
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
          <li><a ng-click="explorerTodoCtrl.createTodoChecklist(todoChecklistItem)">Edit</a></li>
          <li><a ng-click="explorerTodoCtrl.removeTodo(todoChecklistItem)">Delete</a></li>
         </ul>
        </div>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
  </section>
 </div>
</div>
<div class="modal-footer">
 <md-button class="pull-right" aria-label="Close Todo Modal"
            ng-click="explorerTodoCtrl.close()">
  Close
 </md-button>
</div>
