
<div class="gb-todo-box row">
 <div class="gb-box-body gb-shadow-1">
  <div class="gb-todo-progress">
   <md-progress-circular md-mode="determinate" value="{{todoChecklistStatusData.percentage}}"
                         class="gb-primary">

   </md-progress-circular>
   <div class="gb-progress-percentage">
    {{todoChecklistStatusData.percentage + '%'}}
   </div>
  </div>
  <div class="gb-box-content">
   <div class="gb-description row">
    <a ng-click="open()">
     {{explorerTodo.todo.title}}
    </a>
    {{explorerTodo.todo.description}}
   </div>
   <div ng-show="false" class="gb-footer gb-padding-none row">
    <div class="gb-footer row gb-padding-none">
     <div class="gb-summary-bar btn-group">
      <a class="btn btn-xs btn-link">
       <i class="fa fa-clock-o"></i> {{explorerTodo.todo.due_date}}
      </a>
      <a class="btn btn-xs btn-link">
       <i class="gb-icon fa icon-checkmark"></i> [ {{todoChecklistStatusData.done}} / {{todoChecklistStatusData.total}}
      </a>
      <a class="btn btn-xs btn-link">
       <i class="gb-icon fa icon-users"></i> 0
      </a>
     </div>
    </div>
   </div>
   <div class="gb-heading row">
    <p class="gb-title gb-ellipsis">
     {{explorerTodo.todo.status.name}}
    </p>
   </div>
  </div>
 </div>
</div>
