<div class="gb-header gb-header-2 md-accent-bg" layout="column" layout-align="space-between center" >
 <div class="gb-cover-overlap" ></div>
 <div class="gb-cover" ng-style="$root.headerStyle"></div>
 <div class="gb-container user-info" layout="column" layout-align="center center">
  <div class="gb-header-icon">
   <i class="fa" ng-class="'fa icon-gb-' + $root.appName.toLowerCase()"></i>
  </div>
  <div class="gb-title">
   {{$root.appName}}
  </div>
 </div>
 <div class="actions" layout="row" layout-align="end center">
  <md-button class="md-raised md-accent" aria-label="Follow" translate="PROFILE.FOLLOW"
             translate-attr-aria-label="PROFILE.FOLLOW">Add
  </md-button>
  <md-button class="md-raised md-primary" translate="PROFILE.SEND_MESSAGE"
             translate-attr-aria-label="PROFILE.SEND_MESSAGE">Send Message
  </md-button>
 </div>
</div>
<!-- / HEADER -->
<div class="gb-row gb-spacing-1"></div>
<!-- CONTENT -->
<div class="gb-tabs-1" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="column" layout-align="" flex>
  <md-tabs md-stretch-tabs="always" class="">
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-list"></i>
     </div>
     <div class="gb-title">
      Overview
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="overview-tab">
      <div class="gb-swipe-container gb-list row">
       <div  class="gb-flex-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="gb-swipe-box gb-container col-lg-8 col-md-8 col-sm-10 col-xs-11"
             hm-swipe-left="vm.swipeLeft($event, vm.component.id)"
             hm-swipe-right="vm.swipeRight($event, vm.component.id)">
         <div class="gb-icon-image">
          <i class="fa gb-icon icon-gb-{{vm.component.type.title.toLowerCase()}}"></i>
         </div>
         <div class="gb-box-body gb-shadow-1">
          <div class="gb-image">
           <img data-ui-sref="apps.component.overview({componentId: component.id})"
                ng-src="public/img/explorer/{{ ::vm.component.component_picture_url}}"
                class="gb-heading-pic" alt="">

          </div>
          <div class="gb-box-content">
           <div class="gb-heading row">
            <p class="gb-title">
             {{vm.component.type.title + ' - ' + vm.component.level.title}}
            </p>
           </div>
           <div class="gb-description row">
            <p class="">
             {{vm.component.title}}
            </p>
            {{vm.component.description}}
           </div>
          </div>
         </div>
        </div>
        <div class="gb-footer row">
         <div class="btn-toolbar">
          <md-button type="button" ng-click="vm.createSwipe(vm.component.id, vm.swipeLevels[0].id)"
                     class="md-raised">
           {{vm.swipeLevels[0].name}}
          </md-button>
          <md-button type="button" ng-click="vm.createSwipe(vm.component.id, vm.swipeLevels[2].id)"
                     class="md-raised">
           {{vm.swipeLevels[2].name}}
          </md-button>
         </div>
        </div>
       </div>
      </div>
     </md-content>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa icon-gb-apps"></i>
     </div>
     <div class="gb-title">
      Apps
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="apps-tab"
                 ng-include="'src/app/main/profile/tabs/apps/apps.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-info"></i>
     </div>
     <div class="gb-title">
      About
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="about-tab"
                 ng-include="'src/app/main/profile/tabs/about/about.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-icon">
      <i class="fa fa-cog"></i>
     </div>
     <div class="gb-title">
      Settings
     </div>
    </md-tab-label>
    <md-tab-body>
     <md-content class="settings-tab"
                 ng-include="'src/app/main/profile/tabs/settings/settings.html'">
     </md-content>
    </md-tab-body>
   </md-tab>
  </md-tabs>
 </div>
</div>
