<div class="gb-top-nav-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="row">
  <div class="gb-header col-lg-4 col-md-4 col-sm-4 col-xs-2">
   <a ng-click="profileCtrl.openProfileMenuModal('left')"
      class="gb-menu-bars btn btn-link hidden-lg hidden-md hidden-sm visible-xs">
    <i class="fa fa-bars"></i>
   </a>
   <a class="gb-logo" ui-sref="apps.explores.all">
    <i class="gb-logo-icon fa icon-gb-logo"></i>
    <div class="pull-left visible-lg visible-md hidden-sm hidden-xs">
     <strong>SKILL</strong>SECTION<br>
    </div>
   </a>
   <div class="gb-app-name visible-lg visible-md visible-sm hidden-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{profileCtrl.profileManager.profile.firstname + " " + profileCtrl.profileManager.profile.lastname| chars: 10:true}} <span class="caret"></span>
    </button>
    <button type="button" class="btn btn-default">
     <i class="fa fa-plus"></i>
    </button>
    <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">Separated link</a></li>
    </ul>
   </div>
  </div>
  <form class="gb-search col-lg-4 col-md-6 col-sm-6 col-xs-8">
   <div class="form-group gb-input-form-group">
    <input type="text" ng-model="$root.searchKeyword" placeholder="Search SkillSection" uib-typeahead="state as state for state in profileCtrl.getSearchSuggestions($viewValue)"
           typeahead-wait-ms=200 class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
    <a class="gb-clear-btn btn btn-link"
       ng-click="main.clear($event, $select)">
     <i class="fa fa-times"></i>
    </a>
   </div>
   <div class="gb-input-btn-group btn-group">
    <button ng-click="profileCtrl.search()" type="button" class="btn btn-primary">
     <i class="fa fa-search"></i>
    </button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">Separated link</a></li>
    </ul>
   </div>
  </form>
  <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2">
   <div class="gb-action pull-right">
    <div class="btn-group">
     <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="gb-menu-icon fa fa-user"></i>
     </a>
     <ul class="dropdown-menu dropdown-menu-right text-left">
      <li><a href="#">{{$root.user.firstname + " " + $root.user.lastname}}</a></li>
      <li role="separator" class="divider"></li>
      <li><a ng-click="profileCtrl.logout()">
        <i class="fa fa-power-off"></i> Log Out</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
<div  class="gb-flex-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div id="gb-middle-nav" class="gb-container gb-app-detail col-lg-8 col-md-9 col-sm-12 col-xs-12">
  <div id="gb-profile-left-pane" class="col-lg-3 col-md-4 col-sm-4 hidden-xs">
   <div class="gb-nav-strip gb-nav-strip-mini row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="gb-profile-pic">
      <img ui-sref="profile.overview" src="public/img/profile_pic/{{profileCtrl.profileManager.profile.avatar_url}}" class="" alt="">
      <div ui-sref="profile.overview" class="gb-profile-name">
       {{profileCtrl.profileManager.profile.firstname + ' ' + profileCtrl.profileManager.profile.lastname}}
      </div>
     </div>
    </div>
   </div>
  </div>
  <div id="gb-profile-right-pane" class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
   <div class="gb-cover">
    <div ng-include="'public/modules/profile/views/components/profile/profile-cover.html'"></div>
   </div>
   <div class="gb-profile-row">
    <img src="public/img/profile_pic/{{profileCtrl.profileManager.profile.avatar_url}}" class="gb-profile-pic" alt="">
    <div class="gb-row-content">
     <a class="gb-ellipsis">
      {{profileCtrl.profileManager.profile.firstname + ' ' + profileCtrl.profileManager.profile.lastname}}
     </a>
    </div>
   </div>
   <div class="row">
    <ul class="nav gb-icon-top-nav-1 gb-margin-none col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <li ui-sref-active="active" class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
      <a class="gb-ellipsis" ui-sref="profile.overview">
       <i class="gb-icon fa fa-home"></i>
       <div class="gb-title">
        HOME
       </div>
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="gb-ellipsis" ui-sref="profile.explorer">
       <i class="gb-icon fa icon-gb-discover"></i>
       <div class="gb-title">
        EXPLORER
       </div>
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="gb-ellipsis" ui-sref="profile.swipe">
       <i class="gb-icon fa icon-gb-swipe"></i>
       <div class="gb-title">
        SWIPE
       </div>
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="gb-ellipsis" ui-sref="profile.matcher">
       <i class="gb-icon fa icon-gb-matcher"></i>
       <div class="gb-title">
        MATCHER
       </div>
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="gb-ellipsis" ui-sref="profile.matcher">
       <i class="gb-icon fa icon-gb-matcher"></i>
       <div class="gb-title">
        ABOUT
       </div>
      </a>
     </li>
     <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
      <a class="gb-ellipsis" ui-sref="profile.matcher">
       <i class="gb-icon fa icon-gb-matcher"></i>
       <div class="gb-title">
        ABOUT
       </div>
      </a>
     </li>
     <li class="btn-group col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <a class="gb-ellipsis dropdown-toggle" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false" ui-sref="apps.explores.skill">
       <i class="gb-icon fa fa-ellipsis-h"></i>
       <div class="gb-title">
        MORE
       </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm visible-xs">
        <a class="gb-ellipsis" ui-sref="apps.explores.app({'app_name': 'hobby'})">
         <i class="gb-icon fa icon-gb-hobby"></i>
         <div class="gb-title">
          HOBBIES
         </div>
        </a>
       </li>
       <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="gb-ellipsis" ui-sref="apps.explores.app({'app_name': 'mentorship'})">
         <i class="gb-icon fa icon-gb-mentorship"></i>
         <div class="gb-title">
          MENTORSHIP
         </div>
        </a>
       </li>
       <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="gb-ellipsis" ui-sref="apps.explores.app({'app_name': 'advice'})">
         <i class="gb-icon fa icon-gb-advice"></i>
         <div class="gb-title">
          ADVICE
         </div>
        </a>
       </li>
       <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="gb-ellipsis" ui-sref="apps.explores.app({'app_name': 'teach'})">
         <i class="gb-icon fa icon-gb-teach"></i>
         <div class="gb-title">
          TEACH
         </div>
        </a>
       </li>
       <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="gb-ellipsis" ui-sref="apps.explores.app({'app_name': 'collaboration'})">
         <i class="gb-icon fa icon-gb-collaboration"></i>
         <div class="gb-title">
          COLLABORATION
         </div>
        </a>
       </li>
       <li role="separator" class="divider"></li>
      </ul>
     </li>
    </ul>
   </div>
   <div ui-view="content" class="row gb-padding-medium"></div>
   <div class="gb-dummy-height row"></div>
  </div>
 </div>
</div>
<script type="text/ng-template" id="profile-menu-modal.html">
 <div ng-include="'public/modules/profile/views/modals/profile-menu-modal.html'"></div>
</script>