<div class="modal-body gb-modal-body gb-menu-nav" role="navigation"
     hm-swipe-left="menuProfileModalCtrl.close()">
 <div class="gb-header">
  <a class="gb-logo gb-ellipsis"  ui-sref="apps.explorer.all">
   <span class="fa-stack fa-lg pull-left">
    <i class="fa fa-outer fa-square-o fa-stack-2x"></i>
    <i class="fa fa-inner fa-wrench fa-stack-1x"></i>
   </span>
   <div class="">
    <strong>SKILL</strong>SECTION<br>
   </div>
  </a>
 </div>
 <a ng-click="menuProfileModalCtrl.close()" class="gb-close btn btn-primary">
  X
 </a>
 <div class="gb-body">
  <div class="gb-nav-strip gb-nav-strip-mini row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-profile-pic">
     <img ui-sref="apps.profile.overview" src="public/img/profile_pic/{{profileCtrl.profileSrv.profile.avatar_url}}" class="" alt="">
     <div ui-sref="apps.profile.overview" class="gb-profile-name">
      {{profileCtrl.profileSrv.profile.firstname + ' ' + profileCtrl.profileSrv.profile.lastname}}
     </div>
    </div>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref-active="active" ui-sref="apps.profile.overview"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer fa-user fa-stack-2x"></i>
        <i class="fa fa-inner fa-list fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Overview
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref-active="active" ui-sref="profile.about"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer fa-user fa-stack-2x"></i>
        <i class="fa fa-inner fa-info-circle fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        About
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="profile.discover.questions"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('profile.discover' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer fa-user fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-explore fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Discover Me
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.swipes.swipe"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.swipes' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-swipe fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Swipe
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.questionnaires.questionnaire"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.questionnaires' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-matcher fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Matcher
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-gb-discover"></i> MY APPLICATION
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.mentorships.all"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.mentorships' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-mentorship fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Mentorships
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.teachs.teach"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.teachs' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-teach fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Teachings
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.advises.advise"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.advises' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-advice fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Advise
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.collaborations.collaboration"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.collaborations' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-collaboration fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Collaborations
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.goals.goal"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.goals' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-goal fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Goals
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-gb-organize"></i> ORGANIZE
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.journal.all"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.journal' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-journal fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Journals
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.journal.all"
       ng-click="menuProfileModalCtrl.close()" class="gb-link row"
       ng-class="{
          active: ('apps.journal' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-project fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Projects
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.journal.all"
       ng-click="menuProfileModalCtrl.close()"class="gb-link row"
       ng-class="{
          active: ('apps.journal' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-group fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        My Groups
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-tools"></i> TOOLS
    </span>
   </h6>
  </div>
 </div>
</div>
<!-- ------------------------------- MODALS --------------------------->
