<div id="gb-middle-nav" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="gb-top-nav-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="gb-profile-logo col-lg-2 col-md-2 col-sm-3 col-xs-2">
   <div class="gb-header">
    <a ui-sref="auth" class="gb-logo gb-ellipsis">
     <span class="fa-stack fa-lg pull-left">
      <i class="fa fa-outer fa-square-o fa-stack-2x"></i>
      <i class="fa fa-inner fa-wrench fa-stack-1x"></i>
     </span>
     <div class="visible-lg visible-md visible-sm hidden-xs">
      <strong>SKILL</strong>SECTION<br>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-action pull-left col-lg-2 col-md-2 col-sm-3 col-xs-3">
   <div ng-if="false" class="btn-group">
    <a ng-click="profileCtrl.openAddProfileModal()" class="btn btn-xs btn-link">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
     </span>
    </a>
    <a class="btn btn-xs btn-link gb-form-modal-trigger"
       data-gb-modal-target="#gb-profile-play-modal">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-play fa-stack-1x fa-inverse"></i>
     </span>
    </a>
    <a class="btn btn-xs btn-link">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-filter fa-stack-1x fa-inverse"></i>
     </span>
    </a>
   </div>
  </div>
  <form id="search" class="col-lg-4 col-md-6 col-sm-5 hidden-xs">
   <i class="gb-search-icon fa fa-search"></i>
   <input type="text" class="" placeholder="Search Profile"
          value="{{profileCtrl.profileManager.profile.firstname + ' ' + profileCtrl.profileManager.profile.lastname}}">
  </form>
  <div class="gb-action pull-right">
   <a class="btn btn-xs btn-link hidden-lg hidden-md hidden-sm vidible-xs">
    <span class="fa-stack fa-lg">
     <i class="fa fa-circle fa-stack-2x"></i>
     <i class="fa fa-search fa-stack-1x fa-inverse"></i>
    </span>
   </a>
   <div class="hidden-sm hidden-xs btn-group">
    <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-question fa-stack-1x fa-inverse"></i>
     </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right text-left">
     <li><a href="#">About</a></li>
    </ul>
   </div>
   <div class="btn-group">
    <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-user fa-stack-1x fa-inverse"></i>
     </span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right text-left">
     <li><a href="#">{{$root.user.firstname + " " + $root.user.lastname}}</a></li>
     <li role="separator" class="divider"></li>
     <li><a ng-click="appsCtrl.logout()">
       <i class="fa fa-power-off"></i> Log Out</a>
     </li>
    </ul>
   </div>
  </div>
 </div>

 <div class="gb-container gb-app-detail">
  <div id="gb-profile-left-pane" class="col-lg-3 col-md-4 col-sm-4 col-xs-2">
   <div class="gb-nav-strip gb-nav-strip-mini row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="gb-profile-pic">
      <img ui-sref="profile.overview" src="public/img/profile_pic/{{profileCtrl.profileManager.profile.avatar_url}}" class="" alt="">
      <div ui-sref="profile.overview" class="gb-profile-name">
       {{profileCtrl.profileManager.profile.firstname + ' ' + profileCtrl.profileManager.profile.lastname}}
      </div>
     </div>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref-active="active" ui-sref="profile.overview" class="gb-link row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer fa-user fa-stack-2x"></i>
         <i class="fa fa-inner fa-list fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         Overview
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref-active="active" ui-sref="profile.about" class="gb-link row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer fa-user fa-stack-2x"></i>
         <i class="fa fa-inner fa-info-circle fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         About
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="profile.discover.questions" class="gb-link row"
        ng-class="{
           active: ('profile.discover' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer fa-user fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-explore fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         Discover Me
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.swipes.swipe" class="gb-link row"
        ng-class="{
           active: ('apps.swipes' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-swipe fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         Swipe
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.questionnaires.questionnaire" class="gb-link row"
        ng-class="{
           active: ('apps.questionnaires' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-matcher fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         Matcher
        </span>
       </p>
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <span class="visible-lg visible-md visible-sm hidden-xs">
      <i class="fa icon-gb-discover"></i> MY APPLICATION
     </span>
    </h6>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.mentorships.all" class="gb-link row"
        ng-class="{
           active: ('apps.mentorships' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-mentorship fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Mentorships
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.teachs.teach" class="gb-link row"
        ng-class="{
           active: ('apps.teachs' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-teach fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Teachings
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.advises.advise" class="gb-link row"
        ng-class="{
           active: ('apps.advises' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-advise fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Advise
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.collaborations.collaboration" class="gb-link row"
        ng-class="{
           active: ('apps.collaborations' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-collaboration fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Collaborations
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.goals.goal" class="gb-link row"
        ng-class="{
           active: ('apps.goals' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-goal fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Goals
        </span>
       </p>
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <span class="visible-lg visible-md visible-sm hidden-xs">
      <i class="fa icon-gb-organize"></i> ORGANIZE
     </span>
    </h6>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.journal.all" class="gb-link row"
        ng-class="{
           active: ('apps.journal' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-journal fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Journals
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.journal.all" class="gb-link row"
        ng-class="{
           active: ('apps.journal' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-project fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Projects
        </span>
       </p>
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.journal.all" class="gb-link row"
        ng-class="{
           active: ('apps.journal' | includedByState)
          }">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
       <p class="gb-ellipsis gb-title">
        <span class="gb-icon fa-stack fa-lg pull-left">
         <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
         <i class="fa fa-inner icon-gb-group fa-stack-1x fa-inverse"></i>
        </span>
        <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
         My Groups
        </span>
       </p>
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <span class="visible-lg visible-md visible-sm hidden-xs">
      <i class="fa icon-tools"></i> TOOLS
     </span>
    </h6>
   </div>
  </div>
  <div id="gb-profile-right-pane" class="col-lg-9 col-md-8 col-sm-8 col-xs-10">
   <div class="gb-cover">
    <div ng-include="'public/modules/profile/views/components/profile/profile-cover.html'"></div>
   </div>
   <div class="gb-profile-row">
    <img src="public/img/profile_pic/{{profileCtrl.profileManager.profile.avatar_url}}" class="gb-profile-pic" alt="">
    <div class="gb-row-content">
     <a class="gb-ellipsis">
      {{profileCtrl.profileManager.profile.firstname + ' ' + profileCtrl.profileManager.profile.lastname}}
     </a>
    </div>
   </div>
   <div ui-view="content" class="row gb-padding-medium"></div>
   <div class="gb-dummy-height row"></div>
  </div>
 </div>
</div>