<div class="gb-card-1 row">
 <div class="gb-box-body gb-shadow-1">
  <div class="gb-image">
   <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
        ng-src="public/img/explorer/{{ ::explorer.explorer_picture_url}}"
        class="gb-heading-pic" alt="">
  </div>
  <div class="gb-box-content">
   <div class="gb-description row">
    <p class="gb-ellipsis">
     <a data-ui-sref="apps.explorerItem.overview({explorerId: explorer.id})" class="">
      {{::explorer.title}}
     </a>
     <span>
      {{::explorer.description}}
     </span>
    </p>
   </div>
   <div class="gb-heading row">
    <div class="gb-title col-lg-9 col-md-9 col-sm-8 col-xs-8">
     <p class="gb-ellipsis">
      <span ng-if="explorer.template_type_id === 100001">
       Template For - </span>
      {{explorer.app_type.name}} - {{::explorer.level.name}}
     </p>
    </div>
   </div>
   <div class="gb-footer row gb-padding-none">
    <div class="gb-name-badge-1 row">
     <a class="gb-name gb-ellipsis"
        data-ui-sref="apps.profile.overview({profileId: explorer.creator_id})">
      <i>by:</i>
      {{ ::explorer.creator.firstname}}
      {{ ::explorer.creator.lastname}}
     </a>
     <div class="gb-image">
      <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
           ng-src="public/img/profile_pic/{{ ::explorer.creator.avatar_url}}"
           class="gb-heading-pic" alt="">
     </div>
    </div>
    <div class="gb-summary-bar row btn-group">
     <a class="btn btn-xs btn-link">
      <i class="gb-icon fa fa-list-ol"></i> {{::explorer.stats.subexplorers_count}}
     </a>
     <a class="btn btn-xs btn-link">
      <i class="gb-icon fa icon-gb-apply"></i> {{::explorer.stats.applications_count}}
     </a>
     <a class="btn btn-xs btn-link">
      <i class="gb-icon fa icon-users"></i> {{::explorer.stats.contributions_count}}
     </a>
    </div>
   </div>
  </div>
 </div>
</div>