<div class="gb-card-2 gb-shadow-3">
 <div class="gb-image gb-app-type-{{::explorer.app_type.id}}"
      ng-style="style">
 </div>
 <div class="gb-box-content">
  <div class="gb-title row">
   <h3 class="gb-ellipsis">
    {{::explorer.title}}
   </h3>
  </div>
  <div class="gb-description row">
   <p class="gb-ellipsis">
    <span ng-if="explorer.template_type_id === 100001">
     Template For - </span>
    {{explorer.app_type.title}} - {{::explorer.level.title}}
   </p>
  </div>
 </div>
 <div class="gb-box-footer row">
  <div ng-if="false" class="gb-name-badge-1 row">
   <a class="gb-name gb-ellipsis"
      data-ui-sref="apps.profile.overview({profileId: explorer.creator_id})">
    <i>by:</i>
    {{ ::explorer.creator.firstname}}
    {{ ::explorer.creator.lastname}}
   </a>
   <div class="gb-image">
    <img data-ui-sref="apps.explorer.overview({explorerId: explorer.id})"
         ng-src="public/img/profile_pic/{{ ::explorer.creator.avatar_url}}"
         class="gb-heading-pic" alt="">
   </div>
  </div>
  <md-button data-ui-sref="apps.explorerItem.explore({explorerId: explorer.id})" class="gb-color-primary">
   EXPLORE
  </md-button>
  <md-button data-ui-sref="apps.explorerItem.explore({explorerId: explorer.id})" class="pull-right gb-color-primary">
   <i class="fa fa-star-o"></i>
  </md-button>
 </div>
 <div class="gb-box-subcontent">
  <div class="gb-description row">
   <p class="">
    <span>
     {{::explorer.description}}
    </span>
   </p>
   <p ng-if="!explorer.description" class="gb-no-info">
    No description to show
   </p>
  </div>
  <div ng-if="false" class="gb-summary-bar row">
   <div class="gb-stat col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <i class="gb-icon fa fa-list-ol"></i>
    <p class="gb-number gb-ellipsis">
     {{::explorer.stats.subexplorers_count}}
    </p>
   </div>
   <div class="gb-stat col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
    <i class="gb-icon fa icon-gb-apply"></i>
    <p class="gb-number gb-ellipsis">
     {{::explorer.stats.applications_count}}
    </p>
   </div>
   <div class="gb-stat col-lg-4 col-md-4 col-sm-4 col-xs-4">
    <i class="gb-icon fa icon-users"></i>
    <p class="gb-number gb-ellipsis">
     {{::explorer.stats.contributions_count}}
    </p>
   </div>
  </div>
 </div>
</div>