<div class="modal-body gb-modal-body"
     hm-swipe-left="menuModalCtrl.close()">
 <div class="gb-menu-nav" role="navigation">
  <div class="gb-header">
   <a class="gb-logo gb-ellipsis" ui-sref="apps.explores.all">
    <span class="fa-stack fa-lg pull-left">
     <i class="fa fa-outer fa-square-o fa-stack-2x"></i>
     <i class="fa fa-inner fa-wrench fa-stack-1x"></i>
    </span>
    <div class="">
     <strong>SKILL</strong>SECTION<br>
    </div>
   </a>
  </div>
  <a ng-click="menuModalCtrl.close()" class="gb-close btn btn-primary">
   X
  </a>
  <div class="gb-body">
   <div class="gb-nav-strip gb-nav-strip-mini row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="profile.overview({profileId: $root.user.id})" ng-click="menuModalCtrl.close()" class="gb-link row">
      <img src="public/img/profile_pic/{{$root.user.avatar_url}}" class="gb-image-icon" alt="">
      <div class="gb-title gb-ellipsis gb-padding-none">
       {{$root.user.firstname + " " + $root.user.lastname}}
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.community.users" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.community' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-community fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       COMMUNITY
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <i class="fa icon-gb-discover"></i> DISCOVER
    </h6>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.explores.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.explores' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-explore fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       EXPLORE
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.swipes.swipe" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.swipes' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-swipe fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       SWIPE
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.questionnaires.questionnaire" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.questionnaires' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-matcher fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       MATCHER
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <i class="fa icon-gb-apply"></i> APPLICATION
    </h6>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.mentorships.all"  ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.mentorships' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-mentorship fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       MENTORSHIP
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.teachs.all"  ng-click="menuModalCtrl.close()"class="gb-link row"
        ng-class="{
          active: ('apps.teachs' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-teach fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       TEACH
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.advices.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.advices' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-advice fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       ADVISE
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.collaborations.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.collaborations' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-collaboration fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       COLLABORATION
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.goals.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.goals' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-goal fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       GOAL
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <i class="fa icon-gb-organize"></i> ORGANIZE
    </h6>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.journals.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.journal' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-journal fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       JOURNAL
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.projects.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.projects' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-project fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       PROJECTS
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.groups.all" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.group' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
       <i class="fa fa-inner icon-gb-group fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       GROUPS
      </div>
     </a>
    </div>
   </div>
   <div class="gb-nav-strip row">
    <h6 class="gb-heading gb-ellipsis">
     <i class="fa icon-tools"></i> TOOLS
    </h6>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.todos.all"  ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.todo' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
       <i class="fa fa-inner fa-check-circle-o fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       TODOS
      </div>
     </a>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <a ui-sref="apps.calendar" ng-click="menuModalCtrl.close()" class="gb-link row"
        ng-class="{
          active: ('apps.calendar' | includedByState)
         }">
      <div class="gb-icon fa-stack fa-lg">
       <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
       <i class="fa fa-inner fa-calendar fa-stack-1x fa-inverse"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       CALENDAR
      </div>
     </a>
    </div>
   </div>
  </div>
 </div>
</div>
<!-- ------------------------------- MODALS --------------------------->
