<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12" id="gb-left-nav-3" role="navigation">
 <div class="gb-header navbar-header">
  <a class="gb-logo gb-ellipsis" href="app/skill">
   <span class="">
    <i class="gb-padding-thin pull-left gb-close-middle-nav fa fa-bars hidden-lg hidden-md hidden-sm visible-xs">
    </i>
    <strong>SKILL</strong>SECTION
   </span>
   <small class="">BETA</small>
  </a>
 </div>
 <div class="gb-body">
  <div class="gb-nav-strip gb-nav-strip-mini row">
   <div class="">
    <a class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="" class="gb-icon" alt="">

      </p>
      <div class="gb-description">
       My Profile
      </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/community_icon_0.png" class="gb-icon" alt="">
       Community
      </p>
      <div class="gb-description">
       My Connections
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    PRIMARY APPS
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.skills" class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_skill.png" class="gb-icon" alt="">
       Skills
      </p>
      <div class="gb-description">
       Do something with skills you have gained. Improve
       your current skills or just learn a new skill
      </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_skill.png" class="gb-icon" alt="">
       Goals
      </p>
      <div class="gb-description">
       Set your goals, Encourage someone to achieve their goals or get encouraged to keep track of your goals
      </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_skill.png" class="gb-icon" alt="">
       Promises
      </p>
      <div class="gb-description">
       Keep a promise, a promise to achieve s goal, a promise to quit a bad habit etc </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_hobby.png" class="gb-icon" alt="">
       Hobbies
      </p>
      <div class="gb-description">
       Make your skills into your hobbies. Connect with others and see how others are doing with their hobbies
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    SECONDARY APPS
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_mentorship.png" class="gb-icon" alt="">
       Mentorship
      </p>
      <div class="gb-description">
       Mentor someone or find a mentor. Whether it's peer/friendly, formal or supervisory </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_hobby.png" class="gb-icon" alt="">
       Advice
      </p>
      <div class="gb-description">
       Are you good at giving an advice? Are you seeking advice?
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-hide hidden-xs gb-heading gb-ellipsis">
    3<span class="gb-superscript">rd</span> APPS
   </h6>
   <h6 class="hidden-xs gb-heading gb-ellipsis">
    TERTIARY APPS
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_hobby.png" class="gb-icon" alt="">
       Projects
      </p>
      <div class="gb-description">
      </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_hobby.png" class="gb-icon" alt="">
       Groups
      </p>
      <div class="gb-description">
      </div>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a class="gb-link gb-app-tab row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/icons/apps/gb_hobby.png" class="gb-icon" alt="">
       Journal
      </p>
      <div class="gb-description">
      </div>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-dummy-height"></div>
 </div>
</div>
<div ui-view="apps" class="col-lg-offset-2 col-md-offset-3 col-sm-offset-4 col-xs-offset-0 col-lg-10 col-md-9 col-sm-8 col-xs-12">
</div>
<!-- ------------------------------- MODALS --------------------------->
