<div class="gb-top-nav-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="row">
  <div class="gb-header col-lg-4 col-md-4 col-sm-4 col-xs-2">
   <a ng-click="appsCtrl.openMenuModal('left')"
      class="gb-menu-bars btn btn-link hidden-lg hidden-md hidden-sm visible-xs">
    <i class="fa fa-bars"></i>
   </a>
   <a class="gb-logo" ui-sref="apps.explores.all">
    <i class="gb-logo-icon fa icon-gb-logo"></i>
    <div class="pull-left visible-lg visible-md hidden-sm hidden-xs">
     <strong>SKILL</strong>SECTION<br>
    </div>
   </a>
   <div class="gb-app-name visible-lg visible-md visible-sm hidden-xs">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{$root.appName}} <span class="caret"></span>
    </button>
    <button ng-click="$root.openAddExploreModal()" type="button" class="btn btn-default">
     <i class="fa fa-plus"></i>
    </button>
    <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">Separated link</a></li>
    </ul>
   </div>
  </div>
  <form class="gb-search col-lg-4 col-md-6 col-sm-6 col-xs-8">
   <div class="form-group gb-input-form-group">
    <input type="text" ng-model="$root.searchKeyword" placeholder="Search SkillSection" uib-typeahead="state as state for state in appsCtrl.getSearchSuggestions($viewValue)"
           typeahead-wait-ms=200 class="form-control" typeahead-show-hint="true" typeahead-min-length="0">
    <a class="gb-clear-btn btn btn-link"
       ng-click="main.clear($event, $select)">
     <i class="fa fa-times"></i>
    </a>
   </div>
   <div class="gb-input-btn-group btn-group">
    <button ng-click="appsCtrl.search()" type="button" class="btn btn-primary">
     <i class="fa fa-search"></i>
    </button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">Separated link</a></li>
    </ul>
   </div>
  </form>
  <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2">
   <div class="gb-action pull-right">
    <div class="btn-group">
     <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="gb-menu-icon fa fa-user"></i>
     </a>
     <ul class="dropdown-menu dropdown-menu-right text-left">
      <li><a href="#">{{$root.user.firstname + " " + $root.user.lastname}}</a></li>
      <li role="separator" class="divider"></li>
      <li><a ng-click="appsCtrl.logout()">
        <i class="fa fa-power-off"></i> Log Out</a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-3 hidden-xs" id="gb-left-nav-3" role="navigation">
 <div class="gb-header">
  <div class="">
   <a ui-sref="profile.overview({profileId: $root.user.id})" class="gb-link row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <p class="gb-ellipsis gb-title">
      <img src="public/img/profile_pic/{{$root.user.avatar_url}}" class="gb-image-icon" alt="">
      <span class="gb-content">
       {{$root.user.firstname + " " + $root.user.lastname}}
      </span>
     </p>
    </div>
   </a>
  </div>
 </div>
 <div class="gb-body">
  <div class="gb-nav-strip gb-nav-strip-mini row">

   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.community.users" class="gb-link row"
       ng-class="{
          active: ('apps.community' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-community fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Community
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-gb-discover"></i> DISCOVER
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.explores.all" class="gb-link row"
       ng-class="{
          active: ('apps.explores' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-explore fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Explore
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.swipes.swipe" class="gb-link row"
       ng-class="{
          active: ('apps.swipes' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-swipe fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Swipe
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.questionnaires.questionnaire" class="gb-link row"
       ng-class="{
          active: ('apps.questionnaires' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-discover fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-matcher fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Matcher
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-gb-discover"></i> APPLICATION
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.mentorships.all" class="gb-link row"
       ng-class="{
          active: ('apps.mentorships' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-mentorship fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Mentorship
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.teachs.all" class="gb-link row"
       ng-class="{
          active: ('apps.teachs' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-teach fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Teach
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.advices.all" class="gb-link row"
       ng-class="{
          active: ('apps.advices' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-advice fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Advice
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.collaborations.all" class="gb-link row"
       ng-class="{
          active: ('apps.collaborations' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-collaboration fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Collaboration
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.goals.all" class="gb-link row"
       ng-class="{
          active: ('apps.goals' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apply fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-goal fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Goals
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-gb-organize"></i> ORGANIZE
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.journals.all" class="gb-link row"
       ng-class="{
          active: ('apps.journal' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-journal fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Journal
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.projects.all" class="gb-link row"
       ng-class="{
          active: ('apps.projects' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-project fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Project
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.groups.all" class="gb-link row"
       ng-class="{
          active: ('apps.group' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-organize fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-group fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content">
        Groups
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     <i class="fa icon-tools"></i> TOOLS
    </span>
   </h6>
  </div>
 </div>
</div>
<div ui-view="apps" class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-0 col-lg-10 col-md-10 col-sm-9 col-xs-12">
</div>
<!-- ------------------------------- MODALS --------------------------->
<script type="text/ng-template" id="menu-modal.html">
 <div ng-include="'public/modules/app/views/modals/menu-modal.html'"></div>
</script>

<script type="text/ng-template" id="customTemplate.html">
 <a>
 <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
 <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
 {{match|json}}
 </a>
</script>

<script type="text/ng-template" id="customPopupTemplate.html">
 <div class="custom-popup-wrapper"
 ng-style="{top: position().top+'px', left: position().left+'px'}"
 style="display: block;"
 ng-show="isOpen() && !moveInProgress"
 aria-hidden="{{!isOpen()}}">
 <p class="message">select location from drop down.</p>

 <ul class="dropdown-menu" role="listbox">
 <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
 ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
 <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
 </li>
 </ul>
 </div>
</script>
