<div class="col-lg-2 col-md-2 col-sm-3 col-xs-2" id="gb-left-nav-3" role="navigation">
 <div class="gb-header">
  <a class="gb-logo gb-ellipsis" href="app/skill">
   <span class="fa-stack fa-lg pull-left">
    <i class="fa fa-square-o fa-stack-2x"></i>
    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
   </span>
   <div class="visible-lg visible-md visible-sm hidden-xs">
    <strong>SKILL</strong>SECTION<br>
   </div>
  </a>
 </div>
 <div class="gb-body">
  <div class="gb-nav-strip gb-nav-strip-mini row">
   <div class="">
    <a ui-sref-active="active" class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p class="gb-ellipsis gb-title">
       <img src="public/img/profile_pic/{{$root.user.avatar_url}}" class="gb-image-icon" alt="">
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        {{$root.user.firstname + " " + $root.user.lastname}}
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref-active="active" class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-users fa-2x"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Community
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     PRIMARY APPS
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.skills.all" class="gb-link row"
       ng-class="{
          active: ('apps.skills' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-skill fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Skills
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.goals.all" class="gb-link row"
       ng-class="{
          active: ('apps.goals' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-goal fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Goals
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.promises.all" class="gb-link row"
       ng-class="{
          active: ('apps.promises' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-promise fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Promises
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.hobbys.all" class="gb-link row"
       ng-class="{
          active: ('apps.hobbys' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-hobby fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Hobbies
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     SECONDARY APPS
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.mentorships.all" class="gb-link row"
       ng-class="{
          active: ('apps.mentorships' | includedByState)
         }">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-mentorship fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Mentorship
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref="apps.advices.all" class="gb-link row"
       ng-class="{
          active: ('apps.advices' | includedByState)}">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-advice fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Advice
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-nav-strip row">
   <h6 class="gb-hide hidden-xs gb-heading gb-ellipsis">
    3<span class="gb-superscript">rd</span> APPS
   </h6>
   <h6 class="hidden-xs gb-heading gb-ellipsis">
    <span class="visible-lg visible-md visible-sm hidden-xs">
     TERTIARY APPS
    </span>
   </h6>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref-active="active" class="gb-link row"
       ng-class="{
          active: ('apps.projects' | includedByState)}">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-tree fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Projects
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref-active="active"  class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner fa-users fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Groups
       </span>
      </p>
     </div>
    </a>
   </div>
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <a ui-sref-active="active" class="gb-link row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      <p class="gb-ellipsis gb-title">
       <span class="gb-icon fa-stack fa-lg pull-left">
        <i class="fa fa-outer icon-gb-apps fa-stack-2x"></i>
        <i class="fa fa-inner icon-gb-journal fa-stack-1x fa-inverse"></i>
       </span>
       <span class="gb-content visible-lg visible-md visible-sm hidden-xs">
        Journal
       </span>
      </p>
     </div>
    </a>
   </div>
  </div>
  <div class="gb-dummy-height"></div>
 </div>
</div>
<div ui-view="apps" id="gb-middle-nav" class="col-lg-offset-2 col-md-offset-2 col-sm-offset-3 col-xs-offset-2 col-lg-10 col-md-10 col-sm-9 col-xs-10">
</div>
<!-- ------------------------------- MODALS --------------------------->
