<div class="modal-body gb-modal-body">
 <div class="gb-menu-nav" role="navigation">
  <div class="gb-header">
   <a class="gb-logo gb-ellipsis" ui-sref="apps.explorer.all">
    <span class="fa-stack fa-lg pull-left">
     <i class="fa fa-outer fa-square-o fa-stack-2x"></i>
     <i class="fa fa-inner fa-wrench fa-stack-1x"></i>
    </span>
    <div class="">
     <strong>SKILL</strong>SECTION<br>
    </div>
   </a>
  </div>
  <a ng-click="menuModalCtrl.close()" class="gb-close btn btn-primary">
   X
  </a>
 </div>
</div>
<!-- ------------------------------- MODALS --------------------------->
