<div class="gb-top-nav-1 col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="row gb-navbar-container">
  <div class="gb-header col-lg-5 col-md-4 col-sm-4 col-xs-1">
   <a ng-click="$root.openMenuModal('left')"
      class="gb-menu-bars btn btn-link hidden-lg hidden-md hidden-sm visible-xs">
    <i class="fa fa-bars"></i>
   </a>
   <div id="gb-nav-btns-1" class="row visible-lg visible-md visible-sm hidden-xs">
    <md-button ng-if="false" ui-sref="apps.home" class="gb-link"
               ng-class="{
                   active: ('apps.home' | includedByState)
                  }">
     <div class="gb-icon">
      <i class="fa icon-home"></i>
     </div>
    </md-button>
    <md-button ui-sref="apps.explorer" class="gb-link"
               ng-class="{
                   active: ('apps.explorer' | includedByState)
                  }">
     <div class="gb-icon">
      <i class="fa icon-gb-explorer"></i>
     </div>
    </md-button>
    <md-button ui-sref="apps.swipes.swipe" class="gb-link"
               ng-class="{
                   active: ('apps.swipes' | includedByState)
                  }">
     <div class="gb-icon">
      <i class="fa icon-gb-swipe"></i>
     </div>
    </md-button>
    <md-button ui-sref="apps.questionnaires.questionnaire" class="gb-link"
               ng-class="{
                   active: ('apps.questionnaires' | includedByState)
                  }">
     <div class="gb-icon">
      <i class="fa icon-gb-matcher"></i>
     </div>
    </md-button>
   </div>
  </div>
  <div class="gb-header col-lg-2 col-md-4 col-sm-4 col-xs-6">
   <a ng-click="$root.openMenuModal('left')"
      class="gb-menu-bars btn btn-link hidden-lg hidden-md hidden-sm hidden-xs">
    <i class="fa fa-bars"></i>
   </a>
   <a class="gb-logo text-center col-lg-12 col-md-12 col-sm-12 col-xs-12" ui-sref="apps.explorer">
    <i class="gb-logo-icon fa icon-gb-logo"></i>
    <div class="gb-logo-name" >
     <p class="visible-lg visible-md visible-sm visible-xs">
      <strong>SKILL</strong>SECTION
     </p>
    </div>
   </a>
  </div>
  <div class="gb-action col-lg-5 col-md-4 col-sm-4 col-xs-5">
   <div class="pull-right">
    <md-button type="button" class="gb-link"
               ng-click="$root.openSearchModal()">
     <i class="gb-menu-icon fa fa-search"></i>
    </md-button>
    <div class="btn-group">
     <md-button type="button" class="gb-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="gb-menu-icon fa fa-bell"></i>
     </md-button>
     <div class="dropdown-menu dropdown-menu-right text-center">
      <div class="gb-body-row-1">
       <div class="gb-no-info">
        No notifications to show
       </div>
      </div>
     </div>
    </div>
    <div class="btn-group">
     <md-button type="button" class="gb-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="gb-icon-image">
       <img src="public/img/profile_pic/{{$root.user.avatar_url}}" class="gb-profile-img" alt="">
      </div>
     </md-button>
     <ul class="dropdown-menu dropdown-menu-right text-left">
      <li>
       <a class="gb-ellipsis" ui-sref="apps.profile.overview({profileId: $root.user.id})">
        {{$root.user.firstname + " " + $root.user.lastname}}
       </a>
      </li>
      <li role="separator" class="divider"></li>
      <li>
       <a ng-click="appsCtrl.logout()">
        <i class="fa fa-power-off"></i> Log Out
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>