<div dr-sticky class="col-lg-12 col-md-12 col-sm-12 hidden-xs" id="gb-top-nav-3" role="navigation">
 <div class="container">
  <div class="gb-body row">
   <md-button ui-sref="profile.overview({profileId: $root.user.id})" class="gb-link col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div class="gb-icon">
     <img src="public/img/profile_pic/{{$root.user.avatar_url}}" class="gb-image-icon" alt="">
    </div>
    <div class="gb-title gb-ellipsis gb-padding-none">
     {{$root.user.firstname + " " + $root.user.lastname}}
    </div>
   </md-button>
   <md-button ui-sref="apps.community.users" class="gb-link col-lg-2 col-md-2 col-sm-2 col-xs-2"
              ng-class="{
                 active: ('apps.community'| includedByState)
                }">
    <div class="gb-icon">
     <i class="fa icon-gb-community"></i>
    </div>
    <div class="gb-title gb-ellipsis">
     COMMUNITY
    </div>
   </md-button>
   <div class="btn-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" ui-sref="apps.explorer.skill">
     <div class="gb-icon">
      <i class="fa icon-gb-discover"></i>
     </div>
     <div class="gb-title gb-ellipsis">
      DISCOVER
     </div>
    </md-button>
    <div class="dropdown-menu dropdown-menu-right">
     <md-button ui-sref="apps.explorer.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                data-ripple-color="#DDD"
                ng-class="{
                   active: ('apps.explorer' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-explorer"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       EXPLORE
      </div>
     </md-button>
     <md-button ui-sref="apps.swipes.swipe" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.swipes' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-swipe"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       SWIPE
      </div>
     </md-button>
     <md-button ui-sref="apps.questionnaires.questionnaire" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.questionnaires' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-matcher"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       MATCHER
      </div>
     </md-button>
    </div>
   </div>
   <div class="btn-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" ui-sref="apps.explorer.skill">
     <div class="gb-icon">
      <i class="fa icon-gb-apply"></i>
     </div>
     <div class="gb-title gb-ellipsis">
      APPLICATION
     </div>
    </md-button>
    <div class="dropdown-menu dropdown-menu-right">
     <md-button ui-sref="apps.mentorships.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.mentorships' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-mentorships"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       MENTORSHIP
      </div>
     </md-button>
     <md-button ui-sref="apps.teachs.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.teachs' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-teach"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       TEACH
      </div>
     </md-button>
     <md-button ui-sref="apps.advices.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.advices' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-advices"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       ADVISE
      </div>
     </md-button>
     <md-button ui-sref="apps.collaborations.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.collaborations' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-collaborations"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       COLLABORATION
      </div>
     </md-button>
     <md-button ui-sref="apps.goals.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.goals' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-goals"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       GOAL
      </div>
     </md-button>
     <md-button ui-sref="apps.journals.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.journal' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-journals"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       JOURNAL
      </div>
     </md-button>
     <md-button ui-sref="apps.projects.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.projects' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-project"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       PROJECTS
      </div>
     </md-button>
     <md-button ui-sref="apps.groups.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.group' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-groups"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       GROUPS
      </div>
     </md-button>
     <md-button ui-sref="apps.todos.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.todo' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa fa-check-circle-o"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       TODOS
      </div>
     </md-button>
     <md-button ui-sref="apps.calendar" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.calendar' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa fa-calendar"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       CALENDAR
      </div>
     </md-button>
    </div>
   </div>
   <div class="btn-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" ui-sref="apps.explorer.skill">
     <div class="gb-icon">
      <i class="fa icon-gb-organize"></i>
     </div>
     <div class="gb-title gb-ellipsis">
      ORGANIZE
     </div>
    </md-button>
    <div class="dropdown-menu dropdown-menu-right">
     <md-button ui-sref="apps.projects.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.projects' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-project"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       PROJECTS
      </div>
     </md-button>
     <md-button ui-sref="apps.groups.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.group' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-groups"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       GROUPS
      </div>
     </md-button>
    </div>
   </div>
   <div class="btn-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" ui-sref="apps.explorer.skill">
     <div class="gb-icon">
      <i class="fa icon-tools2"></i>
     </div>
     <div class="gb-title gb-ellipsis">
      TOOLS
     </div>
    </md-button>
    <div class="dropdown-menu dropdown-menu-right">
     <md-button ui-sref="apps.journals.all" class="gb-link hidden-lg col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.journal' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa icon-gb-journals"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       JOURNAL
      </div>
     </md-button>
     <md-button ui-sref="apps.todos.all" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.todo' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa fa-check-circle-o"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       TODOS
      </div>
     </md-button>
     <md-button ui-sref="apps.calendar" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                ng-class="{
                   active: ('apps.calendar' | includedByState)
                  }">
      <div class="gb-icon">
       <i class="fa fa-calendar"></i>
      </div>
      <div class="gb-title gb-ellipsis">
       CALENDAR
      </div>
     </md-button>
    </div>
   </div>
  </div>
 </div>
</div>
