<div class="gb-top-nav-5 col-lg-12 col-md-12 col-sm-12 col-xs-12" role="navigation">
 <div ng-if="false" class="gb-cover-overlap"></div>
 <div ng-if="false" class="gb-cover"></div>
 <div class="gb-heading-row-1 row">
  <div class="gb-heading-icon gb-heading-image">
   <img ng-src="public/img/profile_pic/{{::profileCtrl.profileSrv.profile.avatar_url}}"
        class="" alt="">
  </div>
  <div class="gb-title">
   <h1 class="gb-ellipsis">
    <a data-ui-sref-active="active"
       ui-sref="apps.profile.overview({profileId: profileCtrl.profileSrv.profile.id})">
     {{profileCtrl.profileSrv.profile.firstname + " " + profileCtrl.profileSrv.profile.lastname}}
    </a>
   </h1>
   <p class="gb-ellipsis">
    <a class="gb-description"
       ui-sref="apps.profile.overview({profileId: explorerCtrl.explorerSrv.explorer.creator.id})">
     12<i class="fa icon-gb-wrenches"></i> wrenches
    </a>
   </p>
  </div>
  <div class="btn-group pull-right">
   <div class="row">
    <div class="nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="row">
      <md-button ng-if="false" data-ui-sref-active="active" ui-sref="apps.explorerItem.explore"
                 class="gb-link">
       <div class="gb-icon">
        <i class="fa icon-gb-discover"></i>
       </div>
       <div class="gb-title gb-ellipsis">
        EXPLORE
       </div>
      </md-button>
      <md-button ng-if="false" data-ui-sref-active="active" ui-sref="apps.explorerItem.discussion"
                 class="gb-link">
       <div class="gb-icon">
        <i class="fa icon-chat2"></i>
       </div>
       <div class="gb-title gb-ellipsis">
        DISCUSSION
       </div>
      </md-button>
      <md-button ng-if="false" data-ui-sref-active="active" ui-sref="apps.explorerItem.contribution"
                 class="gb-link">
       <div class="gb-icon">
        <i class="fa icon-gb-community"></i>
       </div>
       <div class="gb-title gb-ellipsis">
        CONTRIBUTION
       </div>
      </md-button>

      <div class="btn-group pull-right">
       <md-button class="gb-ellipsis dropdown-toggle gb-link col-lg-12 col-md-12 col-sm-12 col-xs-12" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
        <div class="gb-icon">
         <i class="fa fa-cogs"></i>
        </div>
       </md-button>
       <div class="dropdown-menu dropdown-menu-right">
        <md-button ui-sref="apps.explorer" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                   data-ripple-color="#DDD"
                   ng-class="{
                      active: ('apps.explorer' | includedByState)
                     }">
         <div class="gb-icon">
          <i class="fa icon-gb-explorer"></i>
         </div>
         <div class="gb-title gb-ellipsis">
          EXPLORE
         </div>
        </md-button>
        <md-button ui-sref="apps.swipes.swipe" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                   ng-class="{
                      active: ('apps.swipes' | includedByState)
                     }">
         <div class="gb-icon">
          <i class="fa icon-gb-swipe"></i>
         </div>
         <div class="gb-title gb-ellipsis">
          SWIPE
         </div>
        </md-button>
        <md-button ui-sref="apps.questionnaires.questionnaire" class="gb-link col-lg-4 col-md-4 col-sm-4 col-xs-4"
                   ng-class="{
                      active: ('apps.questionnaires' | includedByState)
                     }">
         <div class="gb-icon">
          <i class="fa icon-gb-matcher"></i>
         </div>
         <div class="gb-title gb-ellipsis">
          MATCHER
         </div>
        </md-button>
       </div>
      </div>
      <md-button ng-if="false" data-ui-sref-active="active" ui-sref="apps.explorerItem.manage"
                 class="gb-link pull-right">
       <div class="gb-icon">
        <i class="fa fa-cogs"></i>
       </div>
       <div class="gb-title gb-ellipsis">
        MANAGE
       </div>
      </md-button>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>