<div id="gb-welcome">
 <header id="gb-intro-section" class="" layout="column" layout-align="start center" flex>

  <div class="gb-horizontal-scroll gb-overview-rooms-scroll" layout="row">
   <md-button class="gb-left-scroll"
              ng-click="$root.scrollHorizontal('#gb-overview-rooms', -400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-left"></md-icon>
   </md-button>
   <div id="gb-overview-rooms" class="flex-scrollable only-x"
        layout="row" layout-align="start" ms-scroll flex layout-nowrap>

    <ms-widget class="gb-window-bg-1" layout="column">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.explorer.home" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon green-600-fg" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa icon-gb-explorer"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         Explorer
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget class="gb-window-bg-1" layout="column">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.swipe.home" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon blue-600-fg" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa icon-gb-swipe"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         Swipe
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget class="gb-window-bg-1" layout="column">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.matcher.home" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon teal-600-fg" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa icon-gb-matcher"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         Matcher
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget ng-repeat="app in $root.commonData.rooms" class="gb-window-bg-1" layout="column">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget ng-repeat="app in $root.commonData.services" class="gb-window-bg-1" layout="column">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget ng-repeat="app in $root.commonData.sections" class="gb-window-bg-1" layout="column">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <md-button class="gb-right-scroll"
              ng-click="$root.scrollHorizontal('#gb-overview-rooms', 400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-right"></md-icon>
   </md-button>
  </div>

  <div class="gb-intro-message" layout="column" layout-align="start center" flex>
   <h1 class="intro-heading" >
    House of Skills
   </h1>
   <h2 class="intro-lead-in">
    A new kind of skill exploration with applications like mentorship, advice, goal setting... all in one house
   </h2>
  </div>
  <div ng-if="false" class="gb-recommendation-scroll gb-horizontal-scroll gb-apps-scroll" layout="column" layout-align="start stretch">
   <md-button class="gb-left-scroll"
              ng-click="$root.scrollHorizontal('#gb-featured', -400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-left"></md-icon>
   </md-button>
   <div id="gb-featured" class="flex-scrollable only-x"
        layout="row" layout-align="start" ms-scroll flex layout-nowrap>
    <div class="" layout="column" layout-align="start" flex>
     <div class="" layout="row" layout-align="start" layout-nowrap>
      <div class="gb-card-component-house-p" ng-repeat="sample in vm.components.samples"
           layout="column" layout-align="start" layout-nowrap>
       <div class="gb-card-component-house md-whiteframe-1dp" layout="column"
            ui-sref="app.componentLinearView.home({id:component.id})">
        <div class="gb-card-cover" flex>
         <div ng-if="sample.component.component_picture_url && sample.component.component_picture_url !== 'default.png'"
              class="gb-cover-image">
          <img ng-src="src/assets/images/explorer/{{sample.component.component_picture_url}}">
         </div>
         <div ng-if="sample.component.component_placeholder_style"
              class="gb-cover-image"
              ng-style="sample.component.component_placeholder_style">
         </div>
        </div>
        <div class="gb-opacity-content" hide-xs></div>
        <div class="gb-card-profile">
         <div class="gb-box-content">
          <div class="gb-title">
           <a  class="gb-ellipsis" data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
            {{sample.component.creator.firstname + ' ' + sample.component.creator.lastname}}
           </a>
          </div>
          <div class="gb-subdescription">
           <p class="gb-ellipsis">
            {{sample.component.id}} ROOM
           </p>
          </div>
         </div>
         <div class="gb-image" ng-class="sample.component.creator.theme_color">
          <img ng-if="sample.component.creator.avatar_url !== 'gb-avatar.jpg'"
               src="src/assets/images/profile_pic/{{sample.component.creator.avatar_url}}"
               class="gb-heading-pic" alt="">
          {{sample.component.creator.firstname.substring(0, 1) + sample.component.creator.lastname.substring(0, 1)}}
         </div>
        </div>
        <div class="gb-card-content" flex>
         <div class="gb-title">
          <h3 class="gb-ellipsis">
           {{sample.component.title}}
          </h3>
         </div>
         <div class="gb-description">
          <p class="">
           <span>
            {{::sample.component.description}}
           </span>
          </p>
          <p ng-if="!sample.component.description" class="gb-no-info">
           No description to show
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <md-button class="gb-right-scroll"
              ng-click="$root.scrollHorizontal('#gb-featured', 400)"aria-label="Scroll Left">
    <md-icon md-font-icon="icon-chevron-right"></md-icon>
   </md-button>
  </div>
  <div class="gb-actions">
   <md-button ui-sref="app.explorer.home" class="md-raised md-primary">
    Find Your Room
   </md-button>
  </div>
  <div class="gb-intro-img" hide></div>
  <div hide class="gb-wall-h"></div>
 </header>
 <div class="gb-welcome-section-4" layout="column" layout-align="center center" flex>
  <div class="gb-door gb-door-top" hide>
   <div class="gb-title">Enter<br>Lobby</div>
   <i class="gb-icon fa icon-arrow-down"></i>
  </div>
  <div class="gb-wall-h"></div>
  <div class="gb-container mb-20" layout="column" layout-align="" flex>
   <div class="gb-card-heading-1" layout="column" layout-align="center center" flex>
    <div class="text-center">
     <h2 class="gb-title">
      Room Types: Apply your skills
     </h2>
     <p class="gb-description">
      Check out the applications of each room type and see what others are doing with their skills
     </p>
    </div>
   </div>
  </div>
  <div class="gb-container" layout="row" layout-align="start start">
   <div class="" layout="column" layout-align="start start" flex="33">
    <ms-widget ng-repeat="app in $root.commonData.rooms" class="p-5" layout="column" 	flex-xs="50" flex="50">
     <ms-widget-front class="gb-app-preview-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="" layout="column" layout-align="start stretch" flex="33">
    <ms-widget ng-repeat="app in $root.commonData.services" class="p-5" layout="column" 	flex-xs="50" flex="50">
     <ms-widget-front class="gb-app-preview-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
   <div class="" layout="column" layout-align="start stretch" flex="33">
    <ms-widget ng-repeat="app in $root.commonData.sections" class="p-5" layout="column" 	flex-xs="50" flex="50">
     <ms-widget-front class="gb-app-preview-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
  <div class="gb-container mb-20" layout="column" layout-align="" flex>
   <div class="gb-card-heading-1" layout="column" layout-align="center center" flex>
    <div class="text-center">
     <h2 class="gb-title">
      Room Services
     </h2>
     <p class="gb-description">
      Check out the applications of each room type and see what others are doing with their skills
     </p>
    </div>
   </div>
  </div>
  <div class="gb-container gb-house-tools" layout="column" layout-align="start stretch" flex>
   <div class="widget-group gb-section-widget-group"
        layout="row" layout-align="start start" layout-wrap flex>
    <ms-widget class="gb-app-widget" ng-repeat="app in $root.commonData.services" layout="column" 	flex-xs="33" flex="33">
     <ms-widget-front  layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Services
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
  <div class="gb-container mb-20" layout="column" layout-align="" flex>
   <div class="gb-card-heading-1" layout="column" layout-align="center center" flex>
    <div class="text-center">
     <h2 class="gb-title">
      Build your own
     </h2>
     <p class="gb-description">
      You can build your own rooms
     </p>
    </div>
   </div>
  </div>
  <div class="gb-container gb-house-tools" layout="column" layout-align="start stretch" flex>
   <div class="widget-group gb-section-widget-group"
        layout="row" layout-align="start" layout-wrap flex>
    <ms-widget ng-repeat="app in $root.commonData.sections" class="p-5" layout="column" 	flex-xs="33" flex="33">
     <ms-widget-front class="gb-app-widget" layout="row" layout-fill flex>
      <div ui-sref="app.apps.home({'app_name': '{{::app.title}}'})" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon {{ app.background_color + '-600-fg'}}" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa {{app.icon}}"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         {{app.title}}
        </div>
        <div class="gb-description">
         {{app.count}} Rooms
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
  <div class="gb-door">
   <div class="gb-title">Front<br>Desk</div>
   <i class="gb-icon fa icon-arrow-down"></i>
  </div>
  <div class="gb-wall-h"></div>
 </div>
 <div class="gb-staircase" flex>
 </div>
 <div class="gb-welcome-section-5" layout="column" layout-align="center center" flex>
  <div class="gb-container" layout="column" layout-align="" flex>
   <div class="gb-card-heading-1" layout="column" layout-align="center center" flex>
    <div class="text-center">
     <h2 class="gb-title">
      Rooms: Explore and discover skills
     </h2>
     <p class="gb-description">
      <strong>Find inspiration. Cheer someone</strong><br>
      Browse through the rooms
     </p>
    </div>
   </div>
  </div>
  <div class="gb-container" layout="column" layout-align="start center">
   <div ng-repeat="recommendation in vm.components.recommendations"
        class="gb-card-row mb-10"
        layout="column">
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <div class="gb-heading-title">
       <div class="ellipsis">
        {{::recommendation.title}}
       </div>
      </div>
     </div>
    </md-toolbar>
    <div class="gb-horizontal-scroll gb-apps-scroll" layout="row">
     <md-button class="gb-left-scroll"
                ng-click="$root.scrollHorizontal('#gb-featured-' + $index, -400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-left"></md-icon>
     </md-button>
     <div id="gb-featured-{{$index}}" class="board-list flex-scrollable only-x"
          layout="row" layout-align="start" ms-scroll flex layout-nowrap>
      <div class="gb-card-component-p" ng-repeat="recommendationComponent in recommendation.recommendationComponents"
           ui-sref="app.componentLinearView.home({id:recommendationComponent.component.id})"
           layout="column" layout-align="start" layout-nowrap>
       <div class="gb-card-component md-whiteframe-1dp"
            layout="column">
        <div class="gb-card-cover" flex>
         <div ng-if="recommendationComponent.component.component_picture_url && recommendationComponent.component.component_picture_url !== 'default.png'"
              class="gb-cover-image">
          <img ng-src="src/assets/images/explorer/{{recommendationComponent.component.component_picture_url}}">
         </div>
         <div ng-if="recommendationComponent.component.component_placeholder_style"
              class="gb-cover-image"
              ng-style="recommendationComponent.component.component_placeholder_style">
         </div>
        </div>
        <div class="gb-opacity-content" hide-xs></div>
        <div class="gb-card-profile">
         <div class="gb-box-content">
          <div class="gb-title">
           <a  class="gb-ellipsis" data-ui-sref="apps.profile.overview({profileId: explorerContribution.contribution.contributor_id})">
            {{recommendationComponent.component.creator.firstname + ' ' + recommendationComponent.component.creator.lastname}}
           </a>
          </div>
          <div class="gb-subdescription">
           <p class="gb-ellipsis">
            {{recommendationComponent.component.type.title}} ROOM
           </p>
          </div>
         </div>
         <div class="gb-image" ng-class="recommendationComponent.component.creator.theme_color">
          <img ng-if="recommendationComponent.component.creator.avatar_url !== 'gb-avatar.jpg'"
               src="src/assets/images/profile_pic/{{recommendationComponent.component.creator.avatar_url}}"
               class="gb-heading-pic" alt="">
          {{recommendationComponent.component.creator.firstname.substring(0, 1) + recommendationComponent.component.creator.lastname.substring(0, 1)}}
         </div>
        </div>
        <div class="gb-card-content" flex>
         <div class="gb-title">
          <h3 class="gb-ellipsis">
           {{recommendationComponent.component.title}}
          </h3>
         </div>
         <div class="gb-description">
          <p class="">
           <span>
            {{::recommendationComponent.component.description}}
           </span>
          </p>
          <p ng-if="!recommendationComponent.component.description" class="gb-no-info">
           No description to show
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
     <md-button class="gb-right-scroll"
                ng-click="$root.scrollHorizontal('#gb-featured-' + $index, 400)"aria-label="Scroll Left">
      <md-icon md-font-icon="icon-chevron-right"></md-icon>
     </md-button>
    </div>
   </div>
  </div>
  <div class="gb-door">
   <div class="gb-title">Room<br>Preview</div>
   <i class="gb-icon fa icon-arrow-down"></i>
  </div>
  <div class="gb-wall-h"></div>
 </div>
 <div class="gb-welcome-section-6" layout="column" layout-align="center center" flex>
  <div class="gb-container" layout="column" layout-align="" flex>
   <div class="gb-card-heading-1" layout="column" layout-align="center center" flex>
    <div class="text-center">
     <h2 class="gb-title">
      Skill Rooms
     </h2>
     <p class="gb-description">
      Track and manage skills.
     </p>
    </div>
   </div>
  </div>
  <div class="gb-container pl-10 pr-10" layout="column" layout-align="start center" flex>
   <img src="src/assets/images/landing-page/screenshot-3-min.jpg" alt="screenshot">
  </div>
 </div>
 <div class="gb-welcome-section-3" layout="column" layout-align="center center" flex>
  <div class="gb-door">
   <div class="gb-title">Enter<br>Garage</div>
   <i class="gb-icon fa icon-arrow-down"></i>
  </div>
  <div class="gb-container mb-20" layout="column" layout-align="" flex>
   <div class="gb-card-heading-1" layout="column" layout-align="center center" flex>
    <div class="text-center">
     <h2 class="gb-title">
      The Garage: Find tools to explore and discover skills
     </h2>
     <p class="gb-description">
      Take a tour of the house
     </p>
    </div>
   </div>
  </div>
  <div class="gb-container gb-house-tools" layout="column" layout-align="start stretch" flex>
   <div class="widget-group gb-section-widget-group"
        layout="row" layout-align="start" layout-wrap flex>
    <ms-widget class="p-5" layout="column" flex="33">
     <ms-widget-front class="gb-app-widget gb-widget-lg" layout="row" layout-fill flex>
      <div ui-sref="app.explorer.home" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon green-600-fg" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa icon-gb-explorer"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         Explorer
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget class="p-5" layout="column" flex="33">
     <ms-widget-front class="gb-app-widget gb-widget-lg" layout="row" layout-fill flex>
      <div ui-sref="app.swipe.home" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon blue-600-fg" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa icon-gb-swipe"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         Swipe
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
    <ms-widget class="p-5" layout="column" flex="33">
     <ms-widget-front class="gb-app-widget gb-widget-lg" layout="row" layout-fill flex>
      <div ui-sref="app.matcher.home" class="gb-main-button"
           layout="column" layout-align="start center" flex>
       <div class="gb-title-icon teal-600-fg" layout="column" layout-fill layout-align="center center" flex>
        <i class="fa icon-gb-matcher"></i>
       </div>
       <div class="gb-widget-content" layout="column" layout-align="start stretch" flex>
        <div class="gb-title">
         Matcher
        </div>
       </div>
      </div>
     </ms-widget-front>
    </ms-widget>
   </div>
  </div>
 </div>
 <section class='gb-get-started'>
  <div class="container">
   <div class="row">
    <h2>
     Get started today
    </h2>
    <p>
     Discover what a new kind of skill exploration and application can do for you.
    </p>
   </div>
   <div class="row" ng-if="false">
    <div class="gb-btn-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <div class="btn-toolbar row">
      <button type="button" ng-click="appCtrl.openRegistrationModal()" class="btn btn-success gb-beta-btn">
       <i class="fa fa-key"></i> Beta Access
      </button>
      <div class="gb-or">
       or
      </div>
      <button type="button" ng-click="appCtrl.openLoginModal()" class="btn btn-default">
       <i class="fa fa-sign-in"></i> Login
      </button>
     </div>
    </div>
   </div>
  </div>
 </section>
 <div class="gb-lp-footer">
  &copy;Copyright 2016 SkillSection.com. All rights reserved.
 </div>
</div>

<a-scene ng-if="hide">

 <!-- Cursor -->
 <a-entity>
  <a-camera position="0 2 0">
   <a-cursor color="#000"></a-cursor>
  </a-camera>
 </a-entity>

 <!-- WebVR Logo -->
 <a-curvedimage src="img/logo.png" radius="5.7" theta-length="36" height="1" position="0 2.6 0" opacity="0.5">
  <a-animation attribute="rotation" from="0 10 0" to="0 200 0" begin="500" dur="1000"></a-animation>
 </a-curvedimage>


 <a-curvedimage src="img/welcome.png" radius="5.7" theta-length="30" height=".85" position="0 1.4 0" scale=".4 .4 .4">
  <a-animation attribute="rotation" from="0 180 0" to="0 203 0" begin="750" dur="1000"></a-animation>
 </a-curvedimage>

 <!-- Lower row -->

 <!-- introduce ng-repeat for images based on JSON data -->
 <a-curvedimage src="{{getThumbnail(image)}}" url="{{image}}" ng-repeat="image in images track by $index" radius="5.7" class="vr-image" theta-length="18" height=".8" position="0 {{lowerIndex[$index]}} 0" scale=".4 .4 .4" ng-click="viewImage(image)">
  <a-animation attribute="rotation" from="0 180 0" to="0 {{upperIndex[$index]}} 0" begin="750" dur="1000"></a-animation>
  <a-event name="click" color="#FFC65D"></a-event>
  <a-event name="mouseenter" color="#FFC65D"></a-event>
  <a-event name="mouseleave" color="none"></a-event>
 </a-curvedimage>

 <!-- Loop -->
 <a-entity>
  <a-cylinder position="0 0.5 0" radius="4" height="1.6" side="back" open-ended="true" color="#FFF"></a-cylinder>
 </a-entity>

 <!-- Floor shadow -->
 <a-image position="0 -5 0" src="img/shadow.png"
          rotation="-90 0 0" scale="6 6 6"></a-image>

 <a-sky color="#ECECEC"></a-sky>
 <a-light type="directional" color="#fff" intensity="0.2" position="-1 2 1"></a-light>
 <a-light type="ambient" color="#fff"></a-light>

</a-scene>