

$explorer-color: #027887;
$swipe-color: #5E2D35;
$matcher-color:#027;
$features-color:#EEE;

$color-1: #184F5C;
$color-2: #5E2D35;
$color-3: #027;
$color-4: #9A6D36;
$color-5: #41642A;
$color-6: #077568;



.gb-wall-h,
.gb-wall-v {
 //background-color: #F2F2F2;
}
.gb-wall-h {
 @include position(absolute, null 0 0 0);
 background-color: rgba(material-color('blue-grey', '900'), 0.7);
 background-image: linear-gradient(90deg, transparent 95%, rgba(255,255,255,.5) 50%);
 background-size: 100px 50px;
 width: 100%;
 height:28px;
 border-top: #777 solid 1px;
 border-bottom: #777 solid 1px;
 z-index: 1;
}

.gb-door {
 @include position(absolute, null null 0 50%);
 transform: translateX(-50%);
 border: #555 solid 2px;
 border-bottom: transparent solid 2px;
 height:200px;
 width: 200px;
 -moz-border-radius: 0 200px 0 0;
 border-radius: 0 200px 0 0;
 text-align: center;
 .gb-title {
  font-size: 14px;
  margin-bottom: 10px;
 }
 .gb-icon {
  font-size: 25px;
 }
 @include respond-to (gb-xs) {
  padding-top: 55px;
  height:120px;
  width: 120px;
  -moz-border-radius: 0 120px 0 0;
  border-radius: 0 120px 0 0;

  .gb-title {
   font-size: 14px;
   margin-bottom: 5px;
  }
  .gb-icon {
   font-size: 18px;
  }
 }
}

#gb-intro-section {
 //background: -moz-radial-gradient(center, ellipse cover,  #ceda2e 0%, #875a9d 100%); /* FF3.6+ */
 //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ceda2e), color-stop(100%,#875a9d)); /* Chrome,Safari4+ */
 //background: -webkit-radial-gradient(center, ellipse cover,  #ceda2e 0%,#875a9d 100%); /* Chrome10+,Safari5.1+ */
 //background: -o-radial-gradient(center, ellipse cover,  #ceda2e 0%,#875a9d 100%); /* Opera 12+ */
 //background: -ms-radial-gradient(center, ellipse cover,  #ceda2e 0%,#875a9d 100%); /* IE10+ */
 //background: radial-gradient(ellipse at center,  #ceda2e 0%,#875a9d 100%); /* W3C */
 //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ceda2e', endColorstr='#875a9d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

 background: url(../../../src/assets/images/landing-page/background-5.jpg);
 -webkit-background-size: 700px auto!important;
 -moz-background-size: 700px auto!important;
 -o-background-size: 700px auto!important;
 // background-repeat: : 100%!important;
 position: relative;
 //margin-bottom: 30px;
 height: 550px;
 text-align: center;
 background-color: material-color('blue-grey', '800');
 //overflow: hidden;

 .gb-recommendation-scroll {
  z-index: 4;
 }

 .gb-door {
  bottom: 30px;
  padding-top: 135px;
  border: material-color('blue-grey', '100') solid 1px;
  border-left: material-color('brown', '900') solid 10px;
  border-bottom: #ECEFF1 solid 30px;
  z-index: 2;
  .gb-title {
   font-size: 12px;
   color: #FFF;
  }
  .gb-icon {
   font-size: 40px;
   color: #555;
  }
  @include respond-to (gb-xs) {
   padding-top:55px;
  }
 }

 .gb-intro-message {
  //@include position(absolute, 50px null 0 0);
  padding-top: 50px;
  width: 500px;
  z-index: 1;
  .intro-lead-in {
   color: #111;
   margin-bottom: 20px;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
  }
  .intro-heading {
   color: #000;
   margin-bottom: 0px;
   font-size: 50px;
   font-weight: 500;
   line-height: 40px;
  }
 }

 .gb-intro-img {
  @include position(absolute, null 0 0 0);
  background: url(../../../src/assets/images/landing-page/background-5.png);
  -webkit-background-size: auto 100%!important;
  -moz-background-size: auto 100%!important;
  -o-background-size: auto 100%!important;
  background-size: auto 100%!important;
  width: 100%;
  height: 300px;
  z-index: 0;
 }

 .gb-heading-row {
  @include position(absolute, null 0 0 0);
  padding: 20px 10px;
  color: #DDD;
  background-color: rgba(#000, 0.4);
  p {
   font-size: 12px;
  }
 }
 @include respond-to (gb-md) {
  .gb-intro-carousel {
   bottom: -300px;
   width: 80%;
  }
 }
 @include respond-to (gb-sm) {
  height: 400px;
  .gb-intro-message {
   //width: 600px;
   padding-top: 20px;
   // padding-bottom: 200px;
   .intro-lead-in {
    margin-bottom: 15px;
    //font-size: 18px;
    //line-height: 25px;
   }
   .intro-heading {
    margin-bottom: 5px;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
   }
  }
  .gb-intro-img {
   height: 250px;
   .gb-image-card{
    height: 50px;
    min-width: 40px;
    width: 40px;
    margin: 3px;
    .gb-card-cover {
     height: 100%;
     overflow: hidden;
     .gb-cover-image {
      img {
       height: 100%;
       min-width: 40px;
      }
     }
    }
   }
  }
 }

 @include respond-to (gb-xs) {
  // padding-top: 300px;
  //padding-bottom: 200px;
  height: 270px;
  .gb-intro-message {
   width: 100%;
   top: 20px;
   padding: 0px 20px 0 20px;
   .intro-lead-in {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
   }
   .intro-heading {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
   }
  }
  .gb-intro-img {
   height: 150px;
   .gb-image-card{
    height: 50px;
    min-width: 40px;
    width: 40px;
    margin: 3px;
    .gb-card-cover {
     height: 100%;
     overflow: hidden;
     .gb-cover-image {
      img {
       height: 100%;
       min-width: 40px;
      }
     }
    }
   }
  }
 }
 &:after {
  content: "";
  @include position(absolute, 0 0 0 0);
  background-color: rgba(material-color('blue-grey', '900'), 0.2);
  z-index: 0;
 }
}

.gb-welcome-section-1 {
 padding: 20px 0;
 background-color: #FFF;
}

.gb-welcome-section-3,
.gb-welcome-section-4,
.gb-welcome-section-5,
.gb-welcome-section-6 {
 background-color: #ECEFF1;
 position: relative;
 padding: 50px 0 160px 0;
 .gb-wall-h {
  height:10px;
 }
 .gb-door {
  padding-top: 90px;
  height:120px;
  width: 120px;
  z-index: 2;
  .gb-title {
   font-size: 14px;
   color: material-color('blue-grey', '600');
  }
  .gb-icon {
   font-size: 30px;
   color:  material-color('blue-grey', '600');
  }
  @include respond-to (gb-xs) {
   padding-top: 45px;
   height:90px;
   width: 90px;
   -moz-border-radius: 0 90px 0 0;
   border-radius: 0 90px 0 0;

   .gb-title {
    font-size: 12px;
    margin-bottom: 5px;
   }
   .gb-icon {
    font-size: 18px;
   }
  }
 }
 .gb-app-widget {
  box-shadow: $whiteframe-shadow-2dp;
  //border: material-color('blue-grey', '800') double 3px;
  background-color:  rgba(material-color('blue-grey', '200'), 0.3);
  &:hover {
   // border: material-color('blue-grey', '900') double 3px;
   background-color:  rgba(material-color('blue-grey', '400'), 0.3);
  }
 }
 .gb-card-heading-1 {
  .gb-title {
   color: #000;
  }
  .gb-description {
   color: #000;
  }
 }
 @include respond-to (gb-xs) {
  padding: 20px 0 140px 0;
 }
}

.gb-welcome-section-3 {
 background: url(../../../src/assets/images/landing-page/background-6.jpg);

 padding-top: 120px;
 //background-color: rgba(material-color('blue-grey', '50'), 0.5);
 .gb-door {
  border: material-color('blue-grey', '600') solid 2px;
  border-left: material-color('blue-grey', '600') solid 6px;
  border-bottom: #ECEFF1 solid 10px;

  &.gb-door-top {
   @include position(absolute, -28px null null 50%);
   padding-top: 0px;
   -moz-border-radius: 0 0 120px 0;
   border-radius: 0 0 120px 0;
   border: material-color('blue-grey', '600') solid 2px;
   border-left: material-color('blue-grey', '600') solid 6px;
   border-top: #ECEFF1 solid 30px;

   .gb-title {
    @include position(absolute, -28px 0 null 0);
   }
   .gb-icon {
    @include position(absolute,  10px 0 null 0);
   }
   @include respond-to (gb-xs) {
    padding-top: 0px;
    -moz-border-radius: 0 0 90px 0;
    border-radius: 0 0 90px 0;
   }
  }
 }
 .gb-app-widget {
  // border: material-color('blue-grey', '300') solid 1px;
 }
 @include respond-to (gb-xs) {
  padding-top: 90px;
 }
}

.gb-welcome-section-4 {
 background: url(../../../src/assets/images/landing-page/background-5.jpg);

 .gb-door {
  border: material-color('blue-grey', '600') solid 2px;
  border-left: material-color('blue-grey', '600') solid 6px;
  border-bottom: #ECEFF1 solid 10px;
 }
}

.gb-welcome-section-5 {
 //background-color: #F2F2F2;
 .gb-door {
  -moz-border-radius: 0 120px 0 0;
  border-radius: 0 120px 0 0;
  border: material-color('blue-grey', '500') solid 1px;
  border-left: material-color('blue-grey', '500') solid 5px;
  border-bottom: #FFF solid 10px;
 }
}
.gb-welcome-section-6 {
 background-color: #FFF;
}

.gb-welcome-section-2 {
 position: relative;
 padding: 20px 0;
 background-color: #F0F0F0;
 .gb-house-tools {
  z-index: 1;
 }
 .gb-house-background-icon {
  //@include position(absolute, 0 0 0 0);
  font-size: 5002px;
  z-index:0;
 }
}

.gb-title {
 //margin:30px 10px 30px;
}

.gb-get-started {
 padding: 100px 0;
 background-color: $color-1;
 color: #EEE;
 h2 {
  color: #DDD;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
 }
 p {
  color: #DDD;
  text-align: center;
  font-size: 20px;
 }
 .gb-btn-container {
  position: relative;
  margin-top: 30px;
  .btn-toolbar {
   @include position(absolute, 50% null null 50%);
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%, -50%);
   margin-top: 30px;
   display: inline-block;
   border: #888 solid 1px;
   background-color: rgba(darken($gb-primary-color, 15%), 0.6);
   padding: 10px;
   .btn {
    border-radius: 0;
    text-decoration: none;
    width: 150px;
   }
   .btn.gb-beta-btn {
    background-color: #79AA72;
    color: #FFF;
   }
   .gb-or {
    padding: 7px 6px 0 10px;
    font-weight: 600;
    float: left;
    color: #BBB;
   }
  }
 }
}


.gb-lp-footer {
 background-color: #E2E2E2;
 color: #777;
 padding: 40px 10px;
 font-size: 15px;
 text-align: center;
}