<div class="row gb-discussions" ng-controller="ExplorerDiscussionsCtrl as explorerDiscussionsCtrl">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="gb-heading-row-1 gb-shadow-1 row">
    <div class="gb-heading-icon gb-shadow-1">
     <i class="fa fa-comment-o"></i>
    </div>
    <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
     <p class="gb-ellipsis">
      DISCUSSION & QUESTIONS
     </p>
    </div>
    <div class="btn-group pull-right">
     <md-button class="gb-action" ng-click="explorerDiscussionsCtrl.showDiscussionForm()"
                ng-show="!explorerDiscussionsCtrl.discussionFormDisplay">
      <i class="fa fa-plus"></i>
     </md-button>
    </div>
   </div>
  </div>
 </div>
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class='row'>
    <form class="gb-shadow-1 gb-background-white" ng-show="explorerDiscussionsCtrl.discussionFormDisplay" name="form" novalidate>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Discussion:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 placeholder="Explorer Discussion" ng-model="explorerDiscussionsCtrl.newExplorerDiscussionData.title"
                 name="title" required="" rows="2">
       </textarea>
       <div ng-show="form.$submitted || form.title.$touched">
        <div ng-show="form.title.$error.required">discussion required.</div>
       </div>
      </div>
     </div>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Description:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <textarea class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 placeholder="Explorer Discussion Description (optional)" ng-model="explorerDiscussionsCtrl.newExplorerDiscussionData.description"
                 name="description" required="" rows="4">
       </textarea>
      </div>
     </div>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Privacy:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <div class="radio gb-radio-row">
        <label class="">
         <input type="radio" ng-model="explorerDiscussionsCtrl.newExplorerDiscussionData.privacy" value="0" />
         <strong>public</strong> All people can see this discussion
        </label>
       </div>
       <div class="radio gb-radio-row">
        <label>
         <input type="radio" ng-model="explorerDiscussionsCtrl.newExplorerDiscussionData.privacy" value="1" />
         <strong>private</strong> only you can see this discussion
        </label>
       </div>
       <div class="radio gb-radio-row">
        <label>
         <input type="radio" ng-model="explorerDiscussionsCtrl.newExplorerDiscussionData.privacy" value="2" />
         <strong>custom</strong> choose who to see this discussion
        </label>
       </div>
      </div>
     </div>
     <div class="form-group row" ng-class="{'gb-disabled-2': explorerDiscussionsCtrl.newExplorerDiscussionData.privacy != 2}">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">Choose Members:</label>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
       <input type="text" class="form-control" placeholder="Select members"/>
      </div>
     </div>
     <div class="form-group row">
      <label class="text-right col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label">
       <a class="btn btn-link" ng-click="explorerDiscussionsCtrl.showAdvanced()">
        Show Advanced
       </a>
      </label>
     </div>
     <div class="gb-form-footer row">
      <div class="btn-group pull-right">
       <md-button type="button" class="" ng-click="explorerDiscussionsCtrl.cancelExplorerDiscussion(form)">
        Cancel
       </md-button>
       <md-button type="button" class="gb-color-primary" ng-click="explorerDiscussionsCtrl.createExplorerDiscussion(explorerDiscussionsCtrl.newExplorerDiscussionData)">
        Add Discussion
       </md-button>
      </div>
     </div>
    </form>
   </div>
   <div class="gb-discussion-body row" ng-show="explorerDiscussionsCtrl.explorerDiscussionsSrv.explorerDiscussions.length" ng-cloak>
    <ul id="discussion-list">
     <li ng-repeat="explorerDiscussion in explorerDiscussionsCtrl.explorerDiscussionsSrv.explorerDiscussions| filter:statusFilter track by $index" ng-class="{completed: explorerDiscussion.completed, editing: explorerDiscussion == explorerDiscussionsCtrl.editedDiscussion}">
      <div class="gb-discussion-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <div class="gb-discussion-heading">
        <p class="gb-title">COMMENT</p>
        <div class="gb-dropdown-action">
         <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-chevron-down"></i>
         </a>
         <ul class="dropdown-menu dropdown-menu-right">
          <li>
           <a ng-click="explorerDiscussionsCtrl.openExplorerDiscussion(explorerDiscussion)">
            Open
           </a>
          </li>
         </ul>
        </div>
       </div>
       <div class="gb-description">
        <a ng-click="explorerDiscussionsCtrl.openExplorerDiscussion(explorerDiscussion)" class="">
         {{explorerDiscussion.discussion.title}}
        </a>
        {{explorerDiscussion.discussion.description}}
       </div>
       <div class="gb-footer">
        <img src="public/img/profile_pic/{{explorerDiscussion.discussion.creator.avatar_url}}" class='gb-profile-pic' alt="">
        <div class="gb-footer-content">
         <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <h5 class="gb-ellipsis"><a>{{explorerDiscussion.discussion.creator.firstname + ' ' + explorerDiscussion.discussion.creator.lastname}}</a></h5>
          <p>{{explorerDiscussion.discussion.created_at| date:'MM/dd/yyyy'}}</p>
         </div>
         <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">
          <div class="pull-right btn-group">
           <a ng-click="explorerDiscussionsCtrl.openExplorerDiscussion(explorerDiscussion)" class="btn gb-btn-xs gb-ghost-btn-2">
            Open
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </li>
    </ul>
   </div>
   <script type="text/ng-template" id="explorer-discussion-modal.html">
    <div class="gb-discussion-page" ng-include="'public/modules/explorer/views/components/discussion/explorer-discussion-modal.html'"></div>
   </script>
  </div>
 </div>
</div>