<div class="row">
 <div class="gb-section-row-3 gb-shadow-1 row col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="gb-heading-row-1 row">
   <div class="gb-heading-icon">
    <i class="fa fa-list"></i>
   </div>
   <div class="gb-title col-lg-8 col-md-8 col-sm-8 col-xs-8">
    <p class="gb-ellipsis">
     DESCRIPTION
    </p>
   </div>
   <div class="btn-group pull-right" ng-hide="explorerCtrl.editDescriptionMode.visible">
    <md-button class="gb-action" ng-click="explorerCtrl.editDescriptionMode.show()">
     Edit
    </md-button>
   </div>
   <div class="btn-group pull-right" ng-show="explorerCtrl.editDescriptionMode.visible">
    <md-button class="gb-action" ng-click="explorerCtrl.editDescriptionMode.hide()">
     <i class="text-danger fa fa-times"></i>
    </md-button>
    <md-button class="gb-action" ng-click="explorerCtrl.editDescriptionMode.edit()">
     <i class="text-success fa fa-check"></i>
    </md-button>
   </div>
  </div>
  <div class="row gb-body-row-1">
   <div ng-hide="explorerCtrl.editDescriptionMode.visible" id="gb-explorer-item-todo-panel" class="row">
    <strong>{{explorerCtrl.explorerSrv.explorer.title}}</strong>
    {{explorerCtrl.explorerSrv.explorer.description}}
   </div>
   <form ng-show="explorerCtrl.editDescriptionMode.visible"
         ng-submit="explorerCtrl.editDescriptionMode.edit()">
    <md-input-container class="md-block">
     <input ng-model="explorerCtrl.editDescriptionMode.data.title" name="title" required
            placeholder="Title"
            class="">
    </md-input-container>
    <md-input-container class="md-block">
     <textarea ng-model="explorerCtrl.editDescriptionMode.data.description" name="description"
               placeholder="Description" rows="4"
               class="form-control gb-md">
     </textarea>
    </md-input-container>
    <div class="row"
         ng-show="explorerCtrl.editDescriptionMode">
     <div class="btn-group pull-right">
      <md-button type="button" class="" ng-click="explorerCtrl.editDescriptionMode.hide()">
       Cancel
      </md-button>
      <md-button type="submit" class="gb-color-primary">
       Done
      </md-button>
     </div>
    </div>
   </form>
  </div>
 </div>
</div>
<div ng-if="false" class="row gb-mg-top-md">
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 gb-padding-thin">
  <md-button class="gb-box-3 gb-shadow-1">
   <div class="gb-stat-number">
    <i class="gb-icon fa icon-gb-community"></i> 0%
   </div>
   <div class="gb-title gb-ellipsis hidden-xs">
    PROGRESS
   </div>
  </md-button>
 </div>
 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 gb-padding-thin">
  <md-button class="gb-box-3 gb-shadow-1">
   <div class="gb-stat-number">
    <i class="gb-icon fa fa-comments"></i> 0
   </div>
   <div class="gb-title gb-ellipsis">
    DISCUSSIONS
   </div>
  </md-button>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">
  <md-button class="gb-box-3 gb-shadow-1">
   <div class="gb-stat-number">
    <i class="gb-icon fa icon-gb-explorer"></i> {{explorerCtrl.subExplorersStats.totalCount}}
   </div>
   <div class="gb-title gb-ellipsis">
    SUB ENTRIES
   </div>
  </md-button>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">
  <md-button class="gb-box-3 gb-shadow-1">
   <div class="gb-stat-number">
    <i class="gb-icon fa icon-gb-apply"></i> 0
   </div>
   <div class="gb-title gb-ellipsis">
    APPLICATIONS
   </div>
  </md-button>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">
  <md-button class="gb-box-3 gb-shadow-1">
   <div class="gb-stat-number">
    <i class="gb-icon fa icon-gb-collaborations"></i> 0
   </div>
   <div class="gb-title gb-ellipsis">
    CONTRIBUTIONS
   </div>
  </md-button>
 </div>
</div>
<div class="gb-section-row-3 gb-shadow-1 row col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="gb-heading-row-1 row">
  <div class="gb-heading-icon">
   <i class="fa icon-gb-explorer"></i>
  </div>
  <div class="gb-title col-lg-8 col-md-8 col-sm-8 col-xs-8">
   <p class="gb-ellipsis">
    APPLICATIONS
   </p>
  </div>
  <div class="btn-group pull-right">
   <md-button class="gb-action" ng-click="explorerCtrl.editDescriptionMode.show()">
    Use
   </md-button>
  </div>
 </div>
 <div class="gb-body-row-1 row">
  <div class="gb-no-info row" ng-show="!explorerCtrl.explorerSrv.applicationExplorers.length">
   No one is using this template yet
  </div>
  <div class="row" ng-show="explorerCtrl.explorerSrv.applicationExplorers.length">
   <div ng-repeat="applicationExplorer in explorerCtrl.explorerSrv.applicationExplorers track by $index"
        gb-application-explorer-box explorer="applicationExplorer"
        class="col-lg-4 col-md-4 col-sm-6 col-xs-12 gb-padding-thin">
   </div>
  </div>
 </div>
</div>
<div class="" ng-include="'public/modules/explorer/views/components/sub-explorer/sub-explorers.html'"></div>
<div class="" ng-include="'public/modules/explorer/views/components/section/explorer-sections.html'"></div>
<!--
<div class="" ng-include="'public/modules/explorer/views/components/objective/explorer-objectives.html'"></div>
<div class="" ng-include="'public/modules/explorer/views/components/plan/explorer-plans.html'"></div>
<div class="" ng-include="'public/modules/explorer/views/components/todo/explorer-todos.html'"></div>
-->
<div class="gb-dummy-height row"></div>