


.gb-nav-1 {
 padding: 0;
 margin: 0;
 list-style: none;
 li {
  height: 40px;
  line-height: 15px;
  background-color: transparent;
  border-bottom: transparent solid 3px;
  a{
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.7) solid 3px;
  }
  &.active {
   border-bottom: $primary-color solid 3px;
  }
 }
}

.gb-nav-2 {
 padding: 0;
 list-style: none;
 li {
  margin-right: 20px;
  float: left;
  height: 40px;
  line-height: 42px;
  background-color: transparent;
  border-bottom: transparent solid 4px;
  a{
   padding: 0 5px;
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
   color: rgba($primary-color, 0.7);
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.5) solid 4px;
   a {
    color: rgba($primary-color, 0.9);
   }
  }
  &.active {
   border-bottom: rgba($primary-color, 0.7) solid 4px;
   a {
    color: rgba($primary-color, 1);
   }
  }
 }
}

.gb-shadow-1 {
 position: relative;
 font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
 border: 1px solid #c5c5c5;
 -webkit-box-shadow: 0 3px 8px rgba($primary-color, 0.5);
 -moz-box-shadow: 0 3px 8px rgba($primary-color, 0.5);
 box-shadow: 0 3px 8px rgba($primary-color, 0.5);
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
}
.gb-icon-top-nav-1 {
 padding: 0;
 list-style: none;
 background-color: #FFF;
 text-align: center;
 a {
  display: block;
  height: 100%;
  width: 100%;
  border-right: #DDD solid 1px;
  text-decoration: none;
  .gb-icon {
   color: rgba($primary-color, 0.8);
  }
  .gb-title {
   color: #777;
  }
 }
 &:hover {
  a {
   color: rgba($primary-color, 0.5);
  }
 }
 &.active {
  a {
   color: rgba($primary-color, 1);
  }
 }

 >li {
  border-bottom: transparent solid 5px;
  a{
   padding: 15px 2px 15px 2px;
   .gb-icon {
    font-size: 35px;
    margin-bottom: 10px;
   }
   .gb-title {
    font-size: 10px;
   }
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.4) solid 5px;
  }
  &.active {
   border-bottom: rgba($primary-color, 0.8) solid 5px;
  }
  li {
   a{
    border-left: transparent solid 4px;
    padding: 5px 2px 5px 2px;
    .gb-icon {
     float: left;
     font-size: 24px;
     margin-right: 5px;
    }
    .gb-title {
     float: left;
     padding-top: 5px;
     font-size: 12px;
    }
   }
   &:hover {
    background-color: transparent;
    border-left: rgba($primary-color, 0.4) solid 4px;
   }
   &.active {
    background-color: transparent;
    border-left: rgba($primary-color, 0.8) solid 4px;
   }
  }
 }
}
