



.gb-questionnaire-container {
 .stack {
  height: 350px;
  @include position(absolute, 230px null null 50%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
 }

 li {
  height: 100%;
  width: 100%;
  list-style: none;
  background: #FFF;
  border-radius: 5px;
  border: 7px solid rgba($primary-color, 0.5);
  box-shadow: 0 0 2px rgba(0,0,0,.2), 1px 1px 1px rgba(0,0,0,.2);
  box-sizing: border-box;
  cursor: default;

  &.clubs,
  &.spades {
   color: #373737;
  }

  &.diamonds,
  &.hearts {
   color: #ED5D52;
  }

  &.in-deck {
   &:nth-child(3) {
    top: 2px; transform: translate(2px, 2px) rotate(0.4deg);
   }

   &:nth-child(2) {
    top: 4px; transform: translate(-4px, -2px) rotate(-1deg);
   }
  }
 }
 .gb-box-1 {
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  padding:  5px 5px;
  margin: 0;
  overflow: hidden;
  border-bottom: #CCC solid 1px;

  &:hover {
   background-color: #F7F7F7;
  }
  .gb-icon-image {
   padding: 10px 25px 0 15px;
   overflow: hidden;
   .fa-lg {
    float: right;
    font-size: 30px;
    .fa-outer {
     color: rgba($primary-color, 0.2);
    }
    .fa-inner{
     top: 35px;
     left: 20px;
     font-size: 30px;
     color: darken($primary-color, 0%);
    }
    &:hover {
     .fa-outer {
      color: rgba($primary-color, 0.7);
     }
     .fa-inner{
      color: darken($primary-color, 10%);
     }
    }
   }
   img {
   }
  }
  .gb-box-body {
   .gb-heading {
    //@include position(absolute, 0 0 null 0);
    padding: 8px 5px 0 10px;
    height: 22px;
    .gb-title {
     color: #888;
     font-weight: 500;
     font-size:10px;
     text-transform: uppercase;
    }
   }
   .gb-description {
    //@include position(absolute, 23px 0 50px 0);
    padding: 5px 10px;
    overflow: hidden;
    font-size: 20px;
   }
  }
 }
 .gb-footer {
  @include position(absolute, 590px null null 50%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
 }
 .gb-answer-form {
  @include position(absolute, 590px null null 50%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
 }
}

.gb-questionnaire-indicator {
 @include position(absolute, 5px null null 5px);
 width: 30px;
 height: 10px;
 border-radius: 5px;
 &.gb-questionnaire-indicator-SWS1 {
  background-color: rgba(red, 0.3);
 }
 &.gb-questionnaire-indicator-SWS2 {
  background-color: grey;
 }
 &.gb-questionnaire-indicator-SWS3 {
  background-color: rgba(green, 0.3);
 }
 &.gb-questionnaire-indicator-SWS4 {
  background-color: rgba(green, 0.6);
 }
}