//
// Sections
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.gb-section-row-1 {
 border-bottom: #BBB solid 1px;
 padding-bottom: 20px;
 margin-bottom: 20px;
 .gb-heading {
  padding: 0;
  margin-bottom: 5px;
 }
 .gb-heading .gb-title {
  padding: 10px 0 0 0;
  font-size: 1.0em;
  color: #777;
 }

 .gb-heading .gb-heading-img {
  width: 30px;
  height: 30px;
 }

 .gb-heading .gb-action {
  padding: 10px 0 0 0;
 }

 .gb-section-row-1 .gb-body {
  padding-top: 10px;
 }
}

.gb-section-row-2 {
 &.gb-background-white {
  .gb-heading {
   padding-left: 15px;
  }
 }
 padding-bottom: 20px;
 .gb-heading {
  padding: 10px 5px 10px 0px;
  .gb-title {
   padding: 5px 0 0 0px;
   margin-right: 5px;
   font-size: 20px;
   color: rgba($primary-color, 0.8);
   -webkit-text-rendering: optimizeLegibility;
   -moz-text-rendering: optimizeLegibility;
   text-rendering: optimizeLegibility;
   &.gb-small {
    padding: 0 0 0 0;
    font-size: 15px;
   }
  }
  .gb-filter-btn {
   color: #656565;
   margin-top: 5px;
   border: none;
   border-bottom: rgba($primary-color, 0.4) solid 1px;
  }
  .gb-heading-img {
   width: 30px;
   height: 30px;
   .gb-action {
    padding: 0 0 0 0;
   }
  }
 }

 .gb-form-placeholder {
  background-color: #FFF;
  position: relative;

  .gb-img {
   @include position(absolute, 5px null 5px 5px);
   width: 53px;
   height: auto;
  }
  input {
   margin: 0;
   width: 100%;
   font-size: 24px;
   font-family: inherit;
   font-weight: inherit;
   line-height: 1.4em;
   border: 0;
   outline: none;
   color: inherit;
   padding: 6px;
   border: 1px solid #CCC;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
   font-smoothing: antialiased;
   padding: 16px 16px 16px 65px;
   @include placeholder {
    color: #BBB;
   }
  }
 }


 .gb-body {
  padding-top: 10px;
 }
 @include respond-to (gb-xs) {
  padding-bottom: 15px;
  .gb-heading .gb-title {
   font-size: 20px;
  }
  .gb-heading .gb-action {
   padding: 2px 0 0 0;
  }
 }
}

