.gb-search-btn-grp {
 margin: 3px 0px 0px 0px;
}
.gb-dropdown-popup-wrapper {
 color: #444;
 padding: 5px;
 width: 600px;
 background-color: #F2F2F2;

 .gb-search-result-dropdown {
  max-height: 400px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

 }

 .gb-box-1 {
  border-bottom: rgba($primary-color, 0.4) solid 1px;
  .gb-description {
   padding: 0 0 0 5px;
  }
  .gb-app-type {
   padding: 3px 0;
   text-transform: uppercase;
   font-size: 10px;
   color: #777;
  }
 }

 @include respond-to (gb-sm) {
  width: 600px;
  .gb-search-result-dropdown {
   @include position(absolute, null null null -50px!important);
   width: 600px;
  }
 }
 @include respond-to (gb-xs) {
  width: 320px;
  .gb-search-result-dropdown {
   width: 320px;
   @include position(absolute, null null null -50px!important);
  }
 }


}

.custom-popup-wrapper {
 position: absolute;
 top: 100%;
 left: 0;
 width: 500px;
 z-index: 1000;
 display: none;
 background-color: #f9f9f9;
}

.custom-popup-wrapper > .message {
 padding: 10px 20px;
 border-bottom: 1px solid #ddd;
 color: #868686;
}

.custom-popup-wrapper > .dropdown-menu {
 position: static;
 float: none;
 display: block;
 min-width: 160px;
 background-color: transparent;
 border: none;
 border-radius: 0;
 box-shadow: none;
}

.gb-top-nav-1 {
 .gb-search {
  md-input-container {
   margin: 0;
  }
  height: 100%;
  padding: 5px 0;
  .gb-clear-btn {
   @include position(absolute, 4px 60px null null);
   padding: 0 12px;
   color: #AAA;
   font-weight: bold;
   font-weight: normal;
  }
  .ui-select-bootstrap .ui-select-toggle > .caret {
   display: none;
  }
  .ui-select-placeholder {
   font-size: 12px;
   color: #777;
   font-weight: 200;
  }
  .form-control {
   padding: 3px 30px 3px 10px;
   height: 30px;
   margin-bottom: 0;
   &.btn-default {
    background-color: #F9F9F9;
   }
  }

  .gb-input-form-group {
   padding-right: 48px;
   margin-bottom: 0;
  }
  .gb-input-btn-group {
   @include position(absolute, 0 0 null null);
   .btn {
    height: 30px;
   }
  }

 }
}
