


.gb-nav-1 {
 padding: 0;
 margin: 0;
 list-style: none;
 li {
  height: 40px;
  line-height: 15px;
  background-color: transparent;
  border-bottom: transparent solid 4px;
  a{
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
  }
  &:hover {
   border-bottom: ligthen($primary-color, 15%) solid 4px;
  }
  &.active {
   border-bottom: $primary-color solid 4px;
  }
 }
}

.gb-nav-2 {
 margin: 0;
 list-style: none;
 border-bottom: transparent solid 4px;
 li {
  min-width:70px;
  height: 50px;
  float:left;
  line-height: 50px;
  background-color: #DFE0D8;
  a{
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
  }
 }
}

.gb-nav-3 {
 margin: 0;
 height: 75px;
 list-style: none;
 background-color: #F2F2F2;
 border-bottom: #CCC solid 2px;
 li {
  min-width: 60px;
  height: 100%;
  float:left;
  margin-left: 10px;
  padding: 2px 10px 3px 10px;
  a{
   display: block;
   height: 100%;
   width: 100%;
   color: #444;
   text-align: center;
   text-decoration: none;
  }
 }
}