.gb-search-btn-grp {
 margin: 3px 0px 0px 0px;
}
.ui-select-container {
 .form-control {
  height: 38px;
  border: none !important;
  border-left: #DDD solid 1px !important;
 }
}
.gb-top-nav-1 {
 .gb-search {
  height: 100%;
  .gb-search-icon {
   @include position(absolute, 12px null 0 15px);
   color: #AAA;
   z-index: 1;
  }
  .ui-select-bootstrap .ui-select-toggle > .caret {
   display: none;
  }
  .ui-select-placeholder {
   line-height: 25px;
   font-size: 15px;
   color: #777;
   font-weight: 200;
  }
  .form-control {
   height: 38px;
   border: none !important;
   border-left: #DDD solid 1px !important;
  }

  .gb-input-form-group {
   padding-right: 58px;
  }
  .gb-input-btn-group {
   height: 38px;
   @include position(absolute, 0 0 0 null);
   .btn {
    height: 100%;
    border: none;
   }
  }

 }
}
