.gb-search-btn-grp {
 margin: 3px 0px 0px 0px;
}

.gb-search-result-dropdown {
 background-color: #FFF;
 md-list-item, md-list-item .md-list-item-inner {
  display: block;
 }
 .md-list-item-inner {
  line-height: 20px;
  height: 70px;
  border-bottom: rgba($primary-color, 0.2) solid 1px;
  img {
   @include position(absolute, 0 null 0 0);
  }
  .md-list-item-text {
   @include position(absolute, 0 0 0 55px);
   .gb-title {
    margin: 10px 5px 0 5px;
    color: $primary-color;
   }
   .gb-app-type {
    padding-left: 5px;
    text-transform: uppercase;
    color: #777;
   }
  }
 }


}

.typeahead-demo .custom-popup-wrapper {
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 1000;
 display: none;
 background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
 padding: 10px 20px;
 border-bottom: 1px solid #ddd;
 color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
 position: static;
 float: none;
 display: block;
 min-width: 160px;
 background-color: transparent;
 border: none;
 border-radius: 0;
 box-shadow: none;
}

.gb-top-nav-1 {
 .gb-search {
  md-input-container {
   margin: 0;
  }
  height: 100%;
  padding: 5px 0;
  .gb-clear-btn {
   @include position(absolute, 10px 57px null null);
   padding: 0 12px;
   color: #AAA;
   font-weight: bold;
   font-weight: normal;
  }
  .ui-select-bootstrap .ui-select-toggle > .caret {
   display: none;
  }
  .ui-select-placeholder {
   font-size: 12px;
   color: #777;
   font-weight: 200;
  }
  .form-control {
   padding: 3px 30px 3px 10px;
   height: 30px;
   margin-bottom: 0;
   &.btn-default {
    background-color: #F9F9F9;
   }
  }

  .gb-input-form-group {
   padding-right: 64px;
   margin-bottom: 0;
  }
  .gb-input-btn-group {
   @include position(absolute, 5px 0 null null);
   .btn {
    height: 30px;
   }
  }

 }
}
