.stuck {
 position: fixed;
 top: 50px;
}

.gb-nav-1 {
 padding: 0;
 margin: 0;
 list-style: none;
 li {
  height: 40px;
  line-height: 15px;
  background-color: transparent;
  border-bottom: transparent solid 3px;
  a{
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.7) solid 3px;
  }
  &.active {
   border-bottom: $primary-color solid 3px;
  }
 }
}

.gb-nav-2 {
 padding: 0;
 list-style: none;
 li {
  margin-right: 20px;
  float: left;
  height: 40px;
  line-height: 42px;
  background-color: transparent;
  border-bottom: transparent solid 4px;
  a{
   padding: 0 5px;
   display: block;
   height: 100%;
   width: 100%;
   text-align: center;
   text-decoration: none;
   color: rgba($primary-color, 0.7);
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.5) solid 4px;
   a {
    color: rgba($primary-color, 0.9);
   }
  }
  &.active {
   border-bottom: rgba($primary-color, 0.7) solid 4px;
   a {
    color: rgba($primary-color, 1);
   }
  }
 }
}

.gb-shadow-1 {
 position: relative;
 box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

 &:before, &:after {
  content:"";
  position:absolute;
  z-index:-1;
  box-shadow:0 0 20px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
 }


}
.gb-icon-top-nav-1 {
 padding: 0;
 list-style: none;
 background-color: #FFF;
 text-align: center;
 a {
  display: block;
  height: 100%;
  width: 100%;
  border-right: #DDD solid 1px;
  text-decoration: none;
  .gb-icon {
   color: rgba($primary-color, 0.8);
  }
  .gb-title {
   color: #777;
  }
 }
 &:hover {
  a {
   color: rgba($primary-color, 0.5);
  }
 }
 &.active {
  a {
   color: rgba($primary-color, 1);
  }
 }

 >li {
  border-bottom: transparent solid 5px;
  a{
   padding: 10px 2px 10px 2px;
   .gb-icon {
    font-size: 35px;
    margin-bottom: 10px;
   }
   .gb-title {
    font-size: 10px;
   }
   @include respond-to (gb-sm) {
    padding: 5px 2px 5px 2px;
    .gb-icon {
     font-size: 25px;
     margin-bottom: 10px;
    }
   }
  }
  &:hover {
   border-bottom: rgba($primary-color, 0.4) solid 5px;
  }
  &.active {
   border-bottom: rgba($primary-color, 0.8) solid 5px;
  }
  li {
   a{
    border-left: transparent solid 4px;
    padding: 5px 2px 5px 2px;
    .gb-icon {
     float: left;
     font-size: 24px;
     margin-right: 5px;
    }
    .gb-title {
     float: left;
     padding-top: 5px;
     font-size: 12px;
    }
   }
   &:hover {
    background-color: transparent;
    border-left: rgba($primary-color, 0.4) solid 4px;
   }
   &.active {
    background-color: transparent;
    border-left: rgba($primary-color, 0.8) solid 4px;
   }
  }
 }
}
