//
// Sections
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.gb-section-row-1 {
 border-bottom: #BBB solid 1px;
 padding-bottom: 20px;
 margin-bottom: 20px;
 .gb-heading {
  padding: 0;
  margin-bottom: 5px;
 }
 .gb-heading .gb-title {
  padding: 10px 0 0 0;
  font-size: 1.0em;
  color: #777;
 }

 .gb-heading .gb-heading-img {
  width: 30px;
  height: 30px;
 }

 .gb-heading .gb-action {
  padding: 10px 0 0 0;
 }

 .gb-section-row-1 .gb-body {
  padding-top: 10px;
 }
}

.gb-section-row-2 {
 padding-bottom: 30px;
 .gb-heading {
  padding: 15px 5px 15px 5px;
 }
 .gb-heading .gb-title {
  padding: 3px 0 0 0;
  width: 100%;
  font-size: 15px;
  color: rgba($primary-color, 0.8);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
 }

 .gb-heading .gb-heading-img {
  width: 30px;
  height: 30px;
 }

 .gb-heading .gb-action {
  padding: 0 0 0 0;
 }

 .gb-section-row-1 .gb-body {
  padding-top: 10px;
 }
 @include respond-to (gb-xs) {
  padding-bottom: 15px;
  .gb-heading .gb-title {
   font-size: 20px;
  }
  .gb-heading .gb-action {
   padding: 2px 0 0 0;
  }
 }
}

