//
// Modals
// --------------------------------------------------


// Base styles
// --------------------------------------------------
.modal-body {
 padding: 6px;
}
.gb-modal-footer-btn {
 text-transform: capitalize;
}
.modal-login {
 width: 350px;
 .modal-content {
  min-height: 260px;
  max-height: 320px;
 }
 @include respond-to (gb-xs) {
  //width: 250px;
 }
}

.modal-registration {
 width: 350px;
 .modal-content {
  height: 440px;
 }
 @include respond-to (gb-xs) {
  //width: 250px;
 }
}

.modal-header {
 @include position(absolute, 0 0 null 0);
 @include linear-gradient(70deg, #EEE 0%, #DDD 50%, #EEE 51%, #FFF 100%);

 border-bottom: rgba($primary-color, 0.6) solid 3px;
 font-weight: normal;
 height: 40px;
 .gb-title {
  @include position(absolute, 0 40px 0 0);
  padding: 7px 8px;
  font-size: 18px;
 }
 .gb-close {
  @include position(absolute, 0 0 0 null);
  width: 40px;
  margin: 0;
  padding: 2px;
  font-size: 22px;
  color: #777;
 }
}
.modal-body {
 background-color: #F2F2F2;
 @include position(absolute, 41px 0 46px 0);
 overflow-y: auto;
}
.modal-footer {
 @include position(absolute, null 0 0 0);
 @include linear-gradient(70deg, #CCC 0%, #FFF 50%, #EEE 51%, #CCC 100%);
 height: 45px;
 padding: 4px;
 .md-button {
  margin: 0;
  padding: 0 12px;
  .gb-disabled {
   background-color: transparent!important;
  }
 }
}

.modal-xl {
 @include position(absolute, 20px 20px 20px 20px);
 .modal-content {
  @include position(absolute, 0 0 0 0);
 }
 .modal-header {

 }
 .modal-body {
  @include position(absolute, 41px 0 46px 0);
 }
 .modal-footer {
  @include position(absolute, null 0 0 0);
  height: 45px;
  padding: 5px;
 }
}

.modal-component-view {
 @include position(absolute, 10px 10px 10px 10px);
 @include respond-to (gb-xs) {
  @include position(absolute, 0 0 0 0);
  margin: 0;
 }
 .modal-content {
  @include position(absolute, 0 0 0 0);
 }

 .modal-header {
  padding: 0;
  @include position(absolute, 0 0 null 0);
  @include linear-gradient(70deg, #EEE 0%, #DDD 50%, #EEE 51%, #FFF 100%);
  height: 70px;
  font-weight: normal;
 }

 .gb-modal-header {
  position: relative;
  height: 40px;
  .gb-back {
   @include position(absolute, 0 null 0 0);
   line-height: 36px;
   width: 40px;
   margin: 0;
   padding: 2px;
   font-size: 22px;
   color: #777;
  }
  .gb-title {
   @include position(absolute, 0 80px 0 40px);
   padding: 8px 8px 8px 0;
   font-size: 16px;
  }
  .gb-new-window {
   @include position(absolute, 0 40px 0 null);
   line-height: 36px;
   width: 30px;
   margin: 0;
   padding: 2px;
   font-size: 18px;
   color: #777;
  }
  .gb-close {
   @include position(absolute, 0 0 0 null);
   line-height: 36px;
   width: 30px;
   margin: 0;
   padding: 2px;
   font-size: 22px;
   color: #777;
  }
 }

 .gb-modal-subheader {
  position: relative;
  //@include position(absolute, 41px 0 46px 0);
  font-weight: normal;
  height: 30px;
  border-bottom: #BBB solid 3px;

  .nav-tabs {
   height: 30px;
   border: none;
   li {
    height: 100%;
    border-bottom: transparent solid 3px;
    &:hover {
     border-bottom: rgba($primary-color, 0.4) solid 3px;
    }
    &.active {
     border-bottom: rgba($primary-color, 0.6) solid 3px;
     .md-button {
      background-color: transparent;
     }
    }
    .md-button {
     background-color: transparent;
     padding: 6px 12px;
     margin: 0;
     height: 100%;
     line-height: 15px;
     font-size: 10px;
     border-radius: 0;
     border: none;
     &.gb-settings-btn {
      line-height: 15px;
      font-size: 15px;
     }
    }
   }
  }
 }
 .modal-body {
  @include position(absolute, 71px 0 70px 0);
  padding-top: 10px;

 }
 .modal-footer {
  text-align: left;
  background-image: none;
  background-color: #FFF;
  @include position(absolute, null 0 0 0);
  height: 70px;
  padding: 0px;
  .gb-toolbar-section {
   width: 100%;
   height: 30px;
   border-bottom: #CCC solid 1px;
   .gb-selected-app {
    margin: 6px 5px;
    font-weight: normal;
   }
   .md-button {
    height: 30px;
    line-height: 30px;
    margin: 0;
    color: #999;
   }
  }
  .gb-new-item-form {
   height: 40px;
   overflow: hidden;
   margin: 0;
   md-input-container {
    margin: 0;
    padding: 0;
   }
   input {
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #FFF;
   }
  }
 }
}


.modal-gb-search {
 @include position(absolute, 0 0 null 0);
 min-height: 50px;
 .gb-search-back {
  .md-button{
   color: rgba($primary-color, 0.6);
   font-size: 25px;
   line-height: 40px;
  }
 }
 .gb-search {
  md-input-container {
   margin: 0;
  }
  height: 100%;
  padding: 5px 0;
  .gb-clear-btn {
   @include position(absolute, 4px 60px null null);
   padding: 0 12px;
   color: #AAA;
   font-weight: normal;
  }
  .gb-search-icon-placeholder {
   @include position(absolute, 8px null null 5px);
   padding: 0 12px;
   font-size: 25px;
   color: #DDD;
   font-weight: normal;
  }
  .ui-select-bootstrap .ui-select-toggle > .caret {
   display: none;
  }
  .ui-select-placeholder {
   font-size: 12px;
   color: #777;
   font-weight: 200;
  }
  .form-control {
   border: none!important;
   padding: 3px 30px 3px 10px;
   height: 40px;
   margin-bottom: 0;
   &.btn-default {
    background-color: #F9F9F9;
   }
  }

  .gb-input-form-group {
   padding-left: 30px;
   padding-right: 20px;
   margin-bottom: 0;
  }
  .gb-input-btn-group {
   @include position(absolute, 0 0 null null);
   .btn {
    height: 30px;
   }
  }

 }
 .gb-search-close {
  .md-button{
   font-size: 30px;
  }
 }
}

.modal-menu {
 .gb-logo {
  padding: 0 0 0 10px!important;
  float: left;
  height: 100%;
  line-height: 45px;
  color: rgba($primary-color, 0.8);
  font-size: 20px;
  .gb-logo-icon {
   font-size: 15px!important;
   line-height: 43px;
   color: rgba($primary-color, 0.6);
  }
  .gb-logo-name {
   display: inline-block;
  }
  strong {
   font-weight: 850;
   color: #555;
  }
  .gb-beta {
   font-size: 5px;
   color: #FF1B1B;
  }

  @include respond-to (gb-sm) {
   .gb-logo-icon {
    font-size: 12px;
   }
  }

  @include respond-to (gb-xs) {
   padding: 0 2px 0 0;
   .gb-logo-icon {
    font-size: 12px;
   }
  }
 }

 .gb-close {
  @include position(absolute, 0 0 null null);
  z-index: 1;
  margin: 0 0 0 0;
  padding: 6px 14px;
  font-size: 20px;
 }
 .modal-content {
  width: 250px;
  background-color: transparent;
  @include respond-to (gb-xs) {
   width: 250px;
  }
 }
 .modal-body {
  padding: 0;
  @include position(absolute, 0 0 0 0);
 }
}



/*!
 * angular-aside - v1.3.2
 * https://github.com/dbtek/angular-aside
 * 2015-11-17
 * Copyright (c) 2015 İsmail Demirbilek
 * License: MIT
 */

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

@-webkit-keyframes fadeInLeft {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
 }
}

@keyframes fadeInLeft {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
 }
}

.fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
 }
}

@keyframes fadeInRight {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
 }
}

.fadeInRight {
 -webkit-animation-name: fadeInRight;
 animation-name: fadeInRight;
}

@-webkit-keyframes fadeInTop {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
 }
}

@keyframes fadeInTop {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
 }
}

.fadeInTop {
 -webkit-animation-name: fadeInTop;
 animation-name: fadeInTop;
}

@-webkit-keyframes fadeInBottom {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
 }
}

@keyframes fadeInBottom {
 0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
 }

 100% {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
 }
}

.fadeInBottom {
 -webkit-animation-name: fadeInBottom;
 animation-name: fadeInBottom;
}

@-webkit-keyframes fadeOutLeft {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
 }
}

@keyframes fadeOutLeft {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
 }
}

.fadeOutLeft {
 -webkit-animation-name: fadeOutLeft;
 animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
 }
}

@keyframes fadeOutRight {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
 }
}

.fadeOutRight {
 -webkit-animation-name: fadeOutRight;
 animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutUp {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
 }
}

@keyframes fadeOutUp {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
 }
}

.fadeOutUp {
 -webkit-animation-name: fadeOutUp;
 animation-name: fadeOutUp;
}


@-webkit-keyframes fadeOutDown {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
 }
}

@keyframes fadeOutDown {
 0% {
  opacity: 1;
 }

 100% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
 }
}

.fadeOutDown {
 -webkit-animation-name: fadeOutDown;
 animation-name: fadeOutDown;
}
/* Common */

.ng-aside {
 overflow-y: auto;
 overflow-x: hidden;
}

.ng-aside .modal-dialog {
 position: absolute;
 margin: 0;
 padding: 0;
}

.ng-aside.fade .modal-dialog {
 -o-transition: none;
 -moz-transition: none;
 -ms-transition: none;
 -webkit-transition: none;
 transition: none;
 /*CSS transforms*/
 -o-transform: none;
 -moz-transform: none;
 -ms-transform: none;
 -webkit-transform: none;
 transform: none;
}

.ng-aside .modal-dialog .modal-content {
 overflow-y: auto;
 overflow-x: hidden;
 border: none;
 border-radius: 0;
}

/* Horizontal */

.ng-aside.horizontal {
 height: 100%;
}

.ng-aside.horizontal .modal-dialog .modal-content {
 height: 100%;
}

.ng-aside.horizontal .modal-dialog {
 position: absolute;
 top: 0;
 height: 100%;
}

.modal-open .ng-aside.horizontal.left .modal-dialog {
 animation: fadeOutLeft 250ms;
 -webkit-animation: fadeOutLeft 250ms;
 -moz-animation: fadeOutLeft 250ms;
 -o-animation: fadeOutLeft 250ms;
 -ms-animation: fadeOutLeft 250ms;
}

.ng-aside.horizontal.left.in .modal-dialog {
 animation: fadeInLeft 400ms;
 -webkit-animation: fadeInLeft 400ms;
 -moz-animation: fadeInLeft 400ms;
 -o-animation: fadeInLeft 400ms;
 -ms-animation: fadeInLeft 400ms;
}

.ng-aside.horizontal.left .modal-dialog {
 left: 0;
}

.ng-aside.horizontal.right .modal-dialog {
 animation: fadeOutRight 400ms;
 -webkit-animation: fadeOutRight 400ms;
 -moz-animation: fadeOutRight 400ms;
 -o-animation: fadeOutRight 400ms;
 -ms-animation: fadeOutRight 400ms;
}

.ng-aside.horizontal.right.in .modal-dialog {
 animation: fadeInRight 250ms;
 -webkit-animation: fadeInRight 250ms;
}

.ng-aside.horizontal.right .modal-dialog {
 right: 0;
}

/* Vertical */

.ng-aside.vertical {
 width: 100% !important;
 overflow: hidden;
}

.ng-aside.vertical .modal-dialog {
 left: 0;
 right: 0;
 width: 100% !important;
}

.ng-aside.vertical .modal-dialog .modal-content {
 max-height: 400px;
}

.ng-aside.vertical.top .modal-dialog {
 animation: fadeOutUp 250ms;
 -webkit-animation: fadeOutUp 250ms;
 -webkit-animation: fadeOutUp 250ms;
 -moz-animation: fadeOutUp 250ms;
 -o-animation: fadeOutUp 250ms;
 -ms-animation: fadeOutUp 250ms;
}

.ng-aside.vertical.top.in .modal-dialog {
 animation: fadeInTop 250ms;
 -webkit-animation: fadeInTop 250ms;
 -webkit-animation: fadeInTop 250ms;
 -moz-animation: fadeInTop 250ms;
 -o-animation: fadeInTop 250ms;
 -ms-animation: fadeInTop 250ms;
}

.ng-aside.vertical.bottom .modal-dialog {
 animation: fadeOutDown 250ms;
 -webkit-animation: fadeOutDown 250ms;
 -webkit-animation: fadeOutDown 250ms;
 -moz-animation: fadeOutDown 250ms;
 -o-animation: fadeOutDown 250ms;
 -ms-animation: fadeOutDown 250ms;
}
.ng-aside.vertical.bottom.in .modal-dialog {
 animation: fadeInBottom 250ms;
 -webkit-animation: fadeInBottom 250ms;
 -webkit-animation: fadeInBottom 250ms;
 -moz-animation: fadeInBottom 250ms;
 -o-animation: fadeInBottom 250ms;
 -ms-animation: fadeInBottom 250ms;
}

.ng-aside.vertical.bottom .modal-dialog {
 bottom: 0;
}

.ng-aside.vertical.top .modal-dialog {
 top: 0;
}

.ng-aside.vertical .modal-dialog .modal-content {
 width: 100%;
}