<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gb-padding-thin">
  <div class="gb-heading-row-1 gb-shadow-1 row">
   <div class="gb-heading-icon gb-shadow-1">
    <i class="fa icon-gb-community"></i>
   </div>
   <div class="gb-title col-lg-5 col-md-6 col-sm-6 col-xs-6">
    <p class="gb-ellipsis">
     CONNECTIONS
    </p>
   </div>
  </div>
 </div>
</div>
<div class="row">
 <div class="gb-list row">
  <div ng-repeat="user in profileCommunityCtrl.connections" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 gb-padding-thin"
       ng-init="ss = usersTabCtrl.explorerContributionsSrv.getExplorerContributionLevel(createExplorerContributionCtrl.explorerId, user.id)">
   <div class="gb-person-box gb-shadow-1">
    <img src="public/img/profile_pic/{{user.friend.avatar_url}}" class="gb-profile-img" alt="">
    <div class="gb-box-body">
     <div class="gb-heading row">
      <p class="gb-title">
       NOT CONNECTED
      </p>
     </div>
     <div class="gb-description row">
      <a ui-sref="apps.profile.overview({profileId: user.friend.id})" class="gb-ellipsis">
       {{user.friend.firstname + " " + user.friend.lastname}}
      </a>
     </div>
    </div>
    <div class="gb-footer">
     <a class="btn btn-default col-lg-12 col-md-12 col-sm-12 col-xs-12"
        ng-click="usersTabCtrl.sendRequest(user.friend.id)">
      Request
     </a>
    </div>
   </div>
  </div>
 </div>
 <div class="gb-dummy-height row"></div>
</div>

<!-- ------------------------------- MODALS --------------------------->

<script type="text/ng-template" id="add-community-modal.html">
 <div ng-include="'public/modules/communitys/views/modals/add-community.html'"></div>
</script>