<!--
LINEAR VIEW STORY
-->
<div class="gb-container gb-section-row widget-group gb-section-widget-group md-whiteframe-2dp"
     layout="row" layout-align="start" layout-wrap flex>
 <ms-widget class="gb-add-component-widget" layout="column" flex="33">
  <ms-widget-front layout="row" layout-fill flex>
   <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.apps)" class="gb-main-button"
              layout="row" layout-align="start stretch" flex>
    <div class="gb-title-icon deep-purple-400-fg" layout-fill layout="row" layout-align="center center" flex>
     <i class="fa icon-tree"></i>
    </div>
    <div class="gb-widget-content" layout="column" layout-align="center stretch" flex>
     <div class="gb-title">
      ADD COMPONENTS
     </div>
     <div class="gb-description" hide>
      Break down into subcomponents and related components
     </div>
    </div>
   </md-button>
  </ms-widget-front>
 </ms-widget>
 <ms-widget class="gb-add-component-widget" layout="column" flex="33">
  <ms-widget-front layout="row" layout-fill flex>
   <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.motives)" class="gb-main-button"
              layout="row" layout-align="start stretch" flex>
    <div class="gb-title-icon green-400-fg" layout-fill layout="row" layout-align="center center" flex>
     <i class="fa fa-file-text-o"></i>
    </div>
    <div class="gb-widget-content" layout="column" layout-align="center stretch" flex>
     <div class="gb-title">
      ADD BACKGROUND
     </div>
     <div class="gb-description" hide>
      Add any prerequisites, motivations, background information
     </div>
    </div>
   </md-button>
  </ms-widget-front>
 </ms-widget>
 <ms-widget class="gb-add-component-widget" layout="column" flex="33">
  <ms-widget-front layout="row" layout-fill flex>
   <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.activities)" class="gb-main-button"
              layout="row" layout-align="start stretch" flex>
    <div class="gb-title-icon indigo-400-fg" layout-fill layout="row" layout-align="center center" flex>
     <i class="fa icon-gb-activity"></i>
    </div>
    <div class="gb-widget-content" layout="column" layout-align="center stretch" flex>
     <div class="gb-title">
      ADD ACTIVITIES
     </div>
     <div class="gb-description" hide>
      Any actions like components, exercises, steps, guidelines, questions
     </div>
    </div>
   </md-button>
  </ms-widget-front>
 </ms-widget>
</div>
<div class="gb-container gb-card-row gb-section-row md-whiteframe-1dp" layout="column" layout-align="start stretch">
 <md-toolbar class="gb-heading">
  <div class="md-toolbar-tools">
   <md-button class="md-icon-button" aria-label="Description Icon">
    <md-icon class="gb-title-icon" md-font-icon="fa icon-books"></md-icon>
   </md-button>
   <div class="gb-heading-title">
    <span class="ellipsis">
     Stories
    </span>
   </div>
   <span flex></span>
   <md-button ng-click="vm.openAddComponentDialog($event, vm.componentId, vm.tabs.contributions)"
              class="gb-action-btn">
    <md-icon class="" md-font-icon="fa fa-plus"></md-icon>
   </md-button>
  </div>
 </md-toolbar>
 <div class="gb-section-row widget-group gb-section-widget-group"
      layout="row" layout-align="start" flex>
  <ms-widget flippable="true" class="p-8 gb-component-story-widget" layout="column" flex="33"
             ng-click="vm.startComponentStoryDialog($event, vm.componentId)">
   <ms-widget-front class="p-8" layout="row" flex>
    <div layout="column" layout-align="center center" flex>
     <div class="gb-count">
      {{::componentLinearCtrl.component.stats.activities_count}}
     </div>
     <div class="gb-title">
      Default
     </div>
    </div>
    <div class="background-image-center">
     <md-icon md-font-icon="fa fa-book" class="gb-background-icon"></md-icon>
    </div>
   </ms-widget-front>
  </ms-widget>
 </div>
</div>