md-dialog {

 &.gb-component-cotribution-dialog {
  @include position(absolute, 40px 0 0 0);
  background-color: #ECEFF1;
  @include deep-width(initial);
  @include deep-height(initial);
  overflow: hidden;

  md-toolbar {
   @include deep-height(60px);
   background-color: rgba($gb-primary-color, 0.8);

   .md-toolbar-tools {

    > .md-menu {
     display: flex;
     align-items: center;
     height: 100%;

     .md-button {

     }
    }
   }

   .gb-card-profile {
    overflow: hidden;
    position: relative;
    @include deep-height(60px);
    width: auto;
    background-color: transparent;
    .gb-indicator {
     @include position(absolute, 5px  null null 5px);
     height: 5px;
     width: 30px;
    }

    .gb-image {
     @include position(absolute, 10px null 10px 10px);
     padding-top: 10px;
     text-align: center;
     font-size: 15px;
     height: 40px;
     width: 40px;
     border-radius: 50%;
     overflow: hidden;
     .gb-heading-pic {
      @include position(absolute, 0 0 0 0);
      height: 100%;
      width: 100%;
      border-radius: 50%;
     }
    }
    .gb-box-content {
     @include position(absolute, 0 0 0 50px);
     height: auto;
     padding: 12px 8px;
     line-height: 18px;
     .gb-title {
      color: #555;
      text-decoration: none;
      //font-size:18px;
      //margin-top: 5px;
      padding: 0;
      a {
       color: #111;
       text-decoration: none;
       cursor: pointer;
       font-size: 14px;
       font-weight: 400;
      }
     }

     .gb-subdescription {
      margin-bottom: 0px;
      font-size: 12px;
      height: auto;
      color: #888;
     }

     .gb-description {
      height: auto;
      font-size: 14px;
      .gb-name-badge-1 {
       position: relative;
       //float: right;
       height: 30px;
       padding-left: 25px;
       font-size: 11px;
       .gb-name {
        padding-top: 6px;
        padding-left: 0px;
       }
       .gb-profile-image {
        @include position(absolute, 4px null null 0px);
        // right: auto;
        height: 20px;
        width: 20px;
        img {
         border-radius: 50%;
         height: 100%;
         width: 100%;
        }
       }
      }
     }
    }
   }

  }

  md-dialog-content {
   position: relative;
   background-color: #F5F5F5;

  }
 }
}