<!--
LINEAR VIEW
-->

<div class="gb-header gb-header-2 md-accent-bg" layout="column" layout-align="space-between center" >
 <div class="gb-cover-overlap" ></div>
 <div class="gb-cover" ng-style="$root.headerStyle"></div>
 <div class="gb-container user-info" layout="column" layout-align="center center">
  <img class="profile-image avatar huge" ng-src="src/assets/images/explorer/{{componentLinearCtrl.component.component_picture_url}}">
  <div class="gb-title">
   <p class="gb-ellipsis">
    {{componentLinearCtrl.component.title}}
   </p>
  </div>
 </div>
 <div class="actions" layout="row" layout-align="end center">
  <md-button class="md-raised md-accent" aria-label="Follow" translate="PROFILE.FOLLOW"
             translate-attr-aria-label="PROFILE.FOLLOW">Add
  </md-button>
  <md-button class="md-raised md-primary" translate="PROFILE.SEND_MESSAGE"
             translate-attr-aria-label="PROFILE.SEND_MESSAGE">Send Message
  </md-button>
 </div>
</div>
<div  class="gb-tabs-1 md-whiteframe-1dp" layout="column" layout-align="center center" flex>
 <div class="gb-container" layout="row" flex>
  <md-tabs md-selected="selectedIndex" md-stretch-tabs="always" class="">
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.home({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa fa-home"></i>
      </div>
      <div class="gb-title">
       Overview
      </div>
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.activities({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa icon-gb-apps"></i>
      </div>
      <div class="gb-title">
       Activities
      </div>
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.timeline({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa fa-times-circle"></i>
      </div>
      <div class="gb-title">
       Timeline
      </div>
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.calendar({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa fa-calendar"></i>
      </div>
      <div class="gb-title">
       Calendar
      </div>
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.discussions({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa fa-comments-o"></i>
      </div>
      <div class="gb-title">
       Discussion
      </div>
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.graphs({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa fa-bar-chart-o"></i>
      </div>
      <div class="gb-title">
       Graphs
      </div>
     </div>
    </md-tab-label>
   </md-tab>
   <md-tab>
    <md-tab-label>
     <div class="gb-tab-button" ui-sref="app.componentLinearView.settings({id: componentLinearCtrl.component.id})">
      <div class="gb-icon">
       <i class="fa fa-cog"></i>
      </div>
      <div class="gb-title">
       Settings
      </div>
     </div>
    </md-tab-label>
   </md-tab>
  </md-tabs>
 </div>
</div>
<div ui-view="tab" class="gb-component-tab" layout="column" layout-align="center center" flex></div>
