<!--
SWIPE TAB VIEW
-->
<div class="gb-container widget-group gb-card-row" layout="row" flex="70">
 <ms-widget flippable="true" class="gb-description-widget" layout="column" flex="100">
  <ms-widget-front class="md-whiteframe-2dp" layout="row" flex>
   <div layout="column" layout-align="start start" flex>
    <md-toolbar class="gb-heading">
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Description Icon">
       <md-icon class="gb-title-icon" md-font-icon="fa icon-gb-{{vm.component.type.title.toLowerCase()}}"></md-icon>
      </md-button>
      <div class="gb-heading-title">
       <span class="ellipsis">
        {{vm.component.type.title}}
       </span>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
       <md-icon class="gb-title-icon" md-font-icon="fa fa-ellipsis-v"></md-icon>
      </md-button>
     </div>
    </md-toolbar>
    <div class="gb-title">
     {{vm.component.title}}
    </div>
   </div>
   <div class="background-image-center" layout-align="center center"  flex>
    <md-icon md-font-icon="fa icon-gb-{{vm.component.type.title.toLowerCase()}}" class="gb-app-icon"></md-icon>
   </div>
  </ms-widget-front>
  <ms-widget-back class="grey-50-bg">
   <md-toolbar class="gb-heading">
    <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Description Icon">
      <md-icon class="gb-title-icon" md-font-icon="fa fa-pencil"></md-icon>
     </md-button>
     <div class="gb-heading-title">
      <span class="ellipsis">
       Description
      </span>
     </div>
     <span flex></span>
     <md-button class="md-icon-button" ng-click="flipWidget(); $event.stopPropagation()" aria-label="Flip widget">
      <md-icon class="gb-title-icon" md-font-icon="fa fa-times"></md-icon>
     </md-button>
    </div>
   </md-toolbar>
   <div class="gb-title">
    {{vm.component.description}}
   </div>
  </ms-widget-back>
 </ms-widget>
</div>

<div class="gb-container" layout="row" flex="100">
 <md-button type="button" ng-click="vm.createSwipe(vm.swipeTypes.notnow)"
            class="md-raised">
  Not Now
 </md-button>
 <md-button type="button" ng-click="vm.createSwipe(vm.swipeTypes.explore)"
            class="md-primary md-raised">
  Explore
 </md-button>
</div>

<div class="gb-container md-whiteframe-2dp" layout="column" layout-align="" flex>
 <div id="gb-components" class="gb-list row">
  <div ng-repeat="swipe in vm.components" class="gb-card-1 row">
   <div class="gb-swipe-indicator gb-swipe-indicator-{{swipe.level.code}}">

   </div>
   <div class="gb-icon-image col-lg-3 col-md-3 col-sm-3 col-xs-3">
    <img data-ui-sref="apps.component.overview({componentId: component.id})"
         ng-src="public/img/component/{{ ::swipe.component.component_picture_url}}"
         onerror="this.src = 'public/img/component/default.png'" class="gb-heading-pic" alt="">

   </div>
   <div class="gb-box-body col-lg-9 col-md-9 col-sm-9 col-xs-9">
    <div class="gb-heading row">
     <p class="gb-title">{{swipe.component.app_type.title + " - " + swipe.component.level.title}}</p>
     <div class="gb-dropdown-action">
      <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <i class="fa fa-chevron-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
       <li>
        <a href ui-sref="apps.componentItem.explore({componentId: component.id})">
         Open
        </a>
       </li>
      </ul>
     </div>
    </div>
    <div class="gb-description row">
     <a href ui-sref="apps.componentItem.explore({componentId: swipe.component.id})" class="">
      {{swipe.component.title}}
     </a>
     {{swipe.component.description}}
    </div>
    <div class="gb-footer row">
     <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
      <h5 class="gb-ellipsis"><a>{{swipe.component.creator.firstname + ' ' + swipe.component.creator.lastname}}</a></h5>
     </div>
     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 gb-padding-thin">

     </div>
    </div>
   </div>
  </div>
 </div>
</div>
