<!--
SWIPE HISTORY TAB VIEW
-->

<div class="gb-container gb-card-row" layout="column" layout-align="start center" flex="100">
 <md-toolbar class="gb-heading" flex="100">
  <div class="md-toolbar-tools">
   <div class="gb-heading-title">
    <span class="ellipsis">
     Matcher History
    </span>
   </div>
  </div>
 </md-toolbar>
</div>
<div class="gb-container">
 <div class="gb-card-3 md-whiteframe-1dp" ng-repeat="component in vm.components"
      ui-sref="app.componentLinearView.home({id:component.id})">
  <div class="gb-card-cover">
   <div ng-if="component.component_picture_url && component.component_picture_url !== 'default.png'"
        class="gb-cover-image">
    <img ng-src="assets/images/explorer/{{component.component_picture_url}}">
   </div>
   <div ng-if="component.component_placeholder_style"
        class="gb-cover-image"
        ng-style="component.component_placeholder_style">
   </div>
  </div>
  <div class="gb-card-content">
   <div class="gb-description">
    {{component.parent_component.title}}
   </div>
   <div class="gb-title">
    {{component.title}}
   </div>
  </div>
 </div>
</div>
