<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   Add To Explorer
  </p>
 </div>
 <md-button class="gb-close" ng-click="addExplorerCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body">
 <form editable-form name="addExplorerForm">
  <wizard template="public/modules/app/views/templates/wizard.html"
          on-finish="finishedWizard()"
          name="explorer-form"
          current-step="addExplorerCtrl.wizardCurrentStep">
   <wz-step wz-title="Choose App">
    <div class="row">
     <div ng-repeat="appType in addExplorerCtrl.appTypes"
          class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 gb-padding-thin"
          ng-click="addExplorerCtrl.chooseAppType(appType)"
          wz-next value="Fill">
      <md-button class="md-raised gb-apptype-btn">
       <div class="gb-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <i class=" fa icon-gb-{{appType.name.toLowerCase()}}"></i>
       </div>
       <div class="gb-title col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="gb-ellipsis">
         {{appType.name}}
        </div>
       </div>
      </md-button>
     </div>
    </div>
   </wz-step>
   <wz-step wz-title="Fill">
    <div class="form-group row">
     <md-input-container class="md-block">
      <input value="{{addExplorerCtrl.selectedAppType.name}}" ng-readonly="true"
             class=""/>
     </md-input-container>
    </div>
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">Title:</label>
      <textarea ng-model="addExplorerCtrl.explorer.title" name="title" ng-required
                rows="2" placeholder="Title"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      </textarea>
     </md-input-container>
    </div>
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">Description:</label>
      <textarea ng-model="addExplorerCtrl.explorer.description" name="description" ng-required
                rows="5" placeholder="Description"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      </textarea>
     </md-input-container>
    </div>
    <div class="form-group row">
     <div class="row">
      <label class="gb-label control-label row">
       {{addExplorerCtrl.explorer.appType.name}} Level:
      </label>
      <select class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="addExplorerCtrl.explorer.level">
       <option  ng-repeat="option in addExplorerCtrl.explorerLevels" value="{{option.id}}">{{option.name}}</option>
      </select>
     </div>
    </div>
    <br>
    <div class="form-group row">
     <label class="gb-label control-label row">
      Extra
     </label>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div ng-repeat="requestType in addExplorerCtrl.requestTypes" class="form-group row">
       <div class="checkbox">
        <label>
         <input type="checkbox" data-checklist-model="addExplorerCtrl.selectedRequestTypes" data-checklist-value="requestType">
         {{requestType.requestLevel.name}}
        </label>
       </div>
       <textarea ng-model="requestType.explorerRequest.description" name="description"
                 rows="2" placeholder="Display Message"
                 class="form-control">
       </textarea>
       <br>
      </div>
     </div>
    </div>
   </wz-step>
   <wz-step wz-title="Privacy">
    Privacy
   </wz-step>
  </wizard>
 </form>
</div>
<div class="modal-footer">
 <div class="pull-right">
  <md-button class="md-raised md-mini" ng-click="addExplorerCtrl.close()"
             aria-label="Close">
   Close
  </md-button>
  <md-button ng-class="{
    'gb-disabled'
            : addExplorerCtrl.wizardCurrentStep === 'Choose App'}" class="md-raised md-mini" ng-click="addExplorerCtrl.previous()"
             aria-label="Previous">
   Previous
  </md-button>
  <md-button ng-class="{
    'gb-disabled'
            : addExplorerCtrl.wizardCurrentStep === 'Privacy' && addExplorerCtrl.selectedAppType}" class="md-raised md-mini" ng-click="addExplorerCtrl.next()"
             aria-label="Next">
   Next
  </md-button>
  <md-button ng-class="{
    'gb-disabled'
            : addExplorerCtrl.wizardCurrentStep === 'Choose App'}" class="md-raised md-mini" ng-click="addExplorerCtrl.ok()"
             aria-label="Add">
   Add
  </md-button>
 </div>
</div>