<div class="modal-header gb-modal-header row">
 <div class="gb-title">
  <p class="gb-ellipsis">
   Add To Explorer
  </p>
 </div>
 <md-button class="gb-close" ng-click="addExplorerCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body">
 <form name="addExplorerForm1">
  <wizard template="public/modules/app/views/templates/wizard.html"
          on-finish="finishedWizard()"
          name="explorer-form"
          current-step="addExplorerCtrl.wizardCurrentStep">
   <wz-step wz-title="Choose App">
    <div class="row">
     <div ng-repeat="appType in addExplorerCtrl.appTypes"
          class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 gb-padding-thin"
          ng-click="addExplorerCtrl.chooseAppType(appType)"
          wz-next value="Fill">
      <md-button class="md-raised gb-shadow-1 gb-apptype-btn">
       <div class="gb-icon col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <i class=" fa icon-gb-{{appType.name.toLowerCase()}}"></i>
       </div>
       <div class="gb-title col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="gb-ellipsis">
         {{appType.add_description}}
        </div>
       </div>
      </md-button>
     </div>
    </div>
   </wz-step>
   <wz-step wz-title="Fill">
    <br>
    <div class="gb-heading-1">
     <h5>
      {{addExplorerCtrl.selectedAppType.add_description}}
     </h5>
    </div>
    <br>
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">Title:</label>
      <input ng-model="addExplorerCtrl.explorer.title"
             name="title"
             required
             type="text"
             rows="2" placeholder="Title"
             md-maxlength="150"
             ng-maxlength="150"
             maxlength ="150"
             class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 "/>
      <div class="help-block" ng-messages="addExplorerForm1.title.$error">
       <p ng-message="required">Title is required.</p>
      </div>
     </md-input-container>
    </div>
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">Description:</label>
      <textarea textarea2 ng-model="addExplorerCtrl.explorer.description" name="description"
                ng-required
                rows="4" placeholder="Description"
                md-maxlength="150"
                ng-maxlength="150"
                maxlength ="150"
                class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
      </textarea>
     </md-input-container>
    </div>
    <div class="form-group row">
     <div class="row">
      <label class="gb-label control-label row">
       {{addExplorerCtrl.explorer.appType.name}} Level:
      </label>
      <select class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12"
              ng-model="addExplorerCtrl.explorer.level">
       <option ng-repeat="option in addExplorerCtrl.explorerLevels" value="{{option.id}}">{{option.name}}</option>
      </select>
     </div>
    </div>
    <br>
    <div class="form-group row">
     <label class="gb-label control-label row">
      Choose request types
     </label>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div ng-repeat="requestType in addExplorerCtrl.requestTypes" class="form-group row">
       <div class="checkbox">
        <label>
         <input type="checkbox" data-checklist-model="addExplorerCtrl.selectedRequestTypes" data-checklist-value="requestType"
                ng-change="requestType.checked = !requestType.checked">
         {{requestType.requestLevel.name}}
        </label>
       </div>
       <md-input-container ng-show="requestType.checked" class="md-block">
        <input type="text"
               ng-model="requestType.explorerRequest.description"
               placeholder="Display Message"
               md-maxlength="150"
               ng-maxlength="150"
               maxlength ="150"
               class=""/>
       </md-input-container>
      </div>
     </div>
    </div>
   </wz-step>
   <wz-step wz-title="Privacy">
    Privacy
    <md-radio-group ng-model="addExplorerCtrl.explorer.privacy_id" class="gb-primary">
     <md-radio-button ng-repeat="privacyType in addExplorerCtrl.privacyTypes"
                      ng-value="privacyType.id">
      {{ privacyType.name}}
     </md-radio-button>
    </md-radio-group>
    <div ng-show="addExplorerCtrl.explorer.privacy_id === 500002" class="row">
     <md-chips ng-model="addExplorerCtrl.asyncContacts" md-autocomplete-snap
               md-require-match>
      <md-autocomplete
       md-autofocus="true"
       md-no-cache="true"
       md-min-length="1"
       md-selected-item="addExplorerCtrl.filterSelected"
       md-search-text="$query"
       md-items="item in addExplorerCtrl.delayedQuerySearch($query)"
       md-item-text="item.firstname"
       placeholder="Pick something...">
       <md-item-template>
        <md-list-item class="md-2-line contact-item selected">
         <img  ng-src="public/img/profile_pic/{{ item.avatar_url}}"
               class="md-avatar" alt="{{item.firstname}}" />
         <div class="md-list-item-text compact">
          <h3> {{item.firstname + ' ' + item.lastname| chars:10:' ...'}}</h3>
          <p>{{item.email}}</p>
         </div>
        </md-list-item>
       </md-item-template>
      </md-autocomplete>
      <md-chip-template>
       <span>
        {{$chip.firstname + ' ' + $chip.lastname| chars:10:' ...'}}
       </span>
      </md-chip-template>
     </md-chips>
    </div>
   </wz-step>
  </wizard>
 </form>
</div>
<div class="modal-footer">
 <div class="pull-right">
  <md-button class="" ng-click="addExplorerCtrl.close()"
             aria-label="Close">
   Close
  </md-button>
  <md-button ng-class="{
    'gb-disabled'
    : addExplorerCtrl.wizardCurrentStep === 'Choose App'}" class="" ng-click="addExplorerCtrl.previous()"
             aria-label="Previous">
   Previous
  </md-button>
  <md-button ng-class="{
    'gb-disabled'
    : addExplorerCtrl.wizardCurrentStep === 'Privacy' && addExplorerCtrl.selectedAppType}" class="" ng-click="addExplorerCtrl.next()"
             aria-label="Next">
   Next
  </md-button>
  <md-button ng-class="{
    'gb-disabled'
    : addExplorerCtrl.wizardCurrentStep === 'Choose App'}" class="" ng-click="addExplorerCtrl.ok()"
             aria-label="Add">
   Add
  </md-button>
 </div>
</div>