<div class="modal-header gb-modal-header row">
 <div class="gb-title col-lg-11 col-md-10 col-sm-10 col-xs-10">
  <p class="gb-ellipsis">
   Explorer Request
  </p>
 </div>
 <md-button class="gb-close" ng-click="createRequestExplorerCtrl.close()">
  x
 </md-button>
</div>
<div class="modal-body gb-modal-body">
 <form editable-form name="addExplorerForm">
  <wizard template="public/modules/app/views/templates/wizard.html"
          on-finish="finishedWizard()"
          name="explorer-form"
          current-step="createRequestExplorerCtrl.wizardCurrentStep">
   <wz-step wz-title="Choose App">
    <div class="row">
     <div ng-repeat="requestOption in createRequestExplorerCtrl.requestOptions"
          class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 gb-padding-thin"
          ng-click="createRequestExplorerCtrl.chooseRequestOption(requestOption)"
          wz-next value="Fill">
      <md-button class="md-raised gb-apptype-btn-2">
       <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <i class="gb-icon fa {{requestOption.level.icon}}"></i>
       </div>
       <div class="gb-title text-left col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <h5>{{requestOption.level.description}}</h5>
        <p>{{requestOption.description ? requestOption.description:"no message to show"}}</p>
       </div>
      </md-button>
     </div>
    </div>
   </wz-step>
   <wz-step wz-title="Fill">
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">
       App Name:
      </label>
      <input value="{{createRequestExplorerCtrl.selectedRequestOption.level.description}}" ng-readonly="true"
             class=""/>
     </md-input-container>
    </div>
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">
       Title:
      </label>
      <textarea ng-model="createRequestExplorerCtrl.explorer.title" name="title" required
                rows="2" placeholder="title"
                class="form-control">
      </textarea>
     </md-input-container>
    </div>
    <div class="form-group row">
     <md-input-container class="md-block">
      <label class="">
       Description:
      </label>
      <textarea ng-model="createRequestExplorerCtrl.explorer.description" name="description" required
                rows="5" placeholder="description"
                class="form-control">
      </textarea>
     </md-input-container>
    </div>
    <div class="form-group row">
     <label class="gb-label control-label">
      {{createRequestExplorerCtrl.explorer.appType.name}} Level:
     </label>
     <select class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-model="createRequestExplorerCtrl.explorer.level">
      <option  ng-repeat="option in createRequestExplorerCtrl.explorerLevels" value="{{option.id}}">{{option.name}}</option>
     </select>
    </div>
    <div class="form-group row">
     <label class="gb-label control-label row">
      Extra
     </label>
     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div ng-repeat="requestType in createRequestExplorerCtrl.requestTypes" class="row">
       <div class="checkbox">
        <label>
         <input type="checkbox" data-checklist-model="createRequestExplorerCtrl.selectedRequestTypes" data-checklist-value="requestType">
         {{requestType.requestLevel.name}}
        </label>
       </div>
       <textarea ng-model="requestType.explorerRequest.description" name="description"
                 rows="2" placeholder="Display Message"
                 class="form-control col-lg-12 col-md-12 col-sm-12 col-xs-12">
       </textarea>
       <br>
      </div>
     </div>
    </div>
   </wz-step>
   <wz-step wz-title="Privacy">
    Privacy
   </wz-step>
  </wizard>
 </form>
</div>
<div class="modal-footer">
 <div class="btn-group pull-right col-lg-8 col-md-8 col-sm-8 col-xs-8">
  <a class="btn gb-btn gb-btn-sm col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="createRequestExplorerCtrl.close()">
   Close
  </a>
  <a ng-class="{
    'gb-disabled'
            : createRequestExplorerCtrl.wizardCurrentStep === 'Choose App'}" class="btn gb-btn gb-btn-sm col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="createRequestExplorerCtrl.previous()">
   Previous
  </a>
  <a ng-class="{
    'gb-disabled'
            : createRequestExplorerCtrl.wizardCurrentStep === 'Privacy' && createRequestExplorerCtrl.selectedRequestOption}" class="btn gb-btn gb-btn-sm col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="createRequestExplorerCtrl.next()">
   Next
  </a>
  <a ng-class="{
    'gb-disabled'
    : createRequestExplorerCtrl.wizardCurrentStep === 'Choose App'}" class="btn gb-btn gb-btn-sm col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="createRequestExplorerCtrl.ok()">
   Add
  </a>
 </div>
</div>