<div class="gb-container gb-app-list col-lg-6 col-md-8 col-sm-11 col-xs-12">
 <section class="gb-shadow-1 gb-background-white gb-section-row-2 gb-padding-none row">
  <header class="gb-heading row">
   <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
    <p class="gb-title gb-ellipsis">
     {{$root.appName}}
    </p>
   </div>
   <div class="gb-action col-lg-2 col-md-2 col-sm-3 col-xs-3">
    <md-button class="md-fab md-mini md-default pull-right" ng-click="$root.openAddExplorerModal()">
     <i class="fa fa-plus"></i>
    </md-button>
   </div>
  </header>
  <div class="row">
   <ul class="nav gb-icon-top-nav-1">
    <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis" ui-sref="apps.explorers.all">
     <i class="gb-icon fa icon-gb-discover"></i>
     <div class="gb-title">
      ALL
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'skills'})">
     <i class="gb-icon fa icon-gb-skills"></i>
     <div class="gb-title">
      SKILLS
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'goals'})">
     <i class="gb-icon fa icon-gb-goals"></i>
     <div class="gb-title">
      GOALS
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'promises'})">
     <i class="gb-icon fa icon-gb-promises"></i>
     <div class="gb-title">
      PROMISES
     </div>
    </md-button>
    </li>
    <li ui-sref-active="active" class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
    <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'hobbies'})">
     <i class="gb-icon fa icon-gb-hobbies"></i>
     <div class="gb-title">
      HOBBIES
     </div>
    </md-button>
    </li>
    <li class="btn-group col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <md-button class="gb-ellipsis dropdown-toggle" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" ui-sref="apps.explorers.skill">
     <i class="gb-icon fa fa-ellipsis-h"></i>
     <div class="gb-title">
      MORE
     </div>
    </md-button>
    <ul class="dropdown-menu dropdown-menu-right">
     <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md hidden-sm visible-xs">
     <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'hobby'})">
      <i class="gb-icon fa icon-gb-hobbies"></i>
      <div class="gb-title">
       HOBBIES
      </div>
     </md-button>
     </li>
     <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'mentorships'})">
      <i class="gb-icon fa icon-gb-mentorships"></i>
      <div class="gb-title">
       MENTORSHIP
      </div>
     </md-button>
     </li>
     <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'advices'})">
      <i class="gb-icon fa icon-gb-advices"></i>
      <div class="gb-title">
       ADVICE
      </div>
     </md-button>
     </li>
     <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'teach'})">
      <i class="gb-icon fa icon-gb-teach"></i>
      <div class="gb-title">
       TEACH
      </div>
     </md-button>
     </li>
     <li ui-sref-active="active" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
     <md-button class="gb-ellipsis" ui-sref="apps.explorers.app({'app_name': 'collaborations'})">
      <i class="gb-icon fa icon-gb-collaborations"></i>
      <div class="gb-title">
       COLLABORATION
      </div>
     </md-button>
     </li>
     <li role="separator" class="divider"></li>
    </ul>
    </li>
   </ul>
  </div>
 </section>
 <div data-ui-view="app-tab" class=""></div>
</div>
<!-- ------------------------------- MODALS --------------------------->

<script type="text/ng-template" id="add-explorer-modal.html">
 <div ng-include="'public/modules/explorer/views/add-explorer-modal.html'"></div>
</script>
<script type="text/ng-template" id="add-request-explorer-modal.html">
 <div ng-include="'public/modules/explorer/views/create-request-explorer-modal.html'"></div>
</script>