
<div class="gb-app-list">
 <div class="row" ng-include="'public/modules/app/views/top-hero-bar.html'"></div>
 <div class="container">
  <div class="gb-icon-nav-1 row">
   <ul class="gb-body-row-4 gb-inline">
    <li ng-repeat="app in appsCtrl.apps track by $index"
        class="gb-card-holder gb-card-md gb-padding-medium">
     <div class="gb-card-apps gb-app-type-{{::app.id}}">
      <i class="gb-icon fa {{::app.icon}}"></i>
      <div class="gb-title">
       {{::app.title}}
      </div>
      <p class="gb-description">
       {{::app.long_description}}
      </p>
      <md-button class="gb-learn-more-btn"
                 ui-sref="apps.app({'app_name': '{{::app.title}}'})">
       Explore More
      </md-button>
     </div>
    </li>
   </ul>
  </div> <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-heading-row-4 row">
     <div class="gb-heading-icon">
      <i class="fa icon-gb-mentorships"></i>
     </div>
     <div class="gb-title">
      <p class="gb-ellipsis">
       FEATURED MENTORSHIPS
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class='gb-body-row-4 gb-inline'>
   <div ng-repeat="explorer in explorersCtrl.explorers.mentorships"
        class="gb-card-holder gb-card-sm gb-padding-medium"
        gb-explorer-box explorer="explorer"
        template-url="{{appsCtrl.getTemplateUrl(explorer, '-sm')}}">
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-heading-row-4 row">
     <div class="gb-heading-icon">
      <i class="fa icon-gb-skills"></i>
     </div>
     <div class="gb-title">
      <p class="gb-ellipsis">
       FEATURED SKILLS
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class='gb-body-row-4 gb-inline'>
   <div ng-repeat="explorer in explorersCtrl.explorers.skills"
        class="gb-card-holder gb-card-sm gb-padding-medium"
        gb-explorer-box explorer="explorer"
        template-url="{{appsCtrl.getTemplateUrl(explorer, '-sm')}}">
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-heading-row-4 row">
     <div class="gb-heading-icon">
      <i class="fa icon-gb-goals"></i>
     </div>
     <div class="gb-title">
      <p class="gb-ellipsis">
       FEATURED GOALS
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class='gb-body-row-4 gb-inline'>
   <div ng-repeat="explorer in explorersCtrl.explorers.goals"
        class="gb-card-holder gb-card-sm gb-padding-medium"
        gb-explorer-box explorer="explorer"
        template-url="{{appsCtrl.getTemplateUrl(explorer, '-sm')}}">
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-heading-row-4 row">
     <div class="gb-heading-icon">
      <i class="fa icon-gb-advices"></i>
     </div>
     <div class="gb-title">
      <p class="gb-ellipsis">
       FEATURED ADVICES
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class='gb-body-row-4 gb-inline'>
   <div ng-repeat="explorer in explorersCtrl.explorers.advices"
        class="gb-card-holder gb-card-sm gb-padding-medium"
        gb-explorer-box explorer="explorer"
        template-url="{{appsCtrl.getTemplateUrl(explorer, '-sm')}}">
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-heading-row-4 row">
     <div class="gb-heading-icon">
      <i class="fa icon-gb-hobbies"></i>
     </div>
     <div class="gb-title">
      <p class="gb-ellipsis">
       FEATURED HOBBIES
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class='gb-body-row-4 gb-inline'>
   <div ng-repeat="explorer in explorersCtrl.explorers.hobbies"
        class="gb-card-holder gb-card-sm gb-padding-medium"
        gb-explorer-box explorer="explorer"
        template-url="{{appsCtrl.getTemplateUrl(explorer, '-sm')}}">
   </div>
  </div>
  <div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="gb-heading-row-4 row">
     <div class="gb-heading-icon">
      <i class="fa icon-gb-promises"></i>
     </div>
     <div class="gb-title">
      <p class="gb-ellipsis">
       FEATURED PROMISES
      </p>
     </div>
    </div>
   </div>
  </div>
  <div class='gb-body-row-4 gb-inline'>
   <div ng-repeat="explorer in explorersCtrl.explorers.promises"
        class="gb-card-holder gb-card-sm gb-padding-medium"
        gb-explorer-box explorer="explorer"
        template-url="{{appsCtrl.getTemplateUrl(explorer, '-sm')}}">
   </div>
  </div>
 </div>
</div>
<!-- ------------------------------- MODALS ------------------------- -->

<script type="text/ng-template" id="add-explorer-modal.html">
 <div ng-include="'public/modules/explorer/views/add-explorer-modal.html'"></div>
</script>
<script type="text/ng-template" id="add-request-explorer-modal.html">
 <div ng-include="'public/modules/explorer/views/create-request-explorer-modal.html'"></div>
</script>